<section class="content-header">
	<h1>
		INVENTARIO ANUAL DE BIENES MUEBLES
		<small></small>
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-8">
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title">PLAZO ESTABLECIDO SEGÚN NORMA</h3>
					<div class="box-tools pull-right">
					</div>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col col-lg-12">
							<div class="card-body table-bordered3">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>DESCRIPCIÓN</th>
											<th>FECHA INICIO INVENTARIO</th>
											<th>PERIODO</th>
											<th>FECHA FINAL INVENTARIO</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let objCab of InvActual">
											<td>{{objCab.NOM_INVENTARIO}} </td>
											<td>{{objCab.FECHA_INICIO}}</td>
											<td>{{objCab.PERIODO}} </td>
											<td>{{objCab.FECHA_TERMINO}}</td>
										</tr>
									</tbody>
								</table>
								<div class="box-footer">
								<a [href]="RutaSinabip+'Manuales-Sinabip/Manual Registro del Inventario 2018.pdf'" target="__blank">
									<img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
									Descargar Guía de Usuario: Inventario {{Periodo}} </a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title">REGISTRAR INVENTARIO</h3>
					<div class="box-tools pull-right">
					</div>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col col-lg-3 ">
							<div class="table-bordered3">
								<div class="row col-md-auto">
									<div class="col col-lg-4 col-offset-md-2" style="margin: 55px 100px">
										<button type="submit" [disabled]="EstFinal_Arg?.ESTADO == 2" class="btn btn-primary" (click)="ValidaResponsablePredio(TotalActivo)">Inventario
											{{Periodo}}</button>
									</div>
								</div>
							</div>
						</div>
		
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title">INVENTARIO HISTORICO</h3>
					<div class="box-tools pull-right">
					</div>
				</div>
				<div class="box-body">
					<div class="card-body table wrap-table100">
						<table class="table">
							<thead>
								<tr class="table100-head">
									<th>
										<p class="text-center">Item</p>
									</th>
									<th>
										<p class="text-center">Inventario</p>
									</th>
									<th>
										<p class="text-center">Periodo</p>
									</th>
									<th>
										<p class="text-center">Fecha Inicio Inventario</p>
									</th>
									<th>
										<p class="text-center">Fecha Final Inventario</p>
									</th>
									<th>
										<p class="text-center">Estado Cumplimiento Inventario</p>
									</th>
									<th>
										<p class="text-center">Descargar Sustento Inventario</p>
									</th>
									<th>
										<p class="text-center">Inf. Final</p>
									</th>
									<th>
										<p class="text-center">Acta Conc.</p>
									</th>
								</tr>
							</thead>
							<tbody class="table-bordered3">
								<tr *ngFor="let obj of historicos">
									<th scope="row">
										<p class="text-center">{{obj.COD_INVENTARIO}}
									</th>
									<td>
										<p class="text-center">{{obj.NOM_INVENTARIO}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.PERIODO}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.FECHA_INICIO}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.FECHA_TERMINO}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.EST_CUMPLI_INV}}
									</td>
									<td style="color:rgb(0, 156, 213); text-align:center" class="separador_borde">
										<div *ngIf="obj.EST_CUMPLI_INV == 'CUMPLIÓ'">
											<a href="{{Sinabip.API_URL}}Pdf_SustentoInventario/{{obj.COD_ENTIDAD}}/{{obj.PERIODO}}" target="_blank">
												<img src="./assets/webimages/iconos/archivoPDF.png" width="20" height="20" border="0" />
											</a>
										</div>
									</td>
									<td style="color:rgb(0, 156, 213); text-align:center" class="separador_borde">
										<div *ngIf="obj.EST_CUMPLI_INV == 'CUMPLIÓ' && obj.NOM_ARCHIVO_INF_FINAL_INV != '' && obj.PERIODO <= '2017'">
											<a href="{{RutaSinabip}}repositorio_muebles/inventario/doc_informe_final_inv/{{ obj.NOM_ARCHIVO_INF_FINAL_INV}}"
											target="_blank">
												<img src="./assets/webimages/iconos/archivoPDF.png" width="20" height="20" border="0" /></a>
										</div>
										<div *ngIf="obj.EST_CUMPLI_INV == 'CUMPLIÓ' && obj.NOM_ARCHIVO_INF_FINAL_INV != '' && obj.PERIODO >= '2018'">
												<a href="{{RutaSinabip}}repositorio_muebles/Inventarios_zip/doc_informe_final_inv/{{ obj.NOM_ARCHIVO_INF_FINAL_INV}}"
												target="_blank">
													<img src="./assets/webimages/iconos/archivoPDF.png" width="20" height="20" border="0" /></a>
										</div>
									</td>
									<td style="color:rgb(0, 156, 213); text-align:center" class="separador_borde">
										<!-- {{obj.EST_CUMPLI_INV}} -->
										<div *ngIf="obj.EST_CUMPLI_INV == 'CUMPLIÓ' && obj.NOM_ARCHIVO_ACTA_CONCILI_INV != '' && obj.PERIODO <= '2017'">
											<a href="{{RutaSinabip}}repositorio_muebles/inventario/doc_acta_conciliacion/{{ obj.NOM_ARCHIVO_ACTA_CONCILI_INV}}"
											target="_blank">
												<img src="./assets/webimages/iconos/archivoPDF.png" width="20" height="20" border="0" /></a>
										</div>
										<div *ngIf="obj.EST_CUMPLI_INV == 'CUMPLIÓ' && obj.NOM_ARCHIVO_ACTA_CONCILI_INV != '' && obj.PERIODO >= '2018'">
											<a href="{{RutaSinabip}}repositorio_muebles/Inventarios_zip/doc_acta_conciliacion/{{ obj.NOM_ARCHIVO_ACTA_CONCILI_INV}}"
											target="_blank">
												<img src="./assets/webimages/iconos/archivoPDF.png" width="20" height="20" border="0" /></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>