<section class="content-header">
	<h1>
		404 ERROR PAGINA
	</h1>
</section>
<section class="content">
	<div class="error-page">
		<h2 class="headline text-red"> 404</h2>
	
		<div class="error-content">
			<h3><i class="fa fa-warning text-red"></i> Ups! Página no encontrada.</h3>
			<p>
				No hemos podido encontrar la página que estabas buscando. Mientras tanto, puede <a href="./"> al panel </a> o intentar usar el
				formulario de búsqueda.
			</p>

		</div>
		<!-- /.error-content -->
	</div>
</section>
