<section class="content-header">
	<h1>
		Carga de Documentos de Actos
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-12" [ngClass]="{'col-md-7' : (mostrar_carga)}">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">Filtro de Búsqueda</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-10">
								<div class="form-group">
									<label>Tipo de Actos</label>
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.tipo_acto" (change)="ListadoFormaActo()">
										<option selected="selected" value="">:: SELECCIONE UNA OPCIÓN ::</option>
										<option *ngFor="let objs of dataActosAdquisicion.formaAdq | keyvalue" [value]="objs.value.ESTADO_PARAMETRO">{{
											objs.value.DESCRIPCION_ESTADO }}</option>
									</select>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Nº Documento Sustentatorio</label>
											<input type="text" class="form-control" [(ngModel)]="filtro.nro_documento">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Forma de Acto</label>
											<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.forma_adquisicion">
												<option selected="selected" value="">:: TODOS ::</option>
												<option *ngFor="let objs of dataListado_Forma_Acto.formaActos | keyvalue" [value]="objs.value.CODIGO">{{
													objs.value.DESCRIPCION }}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Fecha desde</label>
											<div class="input-group date">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="date" class="form-control pull-right" id="datepicker" [(ngModel)]="filtro.fechaDesde">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Fecha hasta</label>
											<div class="input-group date">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="date" class="form-control pull-right" id="datepicker" [(ngModel)]="filtro.fechaHasta">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">  
										<button type="button" class="btn btn-primary btn-sm margentop1" (click)="buscar_actos()"><i class="fa fa-search"></i>
											Buscar &nbsp; &nbsp;
										</button>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary btn-sm margentop2" (click)="BorrarFiltro()"><i class="fa fa-close"></i>
											Borrar &nbsp; &nbsp;
										</button>
									</div>
									<!-- <div class="form-group">
										<a href="{{Sinabip.API_URL}}Pdf_Imprimir_Consolidado_Acto/{{filtro.cod_entidad}}/{{filtro.tipo_acto}}/{{filtro.forma_adquisicion}}/{{nro_documento_url}}/{{filtro.fechaDesde}}/{{filtro.fechaHasta}}" target="_blank">
											<button type="button" class="btn btn-success btn-sm">
												<i class="fa fa-pencil"></i>Imprimir
											</button>
										</a>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
					</div>
        </div>

        <div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Cantidad Faltante de Carga</h3>
							</div>
							<div class="box-body">
									<div class="col-md-1">
										<div class="form-group centrartext">
											<label>Altas</label>
											<input type="text" class="form-control widthcuadro" [(ngModel)]="cant_alt" disabled>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group centrartext">
											<label>Bajas</label>
                      <input type="text" class="form-control widthcuadro" [(ngModel)]="cant_baja" disabled>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group centrartext">
											<label>Administración</label>
                      <input type="text" class="form-control widthcuadro" [(ngModel)]="cant_admin" disabled>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group centrartext">
											<label>Disposición</label>
                      <input type="text" class="form-control widthcuadro" [(ngModel)]="cant_disp" disabled>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group ">
											<label>Total Faltantes</label>
                      <input type="text" class="form-control widthcuadro" [(ngModel)]="cant_util" disabled>
										</div>
									</div>
           
							</div>
						</div>
					</div>
        </div>
        

				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Listado de Actos</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>Item</th>
											<th>Forma de Acto</th>
											<th>Documento de Acto</th>
											<th>Fecha de Acto</th>
											<th>Estado</th>
											<th>Cargar Documento</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of dataActosAdquisicion.documento" [ngClass]="{'table-active':seleccionRows==obj.ID_ACTO}">
											<td>{{ obj.ROW_NUMBER_ID }}</td>
											<td>{{ obj.NOM_FORM }}</td>
											<td>{{ obj.NRO_DOCUMENTO }}</td>
											<td> {{ obj.FCH_DOCUMENTO }}</td>
											<td>{{ obj.ESTADO }}</td>
											<td>
												<button type="button" class="btn btn-primary btn-sm" (click)="verDetalleActo(obj.COD_ENTIDAD,obj.ID_ACTO,obj.TIPO_ACTO,obj.NRO_DOCUMENTO,obj.ID_ESTADO)">
													<i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Detalle&nbsp;
												</button>
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
        </div>
      </div>

      <div class="col-md-5" *ngIf="mostrar_carga == 1 ">
          <div class="box">
            <div class="box-header margin2">
              <div class="alert fondoinfocolor" role="alert">
                <div class="box-tools pull-right">
                  <button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
                <h3 class="box-title">ADJUNTAR DOCUMENTOS DE ACTO</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div>
                  <div class="box-body">
                    <div class="box box-solid box-danger">
                      <div class="box-header centrado">
                        <h3 class="box-title">Documento de Acto: {{NRO_DOCUMENTO}} </h3>
                      </div>
                      <div class="box-body centrado margin2">
                        <table>
                          <tr>
                            <td>
                              <label>Adjuntar Archivo (PDF):</label>
                            </td>
                            <td>
                              <angular-file-uploader #fileUpload1 [config]="afuConfig" (click)="Actualiza_InfFinal()" [resetUpload]="resetVar"
                               (ApiResponse)="open(content)">
                              </angular-file-uploader>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="box-body" *ngIf="TotalInf >= 1">
                        <table class="table3 table table-bordered table-striped">
                          <thead>
                            <tr class="table100-head">
                              <th><p class="text-center">Nombre Archivo</p></th>
                              <th><p class="text-center">Fecha de Carga</p></th>
                              <th><p class="text-center">Eliminar Archivo</p></th>
                            </tr>	
                          </thead>
                          <tbody class="table-bordered3">
                            <tr>
                              <td><p class="text-center">{{NomInf}}</p></td>
                              <td><p class="text-center">{{FechInfo}}</p></td>
                              <td>
                                <button type="button" style="width: 80px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="EliminarArchivoInvPdf(3)">Eliminar</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    &nbsp;
                    <div>
                      <!-- <table id="example2" border="0" class="table ">
                        <tr>
                          <th>-->
                            <p align="center">
                              <a target="_blank"> 
                                <button type="button" (click)="desabilitar_ventana()" style="width: 158px; height: 35px;" class="btn btn-primary btn-sm">
                                  Cerrar
                                </button>
                              </a>
                            </p>
                          <!-- </th>
                        </tr>
                      </table> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

			<div class="col-md-5" *ngIf="mostrar_carga == 2 ">
          <div class="box">
            <div class="box-header">
              <div class="alert fondoinfocolor" role="alert">
                <div class="box-tools pull-right">
                  <button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
                <h3 class="box-title">DOCUMENTO DE ACTO</h3>
              </div>
              <div>&nbsp;</div>
              <h3 class="box-title">Detalle de Documento de Acto</h3>
            </div>
            <div class="box-body">
              <table class="table3 table table-bordered table-striped  ">
                <thead>
                  <tr class="table100-head">
                    <th>
                      <p class="text-center">Nombre del Documento</p>
                    </th>
                    <th>
                      <p class="text-center">Nombre del Archivo</p>
                    </th>
                    <th>
                      <p class="text-center">Fecha de la Carga </p>
                    </th>
                  </tr>
                </thead>
                <tbody class="table-bordered3">
                  <tr >
                    <td>
                      <p class="text-center">{{NOMB_ARCHIVO}}</p>
                    </td>
                    <td>
                      <p class="text-center">{{NRO_DOCUMENTO2}}</p>
                    </td>
                    <td>
                      <p class="text-center">{{FCH_ADJUNTADO}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            &nbsp;
            <div class="box-body">
              <table id="example2" border="0" class="table ">
                <tr>
                  <th>
                    <p align="center">
                      <a target="_blank">
                        <button type="button" (click)="desabilitar_ventana()" style="width: 158px; height: 35px;" class="btn btn-primary btn-sm">
                          Cerrar
                        </button>
                      </a>
                    </p>
                  </th>
                </tr>
              </table>
            </div>
          </div>
      </div>
      
			<!-- <div class="col-md-5" *ngIf="!mostrarVentanaTipoRegistro && mostrarVentanaRegistroIndividual">
				<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	
					<div class="box box-info">
	
						<div class="box-header with-border">
							<div class="alert alert-primary" role="alert">
								<h3 class="box-title"> Detalle de Actos</h3>
							</div>
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
	
						<div class="box box-info">
							<div class="box-body">
								<hr>
								<table class="table table-bordered">
									<tr>
										<th style="width: 10px">Item</th>
										<th>Cod. Patrimonial</th>
										<th>Denominación del Bien </th>
										<th style="width: 40px">Valor Adq.</th>
										<th style="width: 40px">Detalle Técnico</th>
									</tr>
									<tr *ngFor="let obj of dataverDetalleActos.detalles">
										<td><span class="badge bg-red">{{ obj.ROW_NUMBER_ID }}</span></td>
										<td>{{ obj.CODIGO_PATRIMONIAL }} </td>
										<td>{{ obj.DENOMINACION_BIEN }}</td>
										<td>{{ obj.VALOR_ADQUIS }}</td>
										<td><button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-align-justify" (click)="seleccionBien1=false; seleccionBien2=false; mostrarVentanaCaracteristicas = true; open1(content, obj.COD_UE_BIEN_PATRI)"></i></button></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div> -->
		</div>
	</div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header colorred1">
      <h4>¿Esta seguro de subir el archivo?</h4>
      <button type="button" style="width: 150px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="AceptarAdjunto(); d('Cross click')"
       >Aceptar</button>
      <button type="button" style="width: 150px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="EliminarArchivo(); d('Cross click')"
       >Cancelar</button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <iframe [src]="urlPDF | safe" width="100%" height="850px"></iframe>
        </div>
      </form>
    </div>
  </ng-template>