.widthcuadro{
    width: 100px;
}

.margentop1{
    margin-top: 28px;
}

.margentop2{
    margin-top: 28px;
}

.centrartext{
    text-align: center;
}

.fondoinfocolor {
    background-color: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
    border-radius: 1; 
    font-size: 19px;
  }
