<section class="content-header">
	<h1>
		Recepcion de Bienes por Acto de Administracion
		<small></small>
	</h1>
</section>

<section class="content">
  <button class="btn btn-danger" (click)="ventanaTipoRegistro()">Nueva Recepcion</button><br><br> 
  <div class="row">
    <div class="col-md-12" [ngClass]="{'col-md-7' : (mostrarVentanaTipoRegistro) }">
        <div class="box box-solid box-danger">
            <div class="box-header">
              <h3 class="box-title">Búsqueda de Recepción</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div>
            
            <div class="box-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    
                    <label>Tipo de Ingreso</label> 
                    <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.forma_adquisicion">
                      <option selected="selected" value="-1">:: TODOS ::</option>
                      <option *ngFor="let objs of dataActosAdquisicion.formaAdq | keyvalue" [value] = "objs.value.COD_ACTO_ADMINIS" >{{ objs.value.NOM_ACTO_ADMINIS }}</option>
                    </select>    
                  </div>
                  
                  <div class="form-group">
                      <label>Nº Documento Sustentatorio</label>
                      <input type="text" class="form-control" [(ngModel)] = "filtro.nro_documento">
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Año Recepción</label>
                            <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.fecha.year"> 
                                <option *ngFor="let objs of dataAnio" [value] = "objs.DESCRIPCION" >{{ objs.DESCRIPCION }}</option>
                              </select>
                        </div>  
                    </div>  
                              
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mes Recepción</label>
                            <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.fecha.month"> 
                                <option selected="selected" value="-1">:: TODOS LOS MESES ::</option>
                                <option *ngFor="let obj of dataMes" [value] = "obj.ID"  >{{ obj.DESCRIPCION }}</option>
                              </select>
                        </div>
                    </div>
                                
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.estado">
                                <option selected="selected" value="-1">:: TODOS LOS ESTADOS ::</option>
                                <option value="0">Pendiente</option>
                                <option value="1">Finalizado</option>
                                <option value="2">Anulado</option>
                              </select>
                        </div>
                    </div>
                  
                  </div>
                </div>
                
                <div class="row">
                <div class="col-md-2">  
                  <div class="form-group"> 
                      <button type="button" class="btn btn-primary btn-sm" (click)="Listado_Recepcion_Bienes(); mostrarVentanaTipoRegistro = false; mostrarVentanaRegistroIndividual = false; mostrarVentanaRegistroMasivo = false;"><i class="fa fa-search"></i> Buscar</button>
                  </div>

                  <div class="form-group">
                      <button type="button" class="btn btn-primary btn-sm" (click)="BorrarFiltro()"><i class="fa fa-close"></i> Borrar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
            
            <div class="box-footer">
              <a [href]="RutaSinabip+'Manuales-Sinabip/SINABIP_MUEBLES_REGISTROS_RECEPCION_BIENES_X_ACTO_DE_ADMINISTRACION.pdf'" target="__blank">
                <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
                  Descargar Guía de Usuario: Recepción de Bienes</a>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid box-danger">
                <div class="box-header">
                  <h3 class="box-title">Listado de Recepción de Bienes</h3>
                </div>
                
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th>Item</th>
                      <th>Tipo de Ingreso</th>
                      <th>Documento Sustentatorio</th>
                      <th>Fecha Recepción</th>
                      <th>Estado</th>
                      <th>Total Bienes</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let obj of dataActosAdquisicion.documento" [ngClass]="{'table-active':seleccionRows==obj.COD_UE_BIEN_ALTA}">
                      <td>{{ obj.ROW_NUMBER_ID }}</td>
                      <td>{{ obj.NOM_ACTO_ADMINIS }}</td>
                      <td>{{ obj.NRO_DOCUMENTO }}</td>
                      <td> {{ obj.FECHA_DOCUMENTO | date:"dd-MM-yyyy"}}</td>
                      <td>{{ obj.ESTADO }}</td>
                      <td>{{ obj.TOTAL_BIENES }}</td>
                      <td ><button type="button" class="btn btn-primary btn-sm" (click)="editarRecepcion(obj.COD_UE_BIEN_RECEPCION)" ><i class="fa fa-pencil"></i> Editar</button></td>
                      <td><button *ngIf="obj.ESTADO !== 'FINALIZADO'" type="button" class="btn btn-danger btn-sm" (click)="Eliminar_Recepcion(obj.COD_ENTIDAD, obj.COD_UE_BIEN_RECEPCION)"><i class="fa fa-trash"></i> Eliminar</button></td>
                    </tr>
                    </tbody>
                    
                  </table>
                  <nav class="mt-3" *ngIf="total >= itemsPerPage">
                      <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                  </nav>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-5" *ngIf="mostrarVentanaTipoRegistro">
                  
      <div class="box box-info">
        
        <div class="box-header with-border">
          
          <div class="alert alert-info" role="alert">
              Registro de Recepción de Bienes Muebles {{ title }}
          </div>
          <div class="col-md-12">
            <div class="form-group col-md-auto">
              
              <app-tipo-registro *ngIf = "title == 'hola'"
                [tipo]="title"
                (escuchapapi)="datosdelhijo($event)"
              >
              </app-tipo-registro>

              <app-forma-individual *ngIf = "title == 'individual'" 
                (escuchaGuardadodeHijo)="guardoRecepcionHijo($event)"
                (_eventoGuardar1)="eventoGuardar($event)"
                (_eventoEliminarDetalle)="eventoEliminarDet($event)"
                [id_acto]="paramAgregar.id_acto">
              </app-forma-individual>
              
              <app-forma-masiva *ngIf = "title == 'masiva'"
              (_eventoGuardar1)="eventoGuardar($event)">

              </app-forma-masiva>
              
          </div>

        </div>
            

            
        </div>
      </div>
   </div>


  </div>
</section>

<div>
  
</div>