<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div class="box box-info">
            <div class="box-header with-border">
                <!-- <div class="alert alert-warning" role="alert" *ngIf="modificando_registro==''">
                  <span style="font-size: 16px"><strong>Nuevo</strong> Registro de Acto de Adquisición de Forma Individual</span>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="paramAgregar.estado !== 'FINALIZADO' && modificando_registro=='M'">
                  <span style="font-size: 16px"><strong>Modificación</strong> de Registro de Acto de Adquisición</span>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="paramAgregar.estado == 'FINALIZADO' && modificando_registro=='M'">
                  <span style="font-size: 16px"><strong>Consulta</strong> de Registro de Acto de Adquisición</span>
                </div> -->
              <h3 class="box-title">Datos de la Adquisición</h3>
              
            </div>
            
                <div class="box-body">
                    <div class="form-group">  
                      <label>Acto de Adquisición</label>
                      <select formControlName="formaAdquisicion" class="form-control select2" [ngClass]="{ 'is-invalid': submitted && f.formaAdquisicion.errors }" style="width: 100%;" id="combox1" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                        <option selected="selected" value="undefined" disabled>:: SELECCIONE OPCION ::</option>
                        <option *ngFor="let objs of dataListadoTipoAdministracion.documento" [value] = "objs.COD_ACTO_ADMINIS" >{{ objs.NOM_ACTO_ADMINIS }} </option>
                      </select>
                      <div *ngIf="submitted && f.formaAdquisicion.errors" class="text-danger">
                          <div *ngIf="f.formaAdquisicion.errors.required">Tipo de Acto de Administración es requerida</div> 
                      </div>
                    </div>
  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nro Resolución</label>   
                                <input type="text" formControlName="documentoActo" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.documentoActo.errors }" placeholder="Ingresa el Nº de Documento" value= "{{dataEditarActos.cabecera?.NRO_DOCUMENTO}}" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                <div *ngIf="submitted && f.documentoActo.errors" class="text-danger">
                                    <div *ngIf="f.documentoActo.errors.required">Nro de Resolución es requerida</div>
                                </div>
                            </div>  
                        </div> 

                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Fecha Resolución</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" formControlName="fechaAdministracion" class="form-control pull-right" [ngClass]="{ 'is-invalid': submitted && f.fechaAdministracion.errors }" id="datepicker" value= "{{dataEditarActos.cabecera?.FECHA_DOCUMENTO}}"  [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                <div *ngIf="submitted && f.fechaAdministracion.errors" class="text-danger">
                                    <div *ngIf="f.fechaAdministracion.errors.required">Fecha de Resolución es requerida</div>
                                </div>
                            </div>
                            </div>  
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fecha de Inicio del Acto</label>
                                <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" formControlName="fechaInicio" class="form-control pull-right" [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.errors }" id="datepicker" value= "{{dataEditarActos.cabecera?.FECHA_INICIA_ACTO_ADMINIS}}"  [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                <div *ngIf="submitted && f.fechaInicio.errors" class="text-danger">
                                    <div *ngIf="f.fechaInicio.errors.required">Fecha de Inicio es requerida</div>
                                </div>
                                </div>
                            </div>  
                        </div> 

                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Fecha de Vencimiento</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" formControlName="fechaVencimiento" class="form-control pull-right" [ngClass]="{ 'is-invalid': submitted && f.fechaVencimiento.errors }" id="datepicker" value= "{{dataEditarActos.cabecera?.FECHA_VENCE_ACTO_ADMINIS}}"  [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                <div *ngIf="submitted && f.fechaVencimiento.errors" class="text-danger">
                                    <div *ngIf="f.fechaVencimiento.errors.required">Fecha de Vencimiento es requerida</div>
                                </div>
                            </div>
                            </div>  
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tipo de Beneficiario</label>
                                <select formControlName="tipoBeneficiario" class="form-control select2" [ngClass]="{ 'is-invalid': submitted && f.tipoBeneficiario.errors }" style="width: 100%;" [disabled] = "paramAgregar.estado == 'FINALIZADO'" id="combox2"> 

                                <option selected="selected" value="undefined" disabled>:: SELECCIONE OPCION ::</option>
                                <option *ngFor="let objs of dataListadoTipoAdministracion.tipoBenef" [value] = "objs.COD_TIPO_BENEF" >{{ objs.NOM_TIP_BENEF }} </option>
                                </select>
                                <div *ngIf="submitted && f.tipoBeneficiario.errors" class="text-danger">
                                    <div *ngIf="f.tipoBeneficiario.errors.required">Tipo de Beneficiario es requerida</div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>RUC del Beneficiario</label>   
                            <input type="text" formControlName="rucBeneficiario" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.rucBeneficiario.errors }" placeholder="Ingresa el Nº de Documento" value= "{{dataEditarActos.cabecera?.RUC_BENEF_ADMINIS}}"  [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                            <div *ngIf="submitted && f.rucBeneficiario.errors" class="text-danger">
                                <div *ngIf="f.rucBeneficiario.errors.required">Nro de RUC es requerida</div>
                            </div>
                            </div>  
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="TXT_COD_UE_BIEN_ALTA">  
                            </div>
                        
                        </div>
                    </div>
                </div>

                <div class="box box-info">
  
                    <div class="box-header with-border">
                        <h3 class="box-title">Bienes Muebles</h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                            
                        <div class="form-group" *ngIf="paramAgregar.estado !== 'FINALIZADO'"> 
                            <label>Seleccione Tipo de bien del Catálogo</label>
                            <a class="btn btn-primary pull-right" (click)="abrirListaCatalogoBienes(content)" >+</a>
                        </div>
                        <hr>

                        <table class="table table-bordered">
                        <tr>
                        
                        <th style="width: 10px">Item</th>
                        <th>Cod. Patrimonial</th>
                        <th>Denominación del Bien </th>
                        <th style="width: 40px">Detalle Técnico</th>
                        <th style="width: 40px">Eliminar</th>
                        </tr>

                        
                        <tr class="tabla_detalles" *ngFor= "let obj of dataEditarActos.detalles" style="cursor: hand">
                            <td><span class="badge bg-red">{{ obj.ROW_NUMBER_ID }}</span></td>
                            <td>{{ obj.CODIGO_PATRIMONIAL }}</td>
                            <td>{{ obj.DENOMINACION_BIEN }}</td>
                            <!-- <td><button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-align-justify" ></i></button></td>
                            <td><button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove" ></i></button></td> -->

                            <td><button type="button" class="btn btn-primary btn-sm" (click)="open1(content, obj.COD_UE_BIEN_PATRI)"><i class="glyphicon glyphicon-align-justify"></i></button></td>
                            <td><button *ngIf="obj.ESTADO !== 'FINALIZADO'" type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove" (click)="Eliminar_Bien_Recepcion(obj.COD_UE_BIEN_PATRI);"></i></button></td>
                        </tr>
                            
                        </table>
                            
                    </div>
  
                </div>

                
                    

              
            
            <div class="form-group">
                <button [disabled]="" class="btn btn-primary pull-right" >Guardar</button>
            </div>
        </div>
</form>


<!-- LIstado de Catalogo -->

<ng-template #content let-modal>

        <!-- 1) Listado de Catalogo -->
        <div *ngIf="!flag_SeleccionCatalogo && !flag_caracteristicas">
            <div class="modal-header p-2 formatear_box-header">
            <h5 class="modal-title" id="modal-basic-title"></h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
            <!-- cuerpo del modal -->
            
                <div class="row">
                    
                    <div class="box box-info">
                        
                        <div class="box-header with-border">
                            <div class="alert alert-info paneles_info" role="alert"> 
                                Catálogo de Bienes Muebles de la SBN
                            </div>
                        </div>
                        
    
                            <div class="row margenes_1">
                                <div class="col-md-5">
                                        <div class="input-group input-group-sm mb-3"> 
                                                <label class="contenido">Grupo Genérico</label>
                                                <select class="form-control" style="width: 100%;" name="nro_grupo" [(ngModel)]="parametros.nro_grupo" (change)="ListadoCatalogoFormaIndividual()">  
                                                    <option selected="selected" value="-1">:: SELECCIONE OPCION ::</option>
                                                    <option *ngFor="let obj of dataFormaIndividual.grupos | keyvalue" value="{{obj.value.NRO_GRUPO}}">{{ obj.value.DESC_GRUPO }}</option>
                                                </select>
                                        </div>   
                                </div> 
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                            <div class="input-group input-group-sm mb-3"> 
                                                <label class="contenido">Clase Genérico</label>
                                                <select class="form-control select2" style="width: 100%;" name="nro_clase" [(ngModel)]="parametros.nro_clase"> 
                                                    <option selected="selected" value = "-1">:: SELECCIONE OPCION ::</option>
                                                    <option *ngFor="let obj of dataFormaIndividual.clases | keyvalue" value="{{obj.value.NRO_CLASE}}">{{ obj.value.DESC_CLASE }}</option>
                                                </select>
                                            </div>
                                    </div>  
                                </div> 
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary pull-right" (click)="ListadoCatalogoFormaIndividual()">Buscar</button>
                                    </div>
                                </div>
                            
                            </div>
    
                            <div class="row margenes_1">
                                <div class="col-md-5">
                                    <div class="form-group">
                                    <div class="input-group input-group-sm mb-3"> 
                                        <label class="contenido">Tipo del Bien</label>
                                        <input type="text" class="form-control" name="denom_bien" [(ngModel)]="parametros.denom_bien">
                                    </div> 
                                    </div>  
                                </div> 
    
                                <div class="col-md-5">
                                <div class="form-group">
                                    <div class="input-group input-group-sm mb-3"> 
                                    <label class="contenido">Código Tipo del Bien</label>
                                    <input type="text" class="form-control" name="nro_bien" [(ngModel)]="parametros.nro_bien">
                                    </div>
                                </div>  
                                </div> 
                            </div>
                            
                        
    
                        <div class="box box-info">
                            
                            <!-- /.box-header -->
                            <div class="box-body">  
                                <div class="form-group"> 
                                    <hr>
                                    <table class="table table-bordered table_movimiento_cursor">
                                    <thead>
                                        <tr class="tabla_cabecera">
                                            <th style="width: 10px">ID</th>
                                            <th style="width: 10px">Código</th>
                                            <th>Denominación del Catálogo</th>
                                            <th>Grupo</th>
                                            <th style="width: 40px">Clase</th>
                                            <th style="width: 40px">Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tabla_detalles" *ngFor= "let obj of dataFormaIndividual.catalogo" style="cursor: hand"> 
                                            <td>{{ obj.ROW_NUMBER_ID }}</td>
                                            <td>{{ obj.NRO_BIEN }}</td>
                                            <td>{{ obj.DENOM_BIEN }}</td>
                                            <td>{{ obj.DESC_GRUPO }}</td>
                                            <td>{{ obj.DESC_CLASE }}</td>
                                            <td><a (click)="abrirVentaSeleccionCatalogo(obj, content);">Seleccionar</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                    
                                </div>
                                <nav class="mt-3" *ngIf="total >= itemsPerPage">
                                    <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="parametros.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPageCatalogo($event)"></ngb-pagination>
                                </nav>
                            </div>
                            
                        
                        <div class="footer">
                            <div class="row margenes_1">
                            <div class="col-md-12">
                                <div class="form-group">
                                <button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>                
                </div>            
    
            </div>
        </div>
        <!-- Fin de Listado de Catalogo -->
    
        <!-- 2) Catalogo Seleccionado -->
        <div *ngIf="flag_SeleccionCatalogo && !flag_caracteristicas">
                <div class="modal-body">
                    <div class="row">
        
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <div class="alert alert-info" role="alert"> 
                                    <span style="font-size: 18px">Catalogo de Bien Seleccionado</span>		
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
        
        
        
                                        <div class="panel-heading"> 
                                            <span style="font-weight: bold">Datos del Bien a Registrar</span>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Código</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.codigo_patrimonial" aria-label="Username" aria-describedby="basic-addon1" >
                                                </div>
                                            </div>
        
                                            <div class="row mb-3"> 
                                                <div class="col-md-4">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Denominación de Catálogo</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.denominacion_bien" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                            <div class="col-md-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Cantidad</span>
                                                </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" [(ngModel)]="paramAgregar.cantidad" (keypress)="keyPress($event)" max="50" min="1" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">Valor Unitario S/. (9999.00)</span>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" [(ngModel)]="paramAgregar.valor_adq" (keypress)="keyPresspuntos($event)" aria-label="Username" aria-describedby="basic-addon1">
                                                    </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
        
                                    <div class="footer">
                                            <div class="row margenes_1">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                <button class="btn btn-primary pull-left btn btn-danger" (click)="this.paramAgregar.cantidad = ''; this.paramAgregar.valor_adq = ''; this.flag_SeleccionCatalogo = false; modal.dismiss('Cross click')">Cerrar</button>
                                                <button class="btn btn-primary pull-right" (click)="AgregarBien_para_Recepcion();">Agregar Bien</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                            </div>
                                
        
                            <!-- fin de formulario de caracteristicas de Bienes -->
                        </div>
                    </div>                
                </div>
        </div>
        <!-- Fin de Catalogo Seleccionado -->


        <!-- 3) Formulario de caracteristicas de Bienes -->
        
        <div *ngIf="flag_caracteristicas">

	  <!-- <div class="modal-header p-2">
		<h5 class="modal-title" id="modal-basic-title"></h5>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div> -->
	  <div class="modal-body">
		
		<div class="row">
			  
			  <div class="box box-info">
				
				  <div class="box-header with-border">
					  <div class="alert alert-info" role="alert"> 
						  <span style="font-size: 18px">Caracteristicas de Bienes Patrimoniales</span>		
					  </div>
				  </div>

					<div class="row">
					  <div class="col-md-12">
						  <div class="panel panel-default">
							<div class="panel-heading"> 
								<span style="font-weight: bold">Datos de Acto de Adquisición</span>
							</div>
							
							<div class="panel-body">
								<div class="row mb-3">
									<div class="col-md-4">
									  <div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Forma de Adquisición</span>
									  </div>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" [(ngModel)]="paramBien.formaAdquis" aria-label="Username" aria-describedby="basic-addon1" disabled>
									</div>
								</div>

								<div class="row mb-3"> 
									<div class="col-md-4">
									  <div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Nº Documento Adquisición</span>
									  </div>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" [(ngModel)]="paramBien.nroDocAdquis" aria-label="Username" aria-describedby="basic-addon1" disabled>
									</div>
								</div>
								<div class="row mb-3">
								<div class="col-md-4">
									<div class="input-group-prepend">
									  <span class="input-group-text" id="basic-addon1">Fecha Adquisición</span>
									</div>
								  </div>
								  <div class="col-md-8">
									  <input type="text" class="form-control" [(ngModel)]="paramBien.fechaAdquis" aria-label="Username" aria-describedby="basic-addon1" disabled>
									</div>
								</div>
							</div>
							  
							</div>
							
						  </div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<span style="font-weight: bold">Datos del Bien Patrimonial</span>
								</div>							  
							  <div class="panel-body">
								  <div class="row mb-3">
									  <div class="col-md-4">
										<div class="input-group-prepend">
										  <span class="input-group-text" id="basic-addon1">Código Patrimonial</span>
										</div>
									  </div>
									  <div class="col-md-8">
										  <input type="text" class="form-control" [(ngModel)]="paramBien.codigopatri" aria-label="Username" aria-describedby="basic-addon1" disabled>
									  </div>
								  </div>

								  <div class="row mb-3">
									  <div class="col-md-4">
										<div class="input-group-prepend">
										  <span class="input-group-text" id="basic-addon1">Denominación del Bien</span>
										</div>
									  </div>
									  <div class="col-md-8">
										  <input type="text" class="form-control" placeholder="Ingrese denominación del Bien" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'" id="denomBien" name="denomBien" required minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien.denomBien" #denomBien="ngModel" required >
										  <div *ngIf="denomBien.invalid && (denomBien.dirty || denomBien.touched)"
											  class="alert alert-danger">

											<div *ngIf="denomBien.errors.required"> 
											  Denominación del Bien es requerido.
											</div>
											<div *ngIf="denomBien.errors.minlength">
											  Campo no debe ser menor a 4 digitos.
											</div>
										  </div>
									  </div>
								  </div>
							  </div>
								
							  </div>
							  
							</div>
					  </div>

					  <div class="row">
						  <div class="col-md-12">
							  <div class="panel panel-default">
								<div class="panel-heading">
										<span style="font-weight: bold">Detalles Técnicos del Bien</span>
								</div>
								
								<div class="panel-body">
									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Marca</span>
										  </div>
										</div>
										<div class="col-md-8"> 
											<input type="text" class="form-control" placeholder="Ingrese Marca" [(ngModel)]="paramBien.marca" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XMARCA == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Modelo</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Modelo" [(ngModel)]="paramBien.modelo" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XMODELO == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Tipo</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Tipo" [(ngModel)]="paramBien.tipo" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XTIPO == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Color</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Color" [(ngModel)]="paramBien.color" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XCOLOR == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Nº Serie</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Serie" [(ngModel)]="paramBien.nroSerie" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XSERIE == ''">
										</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Dimensión</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Dimensión (Longitud * Altura * Ancho)" [(ngModel)]="paramBien.dimension" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XDIMENSION == ''">
											</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Placa/Matricula</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Placa y/o Matricula" [(ngModel)]="paramBien.placa_matri" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XPLACA == ''">
											</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Nro. Motor</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Nro. de Motor" [(ngModel)]="paramBien.nroMotor" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XMOTOR == ''">
											</div>
									</div>



									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Nº Chasis</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Nº de Chasis" [(ngModel)]="paramBien.nroChasis" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XCHASIS == ''">
										</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Año de Fabricación</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Año de Fabricación" [(ngModel)]="paramBien.anioFabric" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XANIO_FABRICACION == ''" (keypress)="keyPress($event)">
											</div>
										</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Raza</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Raza" [(ngModel)]="paramBien.raza" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XRAZA == ''"> 
										</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Especie</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Especie" [(ngModel)]="paramBien.especie" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XESPECIE == ''">
											</div>
										</div>

										<div class="row mb-3">
												<div class="col-md-4">
													<div class="input-group-prepend">
													<span class="input-group-text" id="basic-addon1">Edad</span> 
													</div>
												</div>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="Ingrese Edad" [(ngModel)]="paramBien.edad" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XEDAD == ''">
												</div>
											</div>


									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Otras Caracteristicas</span> 
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Otras Caracteristicas" [(ngModel)]="paramBien.otrasCaract" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XOTRAS_CARACTERISTICAS == ''">
										</div>
									</div>

								</div>
								  
								</div>
								
								
							  </div>

							  <div class="col-md-12">
								  <div class="panel panel-default">
									  <div class="panel-heading">
												<span style="font-weight: bold">Datos Contables y Otros</span>
										</div>
									  
									  <div class="panel-body">
										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Uso de Cuenta</span>
												</div>
											  </div>
											  <div class="col-md-8">
												<select class="form-control select2" style="width: 100%;" name="usoCta" [(ngModel)]="paramBien.usoCta" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													<!-- <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option> -->
													<option selected="selected" value="P">DE USO PRIVADO</option>
													<option value="E">DE USO ESTATAL</option>
												</select>
											  </div>
										  </div>
	  
										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Tipo de Cuenta</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="TipoCta" [(ngModel)]="paramBien.TipoCta" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option value="A">ACTIVO FIJO</option>
													  <option value="O">CUENTA DE ORDEN</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Cuenta Contable</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="CtaContable"  [(ngModel)]="paramBien.CtaContable" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option *ngFor="let objs of dataCaracteristicasBien.CuentasContables | keyvalue" [value] = "objs.value.COD_CTA_CONTABLE"  >{{ objs.value.DESCRIPCION_CUENTA_CONTABLE }}</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Valor Adquisición</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <input type="text" class="form-control" placeholder="Valor de Adquisición" [(ngModel)]="paramBien.valorAdquis" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'" (keypress)="keyPresspuntos($event)">
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">% Depreciación</span>
												</div>
											  </div>
											  <div class="col-md-3">
												  <input type="text" class="form-control" placeholder="Porcentaje de Depreciación" [(ngModel)]="paramBien.porcDeprec" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
												</div>
												
												<div class="col-md-2">
													<div class="input-group-prepend">
														<span class="input-group-text" id="basic-addon1">% Depreciación Catálogo</span> 
													</div>
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control" [(ngModel)]="paramBien.DEPRECIACION" aria-label="Username" aria-describedby="basic-addon1" disabled>
													</div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Asegurado</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="asegurado" [(ngModel)]="paramBien.asegurado" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option value="SI">SI</option>
													  <option value="NO">NO</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Estado del Bien</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="estadoBien" [(ngModel)]="paramBien.estadoBien" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option *ngFor="let objs of dataCaracteristicasBien.EstadosBien | keyvalue" [value] = "objs.value.COD_ESTADO_BIEN" >{{ objs.value.DESCRIPCION_ESTADO_BIEN }}</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Observación</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <input type="text" class="form-control" placeholder="Ingrese Observación" [(ngModel)]="paramBien.observacion" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
											  </div>
										  </div>                                              

											
											<!-- <div class="panel panel-default"> -->
												<div class="panel-body">
														<div class="row">
															<!-- <div class="col posicion2"> -->
																<button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
																<button class="btn btn-primary pull-right" (click)="Guardar_Caracteristicas_Bien()" [disabled] = "paramAgregar.estado == 'FINALIZADO'">Guardar Caracteristicas</button>
															<!-- </div> -->
														</div>
												</div>
											<!-- </div> -->


									  </div>
									  </div>
								</div>
						</div>

					<!-- fin de formulario de caracteristicas de Bienes -->
			  </div>
			</div>                
		  </div>
        </div>
        
        <!-- Fin de Formulario de caracteristicas de Bienes -->

</ng-template>
    
    
      
    

      
