.botn-blq-1 {
    width: 35%;
    margin: 0 auto;
    }
   
.botn-blq-2 {
    width: 47%;
    margin: 0 auto;
}

.botn-blq-3 {
    width: 150px; 
    height: 35px; 
    font-size: 11px;
    color: black;
    font-weight: bold;
}

.botn-blq-4 {
    width: 75%;
    margin: 0 auto;
}

.colorfond {
    background: #dd4b39;
    color: white;
    font-weight: bold;
    border-radius: 1;
}

.colorfondNeg {
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 1;
    }

.colorfond2 {
    background: #fbfbfb;
    color: white;
    font-weight: bold;
    border-radius: 1;
}
    
.fondverde {
    background-color: #d4edda;
    border-radius: 1;
}

.bordetop {
    border-top: 0px solid #d2d6de;
}
    
.colorred1 {
    background: #dd4b39;
    color: white;
    font-weight: bold;
    border-radius: 2;
}

.centrado {
  text-align: center;
  font-weight: bold;
}

.padd {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.margtabl {
    margin: -2px 7px -2px;
}

.fontsize3 {
    font-size: 15px;
}

.box.box-solid.box-danger2 > .box-header {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
}

.fondoinfocolor {
    background-color: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
    border-radius: 1; 
    font-size: 19px;
}

.colornegrotext{
    color: black;
}

.fondotitulopdf {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
}