<section class="content-header">
	<h1>
		ASIGNACIÓN DE BIENES MUEBLES
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-12" [ngClass]="{'col-md-7' : (mostrar_carga!=null && mostrar_carga?.estado==1)  }">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Nro de Documento:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="nrodocument" type="number" class="form-control my-colorpicker1" name="nrodocument1" [(ngModel)]="filtro.nrodocument">

								</div>
								<div class="col-6 col-md-2">
									<p align="center">Nombre:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="nombre" type="text" class="form-control my-colorpicker1" name="nombre1" [(ngModel)]="filtro.nombre">
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag()" (click)="ListadoPersonalAsignar()"><i
										class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Ape. Paterno:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="appaterpers" type="text" class="form-control my-colorpicker1" name="appaterpers1" [(ngModel)]="filtro.appaterpers">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Ape. Materno:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="apmaterpers" type="text" class="form-control my-colorpicker1" name="apmaterpers1" [(ngModel)]="filtro.apmaterpers">
								</div>
								<div class="col-6 col-md-4">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Lista de personal asignar</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Nro. Documento</p>
											</th>
											<th>
												<p align="center">Ape. Paterno</p>
											</th>
											<th>
												<p align="center">Ape. Materno</p>
											</th>
											<th>
												<p align="center">Nombre</p>
											</th>
											<th>
												<p align="center">Asignar</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ListPers_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.NRO_DOCUMENTO}}</td>
											<td align="center">{{obj.UE_APEPAT_PERS}}</td>
											<td align="center">{{obj.UE_APEMAT_PERS}}</td>
											<td align="center">{{obj.UE_NOMBRES_PERS}}</td>
											<td align="center">
												<button type="button" class="btn btn-primary botn-blq-4" (click)='nuevo(obj.COD_UE_PERS,1)'> SELECCIONAR
												</button>
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									[rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-5" *ngIf="mostrar_carga!=null && mostrar_carga?.estado==1">
				<div class="box bordetop">
					<div class="box-header colorfond2">
						<div class="alert fondoinfocolor" role="alert">
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
							</div>
							<h3 class="box-title">REGISTRO DE UBICACION</h3>
						</div>
						<div class="col-6 col-md-12">&nbsp;</div>
						<h3 class="box-title colornegrotext">PERSONAL ASIGNAR: {{NomPersonal}} </h3>
						<div class="col-6 col-md-12">&nbsp;</div>
					</div>
					<div class="box box-solid box-danger">
						<div class="box-header">
							<h3 class="box-title">Seleccione la ubicación del bien</h3>
							<div class="box-tools pull-right">
							</div>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col v2 subtit">
									<div class="col-6 col-md-2">
										<p align="center">Local:</p>
									</div>
									<div class="col-6 col-md-6">
										<select class="form-control select2" style="width: 100%;" (change)="ActualizaArea()" [(ngModel)]="ListadoAreaPredio.id_predio">
											<option selected="selected" value="">:: TODOS ::</option>
											<option *ngFor="let objs of ListPred_Arg" [value]="objs.ID_PREDIO_SBN">
												{{ objs.DENOMINACION_PREDIO }}
											</option>
										</select>
									</div>
									<div class="col-6 col-md-4">&nbsp;</div>
									<div class="col-6 col-md-12">&nbsp;</div>
									<div class="col-6 col-md-2">
										<p align="center">Area:</p>
									</div>
									<div class="col-6 col-md-6">
										<select class="form-control select2" style="width: 100%;" [(ngModel)]="ListadoAreaPredio.id_area">
											<option selected="selected" value="">:: TODOS ::</option>
											<option *ngFor="let objs of ListArea_Arg" [value]="objs.COD_UE_AREA">
												{{ objs.DESC_AREA }}
											</option>
										</select>
									</div>
									<div class="col-6 col-md-4">&nbsp;</div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<div class="col-6 col-md-3">&nbsp;</div>
							<div class="col-6 col-md-6">
								<button type="button" class="btn btn-primary botn-blq-2" (click)="open(content)">Aceptar</button>
								<button type="button" class="btn btn-primary botn-blq-2" (click)="desabilitar_ventana()">Cancelar</button>
							</div>
							<div class="col-6 col-md-3">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12 padd">
				<div class="col">
					<div class="card bg-light mb-12">
						<div class="card-body colorwhite">
							<div class="col-6 col-md-12">
								<h2 class="box-title">
									<input class="form-control centrado" type="text" placeholder="RESUMEN DE ASIGNACIÓN DE BIENES MUEBLES" readonly>
								</h2>
							</div>
							<div class="col-6 col-md-12">&nbsp;</div>
							<div class="col-6 col-md-6">
								<input class="form-control centrado" type="text" placeholder="Nro. Asignación: {{AgregarCabAsig_Arg[0]?.NROASIG}}"
								 readonly>
							</div>
							<div class="col-6 col-md-6">
								<input class="form-control centrado" type="text" placeholder="Fecha Asignación: {{AgregarCabAsig_Arg[0]?.FECHA_ASIG}}"
								 readonly>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-12">&nbsp;</div>
				<div class="w-100"></div>
				<div class="col">
					<div class="card bg-light mb-3">
						<div class="card-body colorwhite">
							<div class="box-body">
								<table id="example2" class="table table-bordered  table-striped">
									<thead>
										<tr>
											<th class="colorred1" colspan="2">
												<p class="margtabl" align="left">Personal Asignado</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="width: 50%;">Nro de Documento:</td>
											<td align="left">{{NroDocumento}}</td>
										</tr>
										<tr>
											<td>Nombre:</td>
											<td align="left">{{NomPersonal}}</td>
										</tr>
									</tbody>
								</table>
							</div>
	
							<div class="box-body">
								<table id="example2" class="table table-bordered  table-striped">
									<thead>
										<tr>
											<th class="colorred1" colspan="2">
												<p class="margtabl" align="left">Ubicación del Bien</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="width: 50%;">Local:</td>
											<td align="left">{{NomPredio}}</td>
										</tr>
										<tr>
											<td>Area: </td>
											<td align="left">{{NomArea}}</td>
										</tr>
									</tbody>
								</table>
							</div>
	
							<div class="box-body">
								<table id="example2" class="table table-bordered  table-striped">
									<thead>
										<tr>
											<th class="colorred1" colspan="2">
												<p class="margtabl" align="left">Bienes Asignados</p>
											</th>
										</tr>
									</thead>
								</table>
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Codigo Patrimonial</p>
											</th>
											<th>
												<p align="center">Denominación</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ResumenPatrim_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
											<td align="center">{{obj.DENOMINACION_BIEN}}</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total2 >= itemsPerPage2">
									<ngb-pagination [collectionSize]="total2" [pageSize]="itemsPerPage2" [(page)]="ResumenPatrim.page2" [maxSize]="5"
									 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage2($event)"></ngb-pagination>
								</nav>
							</div>
							&nbsp;
							&nbsp;
							&nbsp;
							<div class="box-body">
								<table id="example2" border="0" class="table ">
									<tr>
										<th>
											<p align="center">
												<a target="_blank">
													<button type="button" style="width: 158px; height: 35px;" (click)="EliminarCabAsignacion()" class="btn btn-primary btn-sm">
														Cancelar
													</button>
												</a>
											</p>
										</th>
										<th>
											<p align="center">
												<a target="_blank">
													<button type="button" style="width: 158px; height: 35px;" (click)="AgregarDetAsignacion(content2)" class="btn btn-primary btn-sm">
														Finalizar Asignación
													</button>
												</a>
											</p>
										</th>
									</tr>
								</table>
							</div>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
	<div class="modal-header fondotitulopdf">
		<h4>Resumen de Asignación</h4>
		<button type="button" style="width: 150px; height: 35px; font-size: 15px;" class="btn btn-primary btn-sm" (click)="d('Cross click')">Cerrar</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<iframe [src]="urlPDF | safe" width="100%" height="850px"></iframe>
			</div>
		</form>
	</div>
</ng-template>