<section class="content-header">
	<h1>
		REPORTE FICHA DATOS
		<small></small>
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Grupo:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" (change)="ListadoClase(filtro.cod_grupo)" [(ngModel)]="filtro.cod_grupo">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of ListGrupo_Arg" [value]="objs.COD_GRUPO">
											{{ objs.DESC_GRUPO }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Clase:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.cod_clase">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of ListClase_Arg" [value]="objs.COD_CLASE">
											{{ objs.DESC_CLASE }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-success " (click)="ListadoSituacionActual()"><i class="fa fa-search"></i>
										Buscar PDF</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="Quitar_Filtro()"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Estado Bien:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.estado_bien">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of Listestadobien_Arg" [value]="objs.COD_ESTADO_BIEN">
											{{ objs.NOM_EST_BIEN }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Tipo de Movimiento:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.cod_tipo_mov">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of Listtipobien_Arg" [value]="objs.COD_TIPO_MOV">
											{{ objs.DES_TIPO_MOV }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-4">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Codigo patrimonial:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1" [(ngModel)]="filtro.cod_patrimonial">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Denominación Bien:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
								</div>
								<div class="col-6 col-md-4">
								</div>
								<div class="col-6 col-md-4">
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
        </div>
			</div>
			
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-solid box-danger">
            <div class="box-header">
              <h3 class="box-title">Resultado de la busqueda</h3>
            </div>
            <div class="box-body">
              <table id="example2" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th style="width: 10%;">Nro Grupo</th>
                    <th>Descarga</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <tr *ngFor="let obj of dataDescargas ; let  i = index">
                    <td>{{ i +1 }} </td>
                    <td>
                      <a href="{{Sinabip.API_URL}}Pdf_Reportefichatecnica/{{id}}/{{Pdf_descarga}}/{{i+1}}/{{itemsPerPage}}" target="_blank">
                        <img src="./assets/webimages/iconos/iconoPDF.png" width="20" height="20" border="0" />&nbsp;&nbsp;&nbsp;
                        Descargar Reporte Ficha Datos (PDF) - Grupo  {{ i +1 }}
                      </a>
                    </td>
                  </tr>
                </tbody>           
							</table>
								<!-- <nav class="mt-3" *ngIf="total >= itemsPerPage2">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage2" [(page)]="filtro.page" [maxSize]="5"
									 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav> -->
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</section>

<!-- 
<ng-template #content let-c="close" let-d="dismiss">
	<div *ngIf="flag_ImportarFormatoExcel">
    <div class="modal-body">
      <div class="row">	
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="alert alert-primary" role="alert"> 
              <b>Lista de fichas tecnicas - PDF</b>
            </div>	
          </div>		
          
          <div class="box-body">
            <table id="example2" class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Nro Grupo</th>
                  <th>Descarga</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 <tr *ngFor="let obj of dataDescargas ; let  i = index">   
                  <td>{{ i +1 }} </td>
                  <td>
                    <a href="{{Sinabip.API_URL}}Listar_Bienes_TXT/{{id}}/{{i+1}}" target="_blank">
                      <img src="./assets/webimages/iconos/TXT.png" width="20" height="20" border="0" />&nbsp;&nbsp;&nbsp;
                      Descargar en Texto Plano (TXT) - Grupo  {{ i +1 }}
                    </a>
                  </td>
                </tr>
              </tbody>           
            </table>
            <div class="footer">
              <button class="btn btn-primary pull-right btn btn-danger" (click)="modalService.dismissAll();">Cerrar</button>
            </div> 
          </div>

        </div>   
      </div>
    </div>
  </div>
</ng-template>
 -->


