.botn-blq-1 {
    width: 35%;
    margin: 0 auto;
    }
   
   .botn-blq-2 {
    width: 25%;
    margin: 0 auto;
    }
        
    .botn-blq-3 {
    width: 120px; 
    height: 35px; 
    font-size: 15px;
    /* color: black; */
    font-weight: bold;
    color: #fff;
    background-color: #367fa9;
    border-color: rgba(0,0,0,0.2);
    }
        
    .botn-blq-4 {
    width: 45%;
    margin: 0 auto;
    }

    .botn-blq-5 {
    width: 50%;
    margin: 0 auto;
    }

    .colorfond {
    background: #dd4b39;
    color: white;
    font-weight: bold;
    border-radius: 1;
    }
    
    .fond{
    background-color: #fff3cd;
    border-radius: 1;
    margin-bottom :0;
    }
      
    .centrado {
    text-align: center;
    font-weight: bold;
    }
  
    .colorwhite {
    background: white;
    border-radius: 1;
    }

    .posicionMens{
    position: absolute;
    }
        
    .colorred1 {
        background: #dd4b39;
        color: white;
        font-weight: bold;
        border-radius: 2;
    }

    .centrado {
    text-align: center;
    font-weight: bold;
    }

    .padd {
        padding: initial;
        padding-left: initial;
        padding-right: initial;
        padding-bottom: initial;
    }

    .bordetop {
        border-top: 0px solid #d2d6de;
    }
    
    .box.box-solid.box-danger2 > .box-header {
        color: #ffffff;
        background: #dd4b39;
        background-color: #dd4b39;
    }

    .posicion2 {
        position: fixed;
    }
  
    .margen_top{
        margin-top: 3%;
        margin-left: 4%;
    }

    .fondverde {
        background-color: #d4edda;
        border-radius: 1;
      }


