<section class="content-header">
    <h1>
      MODIFICACIÓN DE FECHA PECOSA
      <small></small>
    </h1>
 </section>
 <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="col">
            <div class="box box-solid box-danger">
              <div class="box-header">
                <h3 class="box-title">BUSCADOR</h3>
                <div class="box-tools pull-right">
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col v2 subtit">
                    <div class="col-6 col-md-12">&nbsp;</div>
                    <div class="col-6 col-md-2">
                      <p align="center">Cód. Patrimonial:</p>
                    </div>
                    <div class="col-6 col-md-2">
                      <input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1"
                        [(ngModel)]="filtro.cod_patrimonial">
                    </div>
                    <div class="col-6 col-md-2">
                      <p align="center">Denominación:</p>
                    </div>
                    <div class="col-6 col-md-2">
                      <input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
                    </div>
                    <div class="col-6 col-md-4">
                      <button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag()" (click)="ListaFechaPecosaActualiza();"><i
                          class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
                      <button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
                        Borrar</button>
                    </div>
                    <div class="col-6 col-md-12">&nbsp;</div>
                  </div>
                </div>
              </div>
             
            </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid box-danger">
                <div class="box-header">
                  <h3 class="box-title">Lista de Bienes Patrimoniales</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped table-hover ">
                      <thead>
                        <tr>
                          <th><p class="text-center">Item</p></th>
                          <th><p class="text-center">Codigo<br />Patrimonial</p></th>
                          <th><p class="text-center">Denominación</p></th>
                          <th><p class="text-center">Fecha<br /> Pecosa</p></th>
                          <th><p class="text-center">Actualizar Pecosa</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr *ngFor="let obj of Listfechapecosa_Arg ">
                          <td><p class="text-center">{{obj.ITEM}}</p></td>
                          <td><p class="text-center">{{obj.CODIGO_PATRIMONIAL}}</p></td>
                          <td><p class="text-center">{{obj.DENOMINACION_BIEN}}</p></td>
                          <td>
                            <p class="text-center">
                              <input type="date" class="form-control pull-right" name="fechpecosa" [(ngModel)]="obj.FECHA_1RA_PECOSA" value="">
                            </p>
                          </td>
                          <td align="center">
                            <button type="button" class="btn btn-primary botn-blq-4" (click)='ActualizaPecosa(obj.CODIGO_PATRIMONIAL,obj.FECHA_1RA_PECOSA)'> ACEPTAR </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <nav class="mt-3" *ngIf="total >= itemsPerPage">
                      <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
                      [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

