.table_movimiento_cursor tbody tr:hover {
    background-color: #A9D0F5;
    cursor: pointer;
  }
  

.paneles_info{
    background-color: #cce5ff !important;
    color: #004085 !important;
}

.formatear_box-header{
    display: none;
}

.margenes_1{
    margin-left: auto !important;
    margin-right: auto !important;
}

