<section class="content-header">
	<h1>
		Altas / Adquisición de Bienes Muebles
		<small></small>
	</h1>
</section>

		<section class="content">
            <button class="btn btn-danger" (click)="ventanaTipoRegistro()">Nuevo Acto de Adquisición</button><br><br>
            <div class="row">
							<div class="col-md-12" [ngClass]="{'col-md-7' : (mostrarVentanaTipoRegistro && !mostrarVentanaRegistroIndividual) || (!mostrarVentanaTipoRegistro && !mostrarVentanaRegistroIndividual && mostrarVentanaRegistroMasivo) || (!mostrarVentanaTipoRegistro && mostrarVentanaRegistroIndividual)}">
                  <div class="box box-solid box-danger">
                      <div class="box-header">
                        <h3 class="box-title">Búsqueda de Altas / Adquisición</h3>
        
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                      </div>
                      
                      <div class="box-body">
                        <div class="row">
                          <div class="col-md-10">
                            <div class="form-group">
                              
                              <label>Forma Adquisición</label> 
                              <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.forma_adquisicion">
                                <option selected="selected" value="-1">:: TODOS ::</option>
                                <option *ngFor="let objs of dataActosAdquisicion.formaAdq | keyvalue" [value] = "objs.value.COD_FORM_ADQUIS" >{{ objs.value.NOM_FORM_ADQUIS }}</option>
                              </select>    
                            </div>
                            
                            <div class="form-group">
                                <label>Nº Documento Sustentatorio</label>
                                <input type="text" class="form-control" [(ngModel)] = "filtro.nro_documento">
                            </div>
                            
                            <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Año Adquisición</label>
                                      <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.fecha.year"> 
                                          <option *ngFor="let objs of dataAnio" [value] = "objs.DESCRIPCION" >{{ objs.DESCRIPCION }}</option>
                                       </select>
                                  </div>  
                              </div>  
                                        
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Mes Adquisición</label>
                                      <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.fecha.month"> 
                                          <option selected="selected" value="-1">:: TODOS LOS MESES ::</option>
                                          <option *ngFor="let obj of dataMes" [value] = "obj.ID"  >{{ obj.DESCRIPCION }}</option>
                                        </select>
                                  </div>
                              </div>
                                          
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Estado</label>
                                      <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.estado">
                                          <option selected="selected" value="-1">:: TODOS LOS ESTADOS ::</option>
                                          <option value="0">Pendiente</option>
                                          <option value="1">Finalizado</option>
                                          <option value="2">Anulado</option>
                                        </select>
                                  </div>
                              </div>
                            
                           </div>
                          </div>
                          
                          <div class="row">
                          <div class="col-md-2">  
                            <div class="form-group"> 
                                <button type="button" class="btn btn-primary btn-sm" (click)="cargarListadoActosAdquisicion(); mostrarVentanaTipoRegistro = false; mostrarVentanaRegistroIndividual = false; mostrarVentanaRegistroMasivo = false;"><i class="fa fa-search"></i> Buscar</button>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm" (click)="BorrarFiltro()"><i class="fa fa-close"></i> Borrar</button>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                      
                      <div class="box-footer">
                        <a [href]="RutaSinabip+'Manuales-Sinabip/SINABIP_MUEBLES_REGISTROS_ALTAS.pdf'" target="__blank">
                          <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
                            Descargar Guía de Usuario: Adquisición</a>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="box box-solid box-danger">
                          <div class="box-header">
                            <h3 class="box-title">Listado de Actos de Adquisición</h3> 
                          </div>
                          
                          <div class="box-body">
                            <table id="example2" class="table table-bordered table-striped table-hover">
                              <thead>
                              <tr>
                                <th>Item</th>
                                <th>Forma Adquisición</th>
                                <th>Documento Sustentatorio</th>
                                <th>Fecha Adquisición</th>
                                <th>Estado</th>
                                <th>Total Bienes</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                                <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let obj of dataActosAdquisicion.documento" [ngClass]="{'table-active':seleccionRows==obj.COD_UE_BIEN_ALTA}">
                                <td>{{ obj.ROW_NUMBER_ID }}</td>
                                <td>{{ obj.NOM_FORM_ADQUIS }}</td>
                                <td>{{ obj.NRO_DOCUMENTO_ADQUIS }}</td>
                                <td> {{ obj.FECHA_DOCUMENTO_ADQUIS | date:"dd-MM-yyyy"}}</td>
                                <td>{{ obj.ESTADO }}</td>
                                <td>{{ obj.TOTAL_BIENES }}</td>
                                <td ><button type="button" class="btn btn-primary btn-sm" (click)="editarActoAdquisicion(obj.COD_UE_BIEN_ALTA)" ><i class="fa fa-pencil"></i> Editar</button></td>
                                <td><button *ngIf="obj.ESTADO !== 'FINALIZADO'" type="button" class="btn btn-danger btn-sm" (click)="Eliminar_Actos(obj.COD_ENTIDAD, obj.COD_UE_BIEN_ALTA)"><i class="fa fa-trash"></i> Eliminar</button></td>
                              </tr>
                              </tbody>
                              
                            </table>
                            <nav class="mt-3" *ngIf="total >= itemsPerPage">
                                <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                            </nav>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col-md-5" *ngIf="mostrarVentanaTipoRegistro && !mostrarVentanaRegistroIndividual"> 
                  
                  <div class="box box-info">
                    
                    <div class="box-header with-border">
                        <div class="alert alert-info" role="alert">  
                            Registro de Adquisición de Bienes Muebles
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-auto">
                                <button type="button" class="btn btn-block btn-primary btn-lg" style="width: 500px" (click)="ventanaRegistroFormaMasiva()">Registro de Forma Masiva</button>
                                <button type="button" class="btn btn-block btn-primary btn-lg" style="width: 500px" (click)="ventanaRegistroFormaIndividual()">Registro de Forma Individual</button>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>


              <!-- Ventana Registro Individual -->
              <div class="col-md-5" *ngIf="!mostrarVentanaTipoRegistro && mostrarVentanaRegistroIndividual">
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  
                  <div class="box box-info">
                      <div class="box-header with-border">
                          <div class="alert alert-warning" role="alert" *ngIf="modificando_registro==''">
                            <span style="font-size: 16px"><strong>Nuevo</strong> Registro de Acto de Adquisición de Forma Individual</span>
                          </div>
                          <div class="alert alert-danger" role="alert" *ngIf="paramAgregar.estado !== 'FINALIZADO' && modificando_registro=='M'">
                            <span style="font-size: 16px"><strong>Modificación</strong> de Registro de Acto de Adquisición</span>
                          </div>
                          <div class="alert alert-success" role="alert" *ngIf="paramAgregar.estado == 'FINALIZADO' && modificando_registro=='M'">
                            <span style="font-size: 16px"><strong>Consulta</strong> de Registro de Acto de Adquisición</span>
                          </div>
                        <h3 class="box-title">Datos de la Adquisición</h3>
                        
                      </div>
                      
                        <div class="box-body">
                              <div class="form-group">  
                                <label>Forma Adquisición</label>
                                <select formControlName="formaAdquisicion" class="form-control select2" [ngClass]="{ 'is-invalid': submitted && f.formaAdquisicion.errors }" style="width: 100%;" id="combox" [disabled] = "paramAgregar.estado == 'FINALIZADO'">  

                                  <option selected="selected" value="undefined" disabled>:: SELECCIONE OPCION ::</option>
                                  <option *ngFor="let objs of dataActosAdquisicion.formaAdq | keyvalue" [value] = "objs.value.COD_FORM_ADQUIS" >{{ objs.value.NOM_FORM_ADQUIS }} </option>
                                </select>
                                <div *ngIf="submitted && f.formaAdquisicion.errors" class="text-danger">
                                    <div *ngIf="f.formaAdquisicion.errors.required">Forma de Adquisición es requerida</div> 
                                </div>
                              </div>
    
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Nº Documento Sustentatorio</label>   
                                        <input type="text" formControlName="documentoActo" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.documentoActo.errors }" placeholder="Ingresa el Nº de Documento" value= "{{dataEditarActos.cabecera?.NRO_DOCUMENTO_ADQUIS}}" [(ngModel)] = "paramAgregar.nro_documento" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                        <div *ngIf="submitted && f.documentoActo.errors" class="text-danger">
                                            <div *ngIf="f.documentoActo.errors.required">Documento de Adquisición es requerida</div>
                                        </div>
                                      </div>  
                                  </div> 
    
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Fecha Adquisición</label>
                                      <div class="input-group date">
                                        <div class="input-group-addon">
                                          <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="date" formControlName="fechaAdquisicion" class="form-control pull-right" [ngClass]="{ 'is-invalid': submitted && f.fechaAdquisicion.errors }" id="datepicker" value= "{{dataEditarActos.cabecera?.FECHA_DOCUMENTO_ADQUIS }}"  [disabled] = "paramAgregar.estado == 'FINALIZADO'" [(ngModel)] = "paramAgregar.fecha_documento">
                                        <div *ngIf="submitted && f.fechaAdquisicion.errors" class="text-danger">
                                            <div *ngIf="f.fechaAdquisicion.errors.required">Fecha de Adquisición es requerida</div>  
                                        </div>
                                      </div>
                                    </div>  
                                  </div> 
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <input type="hidden" class="form-control" name="TXT_COD_UE_BIEN_ALTA" value= "{{dataEditarActos.cabecera?.COD_UE_BIEN_ALTA}}"  [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                  </div>
                                </div>
                              </div>
                        </div>
  
                      <div class="box box-info">
  
                        <div class="box-header with-border">
                          <h3 class="box-title">Bienes Muebles</h3> 
                        </div>
                        <div class="box-body">
                          <div class="form-group" *ngIf="paramAgregar.estado !== 'FINALIZADO'">
                              <label>Seleccione Tipo de bien del Catálogo</label>
                              <a class="btn btn-primary pull-right" (click)="seleccionBien1=true; seleccionBien1=true; seleccionBien2=false; flag_SeleccionCatalogo=0; open(content)">+</a>              </div>
                          <div class="form-group" *ngIf="paramAgregar.estado !== 'FINALIZADO'"> 
                              <label>Seleccione Bienes Patrimoniales Eliminados</label>  
                              <a class="btn btn-primary pull-right" (click)="seleccionBien1=false; seleccionBien2=true; open(content)">+</a>              </div>
                          <hr>

                          <table class="table table-bordered">
                              <tr>
                                
                                <th style="width: 10px">Item</th>
                                <th>Cod. Patrimonial</th>
                                <th>Denominación del Bien </th>
                                <th style="width: 40px">Valor Adq.</th>
                                <th style="width: 40px">Detalle Técnico</th>
                                <th style="width: 40px">Eliminar</th>
                              </tr>

                              <tr *ngFor="let obj of dataEditarActos.detalles"> 
                                <td><span class="badge bg-red">{{ obj.ROW_NUMBER_ID }}</span></td>
                                <td>{{ obj.CODIGO_PATRIMONIAL }} </td>
                                <td>{{ obj.DENOMINACION_BIEN }}</td>
                                <td>{{ obj.VALOR_ADQUIS | number: '.2' }}</td>
                                <td><button type="button" class="btn btn-primary btn-sm" (click)="seleccionBien1=false; seleccionBien2=false; mostrarVentanaCaracteristicas = true; open1(content, obj.COD_UE_BIEN_PATRI)"><i class="glyphicon glyphicon-align-justify"></i></button></td>
                                <td><button *ngIf="obj.ESTADO !== 'FINALIZADO'" type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove" (click)="Eliminar_Bien(obj.COD_UE_BIEN_PATRI);"></i></button></td>
                              </tr>
                          </table>
                        </div>
                      </div>  
                      
                      <div class="form-group">
                          <button [disabled]="loading" class="btn btn-primary pull-right" >Guardar</button>
                      </div>
                  </div>
                </form>
              </div>


            <!-- Formulario de migracion masiva -->
            
            <div class="col-md-5" *ngIf="!mostrarVentanaTipoRegistro && !mostrarVentanaRegistroIndividual && mostrarVentanaRegistroMasivo">
                  
                <div class="box box-info">
                  
                    <div class="box-header with-border">
                        <div class="alert alert-primary" role="alert"> 
                            Registro de Acto de Adquisición de Forma Masiva
                        </div>
                      <h3 class="box-title">Datos de la Adquisición</h3>
                      
                    </div>


                    <div class="box-header with-border">
                      <a [href]="RutaSinabip+'Manuales-Sinabip/Formato_Carga_Masiva_Altas_v1.xlsm'" target="__blank">
                        Paso Nº 1: Descargar el formato EXCEL "Carga Masiva Altas / Adquisiciones  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img [src]="RutaSinabip+'sgisbn/webimages/iconos/excel.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">
                      </a><br>
                      <a [href]="RutaSinabip+'Manuales-Sinabip/ESTRUCTURA_FORMATO_ADQUISICION_ALTA_BIENES.pdf'" target="__blank">
                        Paso Nº 2: Descargar la estructura del formato PDF "Carga Masiva Altas / Adquisiciones  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">
                      </a><br>
                      <label>Paso Nº 3: Validar y Generar el archivo TXT</label><br>
                      <label>Paso Nº 4: Adjuntar archivo TXT</label>

                    </div>


                    <div class="box-body centrado margin2">
                      <table>
                        <tr>
                          <td> 
                            <label>Adjuntar Archivo:</label>  
                          </td>
                          <td> 
                            <angular-file-uploader
                              [config]="afuConfig"
                              (ApiResponse)="AdjuntarAltatxt($event)">
                            </angular-file-uploader>
                          </td>
                        </tr>
                      </table>
                    </div>

                    
                    <!-- PASOS DE CARGA MASIVA -->
                    <div class="box box-primary" *ngIf="estado_adjuntar == 'OK'">
                        <div class="box-header with-border">
                          <h3 class="box-title">Pasos para la Carga Masiva</h3>
            
                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                          </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <ul class="products-list product-list-in-box">
                            <li class="item">
                              <div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA'">
                                <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="cargarTXT()" >Cargar</a>
                              </div>
                              <div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA'">
                                  <span class="product-description" style="color: red">CARGADO</span>
                              </div>
                              <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Datos de la Carga
                                  <span class="label label-warning pull-right" style="font-size: 15px">Registros cargados: {{ estado_carga_total }}</span></a> 
                                <span class="product-description">
                                      Fecha de Carga: {{estado_carga_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
                                </span>
                              </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_adjuntar == 'OK'">
                                  <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="ValidarTXT(content)">Validar</a>
                                </div>
                                <div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion == 'VALIDACION_SATISFACTORIA'">
                                    <span class="product-description" style="color: red">VALIDADO</span>
                                </div>
                                <div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA'">
                                    <span class="product-description" style="color: red">PENDIENTE</span>
                                </div>
                                <div class="product-info">
                                  <a href="javascript:void(0)" class="product-title">Datos de la Validación
                                    <span class="label label-warning pull-right" style="font-size: 15px">Registros Validados: {{ estado_validacion_total }}</span></a>
                                  <span class="product-description">
                                        Fecha de validación: {{estado_validacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
                                      </span>
                                </div>
                                
                              </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA' ">
                                  <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="FinalizarTXT()" >Finalizar</a>
                                </div>
                                <div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion == 'FINALIZACION_SATISFACTORIA'">
                                    <span class="product-description" style="color: red">FINALIZADO</span>
                                </div>
                                <div class="product-img" *ngIf="estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA'">
                                    <span class="product-description" style="color: red">PENDIENTE</span>
                                </div>
                                <div class="product-info">
                                  <a href="javascript:void(0)" class="product-title">Datos de la Finalización
                                    <span class="label label-warning pull-right" style="font-size: 15px">Registros Finalizados: {{ estado_finalizacion_total }}</span></a>
                                  <span class="product-description">
                                        Fecha de Finalización: {{estado_finalizacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
                                      </span>
                                </div>
                              </li>
                          </ul>
                        </div>
                        
                      </div>
                    <!-- FIN DE PASOS DE CARGA MASIVA -->

                    <!-- <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right" (click)="Guardar_Actos()">Guardar</button>
                    </div> -->
                </div>
              
            </div>

            <!-- Fin de Formulario de migracion masiva -->

            </div>
      
    </section>


	<ng-template #content let-modal>
	<!-- Lista de Tipo de Bienes -->
	<div *ngIf="seleccionBien1 && !seleccionBien2 && !b_ventanaObservacionesValidacion && flag_SeleccionCatalogo == 0" >
	  <div class="modal-header p-2 formatear_box-header" >
		<h5 class="modal-title" id="modal-basic-title"></h5>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		
		<!-- cuerpo del modal -->
		
		  <div class="row">
				
				<div class="box box-info">
				  
					<div class="box-header with-border">
						<div class="alert alert-info paneles_info" role="alert"> 
							Catálogo de Bienes Muebles de la SBN
						</div>
					</div>
				  

					  <div class="row margenes_1">
							<div class="col-md-5">
									<div class="input-group input-group-sm mb-3"> 
											<label class="contenido">Grupo Genérico</label>
											<select class="form-control" style="width: 100%;" name="nro_grupo" [(ngModel)]="parametros.nro_grupo" (change)="ListadoCatalogoFormaIndividual()">  
												<option selected="selected" value="-1">:: SELECCIONE OPCION ::</option>
												<option *ngFor="let obj of dataFormaIndividual.grupos | keyvalue" value="{{obj.value.NRO_GRUPO}}">{{ obj.value.DESC_GRUPO }}</option>
											</select>
									</div>   
							</div> 

							<div class="col-md-5">
								<div class="form-group">
										<div class="input-group input-group-sm mb-3"> 
											<label class="contenido">Clase Genérico</label>
											<select class="form-control select2" style="width: 100%;" name="nro_clase" [(ngModel)]="parametros.nro_clase"> 
												<option selected="selected" value = "-1">:: SELECCIONE OPCION ::</option>
												<option *ngFor="let obj of dataFormaIndividual.clases | keyvalue" value="{{obj.value.NRO_CLASE}}">{{ obj.value.DESC_CLASE }}</option>
											</select>
										</div>
								</div>  
							</div> 
						<div class="col-md-2">
							<div class="form-group">
							  <button type="submit" class="btn btn-primary pull-right" (click)="ListadoCatalogoFormaIndividual()">Buscar</button>
							</div>
						</div>
						
					  </div>

					  <div class="row margenes_1">
						  <div class="col-md-5">
							  <div class="form-group">
								<div class="input-group input-group-sm mb-3"> 
								  <label class="contenido">Tipo del Bien</label>
								  <input type="text" class="form-control" name="denom_bien" [(ngModel)]="parametros.denom_bien">
								</div> 
							  </div>  
						  </div> 

						  <div class="col-md-5">
							<div class="form-group">
							  <div class="input-group input-group-sm mb-3"> 
								<label class="contenido">Código Tipo del Bien</label>
								<input type="text" class="form-control" name="nro_bien" [(ngModel)]="parametros.nro_bien">
							  </div>
							</div>  
						  </div> 
					  </div>
					  
					

					<div class="box box-info">
					  
					  <!-- /.box-header -->
					  <div class="box-body">  
						  <div class="form-group"> 
							  <hr>
							  <table class="table table-bordered table_movimiento_cursor">
								<thead>
								  <tr class="tabla_cabecera">
										<th style="width: 10px">ID</th>
										<th style="width: 10px">Código</th>
										<th>Denominación del Catálogo</th>
										<th>Grupo</th>
										<th style="width: 40px">Clase</th>
										<th style="width: 40px">Seleccionar</th>
								  </tr>
								</thead>
								<tbody>
									<tr class="tabla_detalles" *ngFor= "let obj of dataFormaIndividual.catalogo" style="cursor: hand"> 
										<td>{{ obj.ROW_NUMBER_ID }}</td>
										<td>{{ obj.NRO_BIEN }}</td>
										<td>{{ obj.DENOM_BIEN }}</td>
										<td>{{ obj.DESC_GRUPO }}</td>
										<td>{{ obj.DESC_CLASE }}</td>
										<td><a (click)="traerDatosTipoBien(obj); openSeleccionCatalogo(content);">Seleccionar</a></td>
								  </tr>
							  </tbody>
							</table>
							
								
						  </div>
							<nav class="mt-3" *ngIf="total >= itemsPerPage">
								<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="parametros.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPageCatalogo($event)"></ngb-pagination>
							</nav>
					  </div>
					  
					
					<div class="footer">
					  <div class="row margenes_1">
						<div class="col-md-12">
						  <div class="form-group">
							<button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>                
		  </div>            

	  </div>
	</div>
	<!-- Fin de Lista de Tipo de Bienes -->


	<!-- Lista de codigo patrimoniales eliminados -->
	<div class="col" *ngIf="!seleccionBien1 && seleccionBien2 && !b_ventanaObservacionesValidacion && flag_SeleccionCatalogo == 0" >
		<div class="col">	
	  <div class="box box-info">
		  <div class="box-header with-border">
			  <div class="alert alert-primary" role="alert"> 
				  Listado de Códigos Patrimoniales Eliminados
			  </div>
		  </div>
		  <!-- /.box-header -->
		  <div class="box-body">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
					  <label class="contenido">Cod. Patrimonial</label>
					  <input type="text" class="form-control my-colorpicker1" name="cod_patrimonial" [(ngModel)]="parametros.cod_patrimonial">
					</div>  
				</div> 

				<div class="col-md-6">
				  <div class="form-group">
					<label class="contenido">Denominación del Bien</label>
					<div class="input-group date">
					  <input type="text" class="form-control my-colorpicker1" name="denom_patrimonial" [(ngModel)]="parametros.denom_patrimonial">
					</div>
				  </div>  
				</div> 
			</div>

			<div class="box-footer">
			  <button type="submit" class="btn btn-primary pull-right" (click)="ListadoBienesEliminados()">Buscar</button>
			</div>
				
		  </div>
		  

		  <div class="box box-info">

			
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group"> 
					<hr>

					<table class="table table-bordered table_movimiento_cursor">
					  <thead>
					  <tr class="tabla_cabecera"> 
						<th style="width: 10px">Código</th>
						<th>Denominación del Bien Patrimonial</th>
						<th style="width: 40px">Seleccionar</th>
					  </tr>
					</thead>
					  
					<tbody>
					  <tr class="tabla_detalles" *ngFor= "let obj of databienesEliminados.bienesEliminados" style="cursor: hand">
						<td>{{ obj.CODIGO_PATRIMONIAL }}</td>
						<td>{{ obj.DENOMINACION_BIEN }}</td>
						<td><a (click)="traerDatosCodPatrimonialesEliminados(obj)">Seleccionar</a></td>
					  </tr>
					</tbody>
				  </table>
					  
				</div>  
				  
			</div>

			<div class="box-body">
			  <div class="col-md-5">
				<div class="form-group">
					<div class="input-group input-group-sm mb-3"> 
					  <label class="contenido">Código</label>
					  <input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.codigo_patrimonial" >
					</div>
				</div>
			  </div>
			</div>

			<div class="box-body">
			  <div class="col-md-12">
				<div class="form-group">
				  <div class="input-group input-group-sm mb-3"> 
					<label class="contenido">Denominación de Catálogo</label>
					<input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.denominacion_bien">
				  </div>
				</div>
			  </div>
			</div>

			<div class="box-body">
				<div class="col-md-4">
				  <div class="form-group">
					<div class="input-group input-group-sm mb-3"> 
					  <label class="contenido">Valor Unitario S/. (9999.00)</label>
					  <input type="text" class="form-control" [(ngModel)]="paramAgregar.valor_adq" (keypress)="keyPresspuntos($event)">
					</div>  
				  </div>
			  </div>
			</div>

			<div class="row">
					<div class="col-md-12">&nbsp;&nbsp;</div>
					<div class="col-md-1">&nbsp;&nbsp;</div>
					<div class="col-md-10">
				<!-- <div class="footer"> -->
						<button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
						<button class="btn btn-primary pull-right" (click)="AgregarBien_Eliminados_Actos()">Agregar Bien</button>
					<div class="col-md-1">&nbsp;&nbsp;</div>
					<div class="col-md-12">&nbsp;&nbsp;</div>
				<!-- </div> -->
			</div>
			</div>
			</div> 
		</div>
</div>
	</div>
	<!-- Fin de Lista de codigo patrimoniales eliminados -->



  <!-- Formulario de caracteristicas de Bienes -->

  <div *ngIf="!seleccionBien1 && !seleccionBien2 && mostrarVentanaCaracteristicas && !b_ventanaObservacionesValidacion && flag_SeleccionCatalogo == 0">

	  <!-- <div class="modal-header p-2">
		<h5 class="modal-title" id="modal-basic-title"></h5>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div> -->
	  <div class="modal-body">
		
		<div class="row">
			  
			  <div class="box box-info">
				
				  <div class="box-header with-border">
					  <div class="alert alert-info" role="alert"> 
						  <span style="font-size: 18px">Caracteristicas de Bienes Patrimoniales</span>		
					  </div>
				  </div>

					<div class="row">
					  <div class="col-md-12">
						  <div class="panel panel-default">
							<div class="panel-heading"> 
								<span style="font-weight: bold">Datos de Acto de Adquisición</span>
							</div>
							
							<div class="panel-body">
								<div class="row mb-3">
									<div class="col-md-4">
									  <div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Forma de Adquisición</span>
									  </div>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" [(ngModel)]="paramBien.formaAdquis" aria-label="Username" aria-describedby="basic-addon1" disabled>
									</div>
								</div>

								<div class="row mb-3"> 
									<div class="col-md-4">
									  <div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Nº Documento Adquisición</span>
									  </div>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" [(ngModel)]="paramBien.nroDocAdquis" aria-label="Username" aria-describedby="basic-addon1" disabled>
									</div>
								</div>
								<div class="row mb-3">
								<div class="col-md-4">
									<div class="input-group-prepend">
									  <span class="input-group-text" id="basic-addon1">Fecha Adquisición</span>
									</div>
								  </div>
								  <div class="col-md-8">
									  <input type="text" class="form-control" [(ngModel)]="paramBien.fechaAdquis" aria-label="Username" aria-describedby="basic-addon1" disabled>
									</div>
								</div>
							</div>
							  
							</div>
							
						  </div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<span style="font-weight: bold">Datos del Bien Patrimonial</span>
								</div>							  
							  <div class="panel-body">
								  <div class="row mb-3">
									  <div class="col-md-4">
										<div class="input-group-prepend">
										  <span class="input-group-text" id="basic-addon1">Código Patrimonial</span>
										</div>
									  </div>
									  <div class="col-md-8">
										  <input type="text" class="form-control" [(ngModel)]="paramBien.codigopatri" aria-label="Username" aria-describedby="basic-addon1" disabled>
									  </div>
								  </div>

								  <div class="row mb-3">
									  <div class="col-md-4">
										<div class="input-group-prepend">
										  <span class="input-group-text" id="basic-addon1">Denominación del Bien</span>
										</div>
									  </div>
									  <div class="col-md-8">
										  <input type="text" class="form-control" placeholder="Ingrese denominación del Bien" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'" id="denomBien" name="denomBien" required minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien.denomBien" #denomBien="ngModel" required >
										  <div *ngIf="denomBien.invalid && (denomBien.dirty || denomBien.touched)"
											  class="alert alert-danger">

											<div *ngIf="denomBien.errors.required"> 
											  Denominación del Bien es requerido.
											</div>
											<div *ngIf="denomBien.errors.minlength">
											  Campo no debe ser menor a 4 digitos.
											</div>
										  </div>
									  </div>
								  </div>
							  </div>
								
							  </div>
							  
							</div>
					  </div>

					  <div class="row">
						  <div class="col-md-12">
							  <div class="panel panel-default">
								<div class="panel-heading">
										<span style="font-weight: bold">Detalles Técnicos del Bien</span>
								</div>
								
								<div class="panel-body">
									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Marca</span>
										  </div>
										</div>
										<div class="col-md-8"> 
											<input type="text" class="form-control" placeholder="Ingrese Marca" [(ngModel)]="paramBien.marca" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XMARCA == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Modelo</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Modelo" [(ngModel)]="paramBien.modelo" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XMODELO == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Tipo</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Tipo" [(ngModel)]="paramBien.tipo" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XTIPO == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Color</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Color" [(ngModel)]="paramBien.color" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XCOLOR == ''">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Nº Serie</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Serie" [(ngModel)]="paramBien.nroSerie" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XSERIE == ''">
										</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Dimensión</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Dimensión (Longitud * Altura * Ancho)" [(ngModel)]="paramBien.dimension" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XDIMENSION == ''">
											</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Placa/Matricula</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Placa y/o Matricula" [(ngModel)]="paramBien.placa_matri" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XPLACA == ''">
											</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Nro. Motor</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Nro. de Motor" [(ngModel)]="paramBien.nroMotor" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XMOTOR == ''">
											</div>
									</div>



									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Nº Chasis</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Nº de Chasis" [(ngModel)]="paramBien.nroChasis" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XCHASIS == ''">
										</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Año de Fabricación</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Año de Fabricación" [(ngModel)]="paramBien.anioFabric" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XANIO_FABRICACION == ''" (keypress)="keyPress($event)">
											</div>
										</div>

									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Raza</span>
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Raza" [(ngModel)]="paramBien.raza" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XRAZA == ''"> 
										</div>
									</div>

									<div class="row mb-3">
											<div class="col-md-4">
												<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Especie</span>
												</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" placeholder="Ingrese Especie" [(ngModel)]="paramBien.especie" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XESPECIE == ''">
											</div>
										</div>

										<div class="row mb-3">
												<div class="col-md-4">
													<div class="input-group-prepend">
													<span class="input-group-text" id="basic-addon1">Edad</span> 
													</div>
												</div>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="Ingrese Edad" [(ngModel)]="paramBien.edad" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XEDAD == ''">
												</div>
											</div>


									<div class="row mb-3">
										<div class="col-md-4">
										  <div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Otras Caracteristicas</span> 
										  </div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Otras Caracteristicas" [(ngModel)]="paramBien.otrasCaract" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO' || paramBien.XOTRAS_CARACTERISTICAS == ''">
										</div>
									</div>

								</div>
								  
								</div>
								
								
							  </div>

							  <div class="col-md-12">
								  <div class="panel panel-default">
									  <div class="panel-heading">
												<span style="font-weight: bold">Datos Contables y Otros</span>
										</div>
									  
									  <div class="panel-body">
										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Uso de Cuenta</span>
												</div>
											  </div>
											  <div class="col-md-8">
												<select class="form-control select2" style="width: 100%;" name="usoCta" [(ngModel)]="paramBien.usoCta" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													<!-- <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option> -->
													<option selected="selected" value="P">DE USO PRIVADO</option>
													<option value="E">DE USO ESTATAL</option>
												</select>
											  </div>
										  </div>
	  
										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Tipo de Cuenta</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="TipoCta" [(ngModel)]="paramBien.TipoCta" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option value="A">ACTIVO FIJO</option>
													  <option value="O">CUENTA DE ORDEN</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Cuenta Contable</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="CtaContable"  [(ngModel)]="paramBien.CtaContable" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option *ngFor="let objs of dataCaracteristicasBien.CuentasContables | keyvalue" [value] = "objs.value.COD_CTA_CONTABLE"  >{{ objs.value.DESCRIPCION_CUENTA_CONTABLE }}</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Valor Adquisición</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <input type="text" class="form-control" placeholder="Valor de Adquisición" [(ngModel)]="paramBien.valorAdquis" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'" (keypress)="keyPresspuntos($event)">
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">% Depreciación</span>
												</div>
											  </div>
											  <div class="col-md-3">
												  <input type="text" class="form-control" placeholder="Porcentaje de Depreciación" [(ngModel)]="paramBien.porcDeprec" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
												</div>
												
												<div class="col-md-2">
													<div class="input-group-prepend">
														<span class="input-group-text" id="basic-addon1">% Depreciación Catálogo</span> 
													</div>
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control" [(ngModel)]="paramBien.DEPRECIACION" aria-label="Username" aria-describedby="basic-addon1" disabled>
													</div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Asegurado</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="asegurado" [(ngModel)]="paramBien.asegurado" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option value="SI">SI</option>
													  <option value="NO">NO</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Estado del Bien</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <select class="form-control select2" style="width: 100%;" name="estadoBien" [(ngModel)]="paramBien.estadoBien" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
													  <option selected="selected" value="">:: SELECCIONE OPCIÓN ::</option>
													  <option *ngFor="let objs of dataCaracteristicasBien.EstadosBien | keyvalue" [value] = "objs.value.COD_ESTADO_BIEN" >{{ objs.value.DESCRIPCION_ESTADO_BIEN }}</option>
												  </select>
											  </div>
										  </div>

										  <div class="row mb-3">
											  <div class="col-md-4">
												<div class="input-group-prepend">
												  <span class="input-group-text" id="basic-addon1">Observación</span>
												</div>
											  </div>
											  <div class="col-md-8">
												  <input type="text" class="form-control" placeholder="Ingrese Observación" [(ngModel)]="paramBien.observacion" aria-label="Username" aria-describedby="basic-addon1" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
											  </div>
										  </div>                                              

											
											<!-- <div class="panel panel-default"> -->
												<div class="panel-body">
														<div class="row">
															<!-- <div class="col posicion2"> -->
																<button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
																<button class="btn btn-primary pull-right" (click)="Guardar_Caracteristicas_Bien()" [disabled] = "paramAgregar.estado == 'FINALIZADO'">Guardar Caracteristicas</button>
															<!-- </div> -->
														</div>
												</div>
											<!-- </div> -->


									  </div>
									  </div>
								</div>
						</div>

					<!-- fin de formulario de caracteristicas de Bienes -->
			  </div>
			</div>                
		  </div>
	  </div>

	  <!-- Formulario de Observaciones de Validacion -->
	<div *ngIf="cantidadduplicado_bienes > 0 || cantidadduplicado_actos > 0 || cantidaderrores_columnas > 0 && flag_SeleccionCatalogo == 0" >
	  
		<div class="modal-header p-2">
		  <h5 class="modal-title" id="modal-basic-title"></h5>
		  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  
			<div class="alert alert-info" role="alert" *ngIf='cantidadduplicado_bienes > 0'>
				<span style="font-size: 16px">Bienes Patrimoniales <strong>ya se encuentran registrados</strong></span>
			</div>
			<table class="table table-bordered" *ngIf='cantidadduplicado_bienes > 0'>
				<tr>
				  
				  <th style="width: 10px">Item</th>
				  <th>Cod. Patrimonial</th>
				  <th>Denominación del Bien </th>
				  <th style="width: 40px">Nro. Documento Adquisición</th> 
				  <th style="width: 40px">Fecha Doc. Adquisición</th>
				</tr>

				<tr *ngFor="let obj of dataObservacionValidacion.duplicado_bienes | keyvalue">
				  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
				  <td>{{ obj.value.CODIGO_PATRIMONIAL }} </td>
				  <td>{{ obj.value.DENOMINACION_BIEN }}</td>
				  <td>{{ obj.value.NRO_DOCUMENTO_ADQUIS }}</td>
				  <td>{{ obj.value.FECHA_DOCUMENTO_ADQUIS | date:"dd-MM-yyyy"}}</td>
				</tr>
				
			</table>

			<div class="alert alert-info" role="alert" *ngIf='cantidadduplicado_actos > 0'>
				<span style="font-size: 16px">Actos de Adquisición <strong>duplicados en la carga</strong></span>
			</div>
			<table class="table table-bordered" *ngIf='cantidadduplicado_actos > 0'>                    
				<tr>
				  <th style="width: 10px">Item</th>
				  <th style="width: 70px">Nro. Acto</th>
				  <th style="width: 20px">Cantidad Repetidos</th>
				</tr>

				<tr *ngFor="let obj of dataObservacionValidacion.duplicado_actos | keyvalue">
				  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
				  <td>{{ obj.value.NRO_DOC_ACTOS }}</td>
				  <td>{{ obj.value.CANTIDAD_REPETIDOS }}</td>
				</tr>
				
			</table>

			<div class="alert alert-info" role="alert" *ngIf='cantidaderrores_columnas > 0'>
				<span style="font-size: 16px"><strong>Errores de </strong>Validación en columnas Excel</span>
			</div>
			<table class="table table-bordered" *ngIf='cantidaderrores_columnas > 0'> 
				<tr>
				  <th style="width: 10px">Item</th>
				  <th>Nro. Fila</th>
				  <th>Nro. Columna</th>
				  <th style="width: 40px">Descripción de Errores</th>
				</tr>

				<tr *ngFor="let obj of dataObservacionValidacion.errores_columnas | keyvalue">
				  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
				  <td>{{ obj.value.NRO_FILA }} </td>
				  <td>{{ obj.value.COLUMNA }}</td>
				  <td>{{ obj.value.DESCRIPCION_ERRORES }}</td>
				</tr>
			</table>
			<div class="footer">
			  <button class="btn btn-primary pull-right btn btn-danger" (click)="modal.dismiss('Cross click'); b_ventanaObservacionesValidacion = false;">Cerrar</button>
			</div>
			<br><br>
		</div>

		

	</div>
	
		<!-- Fin de Formulario de Observaciones de Validacion -->        
		

	<!-- Formulario de caracteristicas de Bienes -->

  <div *ngIf="flag_SeleccionCatalogo == 1">
		<div class="modal-body">
			<div class="row">

				<div class="box box-info">
					<div class="box-header with-border">
						<div class="alert alert-info" role="alert"> 
							<span style="font-size: 18px">Catalogo de Bien Seleccionado</span>		
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">



								<div class="panel-heading"> 
									<span style="font-weight: bold">Datos del Bien a Registrar</span>
								</div>
								
								<div class="panel-body">
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Código</span>
											</div>
										</div>
										<div class="col-md-8">
											<input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.codigo_patrimonial" aria-label="Username" aria-describedby="basic-addon1" >
										</div>
									</div>

									<div class="row mb-3"> 
										<div class="col-md-4">
											<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Denominación de Catálogo</span>
											</div>
										</div>
										<div class="col-md-8">
											<input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.denominacion_bien" aria-label="Username" aria-describedby="basic-addon1">
										</div>
									</div>
									<div class="row mb-3">
									<div class="col-md-4">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Cantidad</span>
										</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" [(ngModel)]="paramAgregar.cantidad" (keypress)="keyPress($event)" max="50" min="1" aria-label="Username" aria-describedby="basic-addon1">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Valor Unitario S/. (9999.00)</span>
											</div>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" [(ngModel)]="paramAgregar.valor_adq" (keypress)="keyPresspuntos($event)" aria-label="Username" aria-describedby="basic-addon1">
											</div>
									</div>
								</div>
								
								
							</div>

							<div class="footer">
									<div class="row margenes_1">
									<div class="col-md-12">
										<div class="form-group">
										<button class="btn btn-primary pull-left btn btn-danger" (click)="this.paramAgregar.cantidad = ''; this.paramAgregar.valor_adq = ''; this.flag_SeleccionCatalogo = 0; modal.dismiss('Cross click')">Cerrar</button>
										<button class="btn btn-primary pull-right" (click)="AgregarBien_Actos(); this.flag_SeleccionCatalogo = 1;">Agregar Bien</button>
										</div>
									</div>
									</div>
								</div>
							
							</div>
					</div>

			
						

					<!-- fin de formulario de caracteristicas de Bienes -->
				</div>
			</div>                
		</div>
	</div>

	<!-- Fin de Formulario de caracteristicas de Bienes -->


  </ng-template>