.tabla_detalles{
    font-size: 11px;
}

.tabla_cabecera{
    font-size: 12px;
    font-weight: bold;
    color: #007bff
}

.contenido{
    font-size: 12px;
}

.contenido_controles{
    font-size: 10px !important;
    
}

.margin2 {
    margin-bottom: -25px;
}

.colorwhite {
    background: white;
    border-radius: 1;
}

.centrado {
    text-align: center;
    font-weight: bold;
}

.table_movimiento_cursor tbody tr:hover {
    background-color: #A9D0F5;
    cursor: pointer;
  }

  .paneles_info{
    background-color: #cce5ff !important;
    color: #004085 !important;
}

.formatear_box-header{
    display: none;
}

.margenes_1{
    margin-left: auto !important;
    margin-right: auto !important;
}

.margen_2{
    margin-bottom: auto !important;
}