.vl {
    padding-top: 10px;
}

.v2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 ;
    position: relative;
  }

.subtit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #14587F;
    line-height: 1.0;
    font-weight: bold;
}

  .table3 thead tr {
    height: 20px;
    color: #fff;
    background: #dd4b39;
  }

  .limiter {
  width: 100%;
  margin: 0 auto;
  }

  .pointer {
    cursor: pointer;
  }

  .margenAdjuntar {
    margin-left: 4%;
    margin-top: 2%;
  }

  .fondoinfocolor {
    background-color: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
    border-radius: 1; 
    font-size: 19px;
  }