<section class="content-header">
	<h1>
		INVENTARIO ANUAL DE BIENES MUEBLES
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-12" [ngClass]="{'col-md-7' : (mostrar_carga!=null && mostrar_carga?.estado==3) || (mostrar_carga!=null && mostrar_carga?.estado==1) || (mostrar_carga!=null && (mostrar_carga?.estado==2 || mostrar_carga?.estado==0 || mostrar_carga?.estado==5))  }" >
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">PROCESO DE MIGRACIÓN POR LOCAL</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="table-bordered3">
						<table class="table2" border="2">
							<tbody class="table-bordered3 subtit">
								<tr>
									<td class="col-12 col-md-9">PASO 1 : Descargar de formato de bienes muebles para realizar inventario</td>
									<td class="col-6 col-md-3 vl">
										<a [href]="RutaSinabip+'Manuales-Sinabip/Formato Inventario 2018_v1.xlsm'" target="_blank">
											<p class="text-center"><img src="./assets/webimages/iconos/excel.png" width="28" height="28" border="0" />
											</p>
										</a>
									</td>
								</tr>
								<tr>
									<td class="col-12 col-md-9">Descargar estructura de bienes muebles</td>
									<td class="col-6 col-md-3 vl">
										<a [href]="RutaSinabip+'Manuales-Sinabip/ESTRUCTURA_FORMATO_INVENTARIO_2018.pdf'" target="_blank">
											<p class="text-center"><img src="./assets/webimages/iconos/archivoPDF.png" width="28" height="28" border="0" />
											</p>
										</a>
									</td>
								</tr>
								<tr>
									<td colspan="2" class=" v2" ng-if="2">
										<p class="text-center"> <button [disabled]="habboton?.ESTADO == 2" (click)="ver()" type="button" class="btn btn-primary btn-sm"
											 style="width:300px; height: 35px;"> FINALIZAR CARGA DE ARCHIVOS ZIP </button></p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<form action="#" align="center">
									<div class="col-6 col-md-2">Denominación del Local :</div>
									<div class="col-6 col-md-5">
										<input id="de" type="text" class="form-control my-colorpicker1" name="predio" [(ngModel)]="filtro.predio"></div>
									<div class="col-6 col-md-5">
										<button type="button" class="btn btn-primary btn-sm" (click)="resetearpag()"><i class="fa fa-search"></i>
											Buscar</button>&nbsp;&nbsp;
										<button type="reset" value="" class="btn btn-primary btn-sm" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
											Borrar</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Lista de Predios y/o Locales </h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Nombre del Predio o Local</p>
											</th>
											<th>
												<p align="center">Importar <br />
													Archivo ZIP</p>
											</th>
											<th>
												<p align="center">Estado</p>
											</th>
											<th>
												<p align="center">Total <br />
													Bienes <br /></p>
											</th>
											<th>
												<p align="center">Error</p>
											</th>
											<th>
												<p align="center">Eliminar</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of resultados ">
											<td align="center">{{obj.ROW_NUMBER_ID}}</td>
											<td>{{obj.DENOMINACION_PREDIO}}</td>
											<td align="center">
												<div *ngIf="obj.ID_ESTADO == 3">
													<a (click)="nuevo(obj.ID_PREDIO_SBN,obj.ID_ESTADO)" class="pointer">
														<img src="./assets/webimages/iconos/finalizacion-txt.png" width="40" height="40" border="0" />
													</a>
												</div>
												<div *ngIf="obj.ID_ESTADO == 1">
													<a (click)="nuevo(obj.ID_PREDIO_SBN,obj.ID_ESTADO)" class="pointer">
														<img src="./assets/webimages/iconos/en-proceso-txt.png" width="40" height="40" border="0" />
													</a>
												</div>
												<div *ngIf="obj.ID_ESTADO == 0 || obj.ID_ESTADO == 2 || obj.ID_ESTADO == 5">
													<a (click)="nuevo(obj.ID_PREDIO_SBN,obj.ID_ESTADO)" (click)="adjuntar(obj.ID_PREDIO_SBN,obj.COD_ENTIDAD)"
													 class="pointer">
														<img src="./assets/webimages/iconos/adjuntar-txt.png" width="40" height="40" border="0" />
													</a>
												</div>
											</td>
											<td align="center">{{obj.ESTADO}}</td>
											<td align="center">{{obj.TOTAL_REG_FINALIZADOS}}</td>
											<td align="center" *ngIf="obj.ID_ESTADO == 2">
												<a href="{{Sinabip2.API_URL}}Pdf_ObservacionInv/{{obj.COD_ENTIDAD}}/{{obj.ID_PREDIO_SBN}}" target="_blank">
													<button type="button" [disabled]="obj.ID_ESTADO !=2" class="btn btn-primary btn-sm">
														<i class="fa fa-pencil"></i> ERROR</button></a>
												<!-- </a>s -->
											</td>
											<td align="center" *ngIf="obj.ID_ESTADO != 2"></td>
											<td align="center" *ngIf="obj.ID_ESTADO == 3">
												<button type="button" [disabled]="obj.ID_ESTADO !=3" (click)="EliminarAdjuntoFinal(obj.ID_PREDIO_SBN)" class="btn btn-primary btn-sm">
													ELIMINAR</button>
												<!-- </a>s -->
											</td>
											<td align="center" *ngIf="obj.ID_ESTADO != 3"></td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									 [rotate]="true"  [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
	
			</div>
			<div class="col-md-5" *ngIf="mostrar_carga!=null && mostrar_carga?.estado==3">
				<div class="box">
					<div class="box-header">
						<div class="alert fondoinfocolor" role="alert">
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
							</div>
							<h3 class="box-title">INVENTARIO ANUAL - 2018</h3>
						</div>
						<!-- <h3 class="box-title"><p class="text-center">{{BuscarIdpredio.DENOMINACION_PREDIO}}</p></h3>
						<div>&nbsp;</div> -->
						<h3 class="box-title">Detalle de Local Registrado</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table class="table3 table table-bordered table-striped table-hover ">
							<thead>
								<tr class="table100-head">
									<th>
										<p class="text-center">Nombre del predio<br /> o local</p>
									</th>
									<th>
										<p class="text-center">Fecha de Finalizado</p>
									</th>
									<th>
										<p class="text-center">Total Bienes</p>
									</th>
								</tr>
							</thead>
							<tbody class="table-bordered3">
								<tr *ngFor="let obj of ListNomAdj_Ar ">
									<td>
										<p class="text-center">{{obj.NOMB_PREDIO}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.FCH_FINALIZADO}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.TOTAL_REG_FINALIZADOS}}</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-5" *ngIf="mostrar_carga!=null && mostrar_carga?.estado==1">
				<div class="box">
					<div class="box-header">
						<div class="alert fondoinfocolor" role="alert">
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
							</div>
							<h3 class="box-title">INVENTARIO ANUAL - 2018</h3>
						</div>
						<h3 class="box-title">
							<p class="text-center">{{BuscarIdpredio.DENOMINACION_PREDIO}}</p>
						</h3>
						<div>&nbsp;</div>
						<h3 class="box-title">Detalle de Local en Proceso</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table class="table3 table table-bordered table-striped table-hover ">
							<thead>
								<tr class="table100-head">
									<th>
										<p class="text-center">Nombre Archivo</p>
									</th>
									<th>
										<p class="text-center">Fecha de Envio</p>
									</th>
								</tr>
							</thead>
							<tbody class="table-bordered3">
								<tr *ngFor="let obj of ListNomAdj_Ar">
									<td>
										<p class="text-center">{{obj.NOMB_ARCHIVO}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.FCH_ENV_REG}}</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	
			<div class="col-md-5" *ngIf="mostrar_carga!=null && (mostrar_carga?.estado==2 || mostrar_carga?.estado==0 || mostrar_carga?.estado==5)">
	
				<div class="box">
	
					<div class="box-header">
						<div class="alert fondoinfocolor" role="alert">
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
							</div>
							<h3 class="box-title">INVENTARIO ANUAL - 2018</h3>
						</div>
						<h3 class="box-title">
							<p class="text-center">{{BuscarIdpredio.DENOMINACION_PREDIO}}</p>
						</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="form-group">
							<label *ngIf="ListadoNombreAdjunto.estado != 5">Paso 2: Adjuntar inventario con modificaciones realizadas.</label>
							<label *ngIf="ListadoNombreAdjunto.estado != 5" style="color: red;">Nota: No se debe renombrar el "Archivo ZIP" generado por el "Archivo Excel"</label>
							<label *ngIf="mostrar_carga.estado == 5">Nota: El Archivo se encuentra cargado, Presione boton "Enviar Archivo
								Zip" para continuar.<br> En caso de error puede eliminar la carga.</label>
							<div>&nbsp;</div>
							<table *ngIf="mostrar_carga.estado != 5">
								<tr>
									<td>
										<label>Adjuntar Archivo ZIP :</label>
									</td>
									<td>
										<angular-file-uploader [config]="afuConfig" (ApiResponse)="SubirZip($event)">
										</angular-file-uploader>
									</td>
								</tr>
							</table>
						</div>
						<div>&nbsp;</div>
						<div class="form-group">
							<table *ngIf="mostrar_carga.estado != 5">
								<tr>
									<td><label>Si en caso el Predio y/o Local no cuenta con Bienes Muebles, hacer clic aquí :</label></td>
									<td>&nbsp; </td>
									<td>&nbsp; </td>
									<td>&nbsp; </td>
									<td>
										<button type="button" class="btn btn-primary btn-sm" (click)="RegistroInvSinBienes(BuscarIdpredio.COD_ENTIDAD,id_usuario,BuscarIdpredio.ID_PREDIO_SBN) "
										 style="width:160px; "> Registrar Sin Bienes </button>
									</td>
									<td>&nbsp; </td>
								</tr>
							</table>
						</div>
						<div class="box-body" *ngIf="mostrar_carga.estado == 5">
							<table class="table3 table table-bordered table-striped table-hover ">
								<thead>
									<tr class="table100-head">
										<th>
											<p class="text-center">Nombre Archivo</p>
										</th>
										<th>
											<p class="text-center">Fecha de Carga</p>
										</th>
										<th>
											<p class="text-center">Eliminar</p>
										</th>
									</tr>
								</thead>
								<tbody class="table-bordered3">
									<tr *ngFor="let obj of ListNomAdj_Ar ">
										<td>
											<p class="text-center">{{obj.NOMB_ARCHIVO}}</p>
										</td>
										<td>
											<p class="text-center">{{obj.FCH_ADJUNTADO}}</p>
										</td>
										<td>
											<p class="text-center">
												<button type="button" class="btn btn-primary btn-sm" (click)="EliminarAdjunto()" style="width:80px; ">
													Eliminar </button>
											</p>
										</td>
									</tr>
								</tbody>
							</table>
	
						</div>
					</div>
	
					<div class="box-header">
						<p class="text-center">
							<button type="button" [disabled]="mostrar_carga.estado != 5" class="btn btn-primary btn-sm" (click)="EnviarAdjunto()"
							 style="width:280px; height: 35px;"> ENVIAR ARCHIVO ZIP </button>
						</p>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</section>