<section class="content-header">
	<h1>
		REPORTE DE ASIGNACIÓN DE BIENES MUEBLES
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-12" [ngClass]="{'col-md-6' : (mostrar_carga!=null && mostrar_carga?.estado==1) }">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
          </div>

          <div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Nro de Documento:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="nrodocument" type="number" class="form-control my-colorpicker1" name="nrodocument1" [(ngModel)]="filtro.nrodocument">
			
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Nombre:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="nombre" type="text" class="form-control my-colorpicker1" name="nombre1" [(ngModel)]="filtro.nombre">
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag();"><i class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag();"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Ape. Paterno:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="appaterpers" type="text" class="form-control my-colorpicker1" name="appaterpers1" [(ngModel)]="filtro.apellidoP">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Ape. Materno:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="apmaterpers" type="text" class="form-control my-colorpicker1" name="apmaterpers1" [(ngModel)]="filtro.apellidoM">
								</div>
								<div class="col-6 col-md-4">&nbsp;</div>
                <div class="col-6 col-md-12">&nbsp;</div>
                
								<div class="col-6 col-md-2">
									<p align="center">Cód. Patrimonial:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1"
									 [(ngModel)]="filtro.cod_patrimonial">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Denominación:</p>
								</div>
								<div class="col-8 col-md-2">
									<input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
                </div>
                <div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Fecha Adquisición:</p>
								</div>
								<div class="col-6 col-md-2">
									<input type="date" class="form-control pull-right" id="datepicker" value="" [(ngModel)]="filtro.fecha_adquis">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Predio y/o Local:</p>
								</div>
								<div class="col-8 col-md-2">
									<input id="predio1" type="text" class="form-control my-colorpicker1" name="predio1" [(ngModel)]="filtro.predio">
                </div>
								<div class="col-6 col-md-4">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Area:</p>
								</div>
								<div class="col-8 col-md-2">
									<input id="area1" type="text" class="form-control my-colorpicker1" name="area1" [(ngModel)]="filtro.area">
                </div>
								<div class="col-6 col-md-9">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Listado de Busqueda</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Nro. Documento</p>
											</th>
											<th>
												<p align="center">Personal</p>
											</th>
											<th>
												<p align="center">Detalle</p>
											</th>
											<th>
												<p align="center">Imprimir<br />PDF</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ListBienAsignar_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.NRO_DOCUMENTO}}</td>
											<td align="center">{{obj.PERSONAL}}</td>
											<td align="center">
												<button type="button" class="btn btn-primary botn-blq-4" style="WIDTH: 100px;" (click)='nuevo(1); ListadoAsignarPersonRepDet(obj.COD_UE_PERS, obj.PERSONAL)'> Detalle </button>
											</td>
											<td align="center">
                          <a href="{{Sinabip.API_URL}}Pdf_ResumenAsignacionReporte/{{id}}/{{obj.COD_UE_PERS}}" target="_blank">
                            <button type="button" class="btn btn-primary botn-blq-4" style="WIDTH: 100px;" > IMPRIMIR </button>
                          </a>
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          
        </div>
            <div class="col-md-6" *ngIf="mostrar_carga!=null && mostrar_carga?.estado==1">
              
              <div class="box box-info">
        
                <div class="box-header with-border">
                  <div class="alert fondoinfocolor" role="alert">
                    Detalle de Asignación
                    <div class="box-tools pull-right">
                      <button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <h3 class="box-title">PERSONAL ASIGNADO: {{NomPersonal}}</h3>
                </div>
                <div class="box-body">
                    <table class="table3 table table-bordered table-striped table-hover ">
                      <thead>
                        <tr class="table100-head">
                          <th>
                            <p class="text-center">Item</p>
                          </th>
                          <th>
                            <p class="text-center">Codigo Patrimonial</p>
                          </th>
                          <th>
                            <p class="text-center">Denominación del Bien</p>
                          </th>
                          <th>
                            <p class="text-center">Fecha Adquisición</p>
                          </th>
                          <th>
                            <p class="text-center">Predio</p>
                          </th>
                          <th>
                            <p class="text-center">Area</p>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="table-bordered3">
                        <tr *ngFor="let obj of ListBienAsignardet_Arg ">
                          <td>
                            <p class="text-center">{{obj.ITEM}}</p>
                          </td>
                          <td>
                            <p class="text-center">{{obj.CODIGO_PATRIMONIAL}}</p>
                          </td>
                          <td>
                            <p class="text-center">{{obj.DENOMINACION_BIEN}}</p>
                          </td>
                          <td>
                            <p class="text-center">{{obj.FECHA_DOCUMENTO_ADQUIS}}</p>
                          </td>
                          <td>
                            <p class="text-center">{{obj.DENOMINACION_PREDIO}}</p>
                          </td>
                          <td>
                            <p class="text-center">{{obj.DESC_AREA}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
		</div>
	</div>
</section>
