<div class="row">
<section class="content-header">
	<h1>
			&nbsp;&nbsp;&nbsp; TRASLADO DE BIENES MUEBLES
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="col-xs-12">
		<div class="row margenpanel">
			<div class="col">
				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col-sm-12 padd">
								<div class="col">
									<div class="card bg-light mb-12">
										<div class="card-body colorwhite">
											<div class="col-6 col-md-12">
												<h2 class="box-title">
													<input class="form-control centrado" type="text" placeholder="RESUMEN DE TRASLADO DE BIENES MUEBLES"
													 readonly>
												</h2>
											</div>
											<div class="col-6 col-md-12">&nbsp;</div>
											<div class="col-6 col-md-6">
												<input class="form-control centrado" type="text" value="Nro. Traslado: {{nro_traslado}}" readonly>
											</div>
											<div class="col-6 col-md-6">
												<input class="form-control centrado" type="text" value="Fecha Traslado: {{fecha_traslado}}" readonly>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="w-100"></div>
								<div class="col">
									<div class="card bg-light mb-3">
										<div class="card-body colorwhite">
											<div class="box-body">
												<table id="example2" class="table table-bordered  table-striped">
													<thead>
														<tr>
															<th class="colorred1" colspan="2">
																<p class="margtabl" align="left">Tipo de Traslado</p>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width: 8%;" align="center">Tipo:</td>
															<td style="width: 40%;" align="left">{{des_tipo_tras}}</td>
														</tr>
													</tbody>
												</table>
											</div>
	
											<div class="box-body">
												<table id="example2" class="table table-bordered  table-striped">
													<thead>
														<tr>
															<th class="colorred1" colspan="5">
																<p class="margtabl" align="left">Ubicación del Bien</p>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width: 15%;" align="center">Local:</td>
															<td style="width: 30%;" align="left">{{NomPredio}}</td>
															<td style="width: 15%;" align="center">Area: </td>
															<td style="width: 30%;" align="left">{{NomArea}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col-sm-12 padd">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="w-100"></div>
								<div class="col">
									<div class="card bg-light mb-3">
										<div class="card-body colorwhite">
											<div class="box-body">
												<table id="example2" class="table table-bordered  table-striped">
													<thead>
														<tr>
															<th class="colorred1" colspan="2">
																<p class="margtabl" align="left">Servidor Origen</p>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width: 50%;">Nro de Documento:</td>
															<td align="left">{{NroDocumento}}</td>
														</tr>
														<tr>
															<td>Nombre:</td>
															<td align="left">{{NomPersonal}}</td>
														</tr>
													</tbody>
												</table>
											</div>
	
											<div class="box-body">
												<table id="example2" class="table table-bordered  table-striped">
													<thead>
														<tr>
															<th class="colorred1" colspan="2">
																<p class="margtabl" align="left">Origen Bienes</p>
															</th>
														</tr>
													</thead>
												</table>
												<table id="example" class="table table-bordered table-striped table-hover">
													<thead>
														<tr>
															<th>
																<p align="center">Item</p>
															</th>
															<th>
																<p align="center">Codigo Patrimonial</p>
															</th>
															<th>
																<p align="center">Denominación</p>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let obj of ResumenPatrim_Arg ">
															<td align="center">{{obj.ITEM}}</td>
															<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
															<td align="center">{{obj.DENOMINACION_BIEN}}</td>
														</tr>
													</tbody>
												</table>
												<nav class="mt-3" *ngIf="total >= itemsPerPage">
													<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="ResumenPatrim.page2" [maxSize]="5"
													 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col-sm-12 padd">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="w-100"></div>
								<div class="col">
									<div class="card bg-light mb-3">
										<div class="card-body colorwhite">
											<div class="box-body">
												<table id="example2" class="table table-bordered  table-striped">
													<thead>
														<tr>
															<th class="colorred1" colspan="2">
																<p class="margtabl" align="left">Servidor Destino</p>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="width: 50%;">Nro de Documento:</td>
															<td align="left">{{NroDocumento2}}</td>
														</tr>
														<tr>
															<td>Nombre:</td>
															<td align="left">{{NomPersonal2}}</td>
														</tr>
													</tbody>
												</table>
											</div>
	
											<div class="box-body">
												<table id="example2" class="table table-bordered  table-striped">
													<thead>
														<tr>
															<th class="colorred1" colspan="2">
																<p class="margtabl" align="left">Destino Bienes </p>
															</th>
														</tr>
													</thead>
												</table>
												<table id="example2" class="table table-bordered table-striped table-hover">
													<thead>
														<tr>
															<th>
																<p align="center">Item</p>
															</th>
															<th>
																<p align="center">Codigo Patrimonial</p>
															</th>
															<th>
																<p align="center">Denominación</p>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let obj of ResumenPatrim2_Arg ">
															<td align="center">{{obj.ITEM}}</td>
															<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
															<td align="center">{{obj.DENOMINACION_BIEN}}</td>
														</tr>
													</tbody>
												</table>
												<nav class="mt-3" *ngIf="total2 >= itemsPerPage2">
													<ngb-pagination [collectionSize]="total2" [pageSize]="itemsPerPage2" [(page)]="ResumenPatrim2.page2"
													 [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage2($event)"></ngb-pagination>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col margenpanel">
				<div class="box box-solid box-danger margenboton">
					<div class="box-body">
						<div class="row">
							<div class="col-6 col-md-4">&nbsp;</div>
							<div class="col-6 col-md-5">
								<button type="button" class="btn btn-primary botn-blq-2" (click)="EliminarCabTraslado()">Cancelar</button>
								&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
								<button type="button" class="btn btn-primary botn-blq-2" (click)="AgregarDetTraslado(content)">Aceptar</button>
							</div>
							<div class="col-6 col-md-4">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
	
			<ng-template #content let-c="close" let-d="dismiss">
				<div class="modal-header fondotitulopdf">
					<h4>Resumen de Traslado</h4>
					<button type="button" style="width: 150px; height: 35px; font-size: 15px;" class="btn btn-primary btn-sm" (click)="d('Cross click')">Cerrar</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<iframe [src]="urlPDF | safe" width="100%" height="850px"></iframe>
						</div>
					</form>
				</div>
			</ng-template>
	
		</div>
	</div>
</section>
</div>