<section class="content-header">
	<h1>
		ESTADO SITUACIONAL DE LOS BIENES MUEBLES
		<small></small>
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Grupo:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" (change)="ListadoClase(filtro.cod_grupo)" [(ngModel)]="filtro.cod_grupo">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of ListGrupo_Arg" [value]="objs.COD_GRUPO">
											{{ objs.DESC_GRUPO }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Clase:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.cod_clase">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of ListClase_Arg" [value]="objs.COD_CLASE">
											{{ objs.DESC_CLASE }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag();"><i class="fa fa-search"></i>
										Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="Quitar_Filtro();"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Estado Bien:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.estado_bien">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of Listestadobien_Arg" [value]="objs.COD_ESTADO_BIEN">
											{{ objs.NOM_EST_BIEN }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Tipo de Movimiento:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.cod_tipo_mov">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of Listtipobien_Arg" [value]="objs.COD_TIPO_MOV">
											{{ objs.DES_TIPO_MOV }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-4">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Codigo patrimonial:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1" [(ngModel)]="filtro.cod_patrimonial">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Denominación Bien:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
								</div>
								<div class="col-6 col-md-4">
									<a href="{{Sinabip.API_URL}}Pdf_ResumenSituacionActual/{{id}}/{{Pdf_descarga}}" target="_blank">
										<img src="./assets/webimages/iconos/archivoPDF.png" width="20" height="20" border="0" />&nbsp;&nbsp;&nbsp;
										Descargar Reporte: Situación Actual
									</a>
								</div>
								
								<div class="col-6 col-md-4">
									<a (click)="ImportarFormatoTXT(content)">
										<img src="./assets/webimages/iconos/TXT.png" width="20" height="20" border="0" />&nbsp;&nbsp;&nbsp;
										Descargar todos los Bienes en Formato TXT:
									</a>
									
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-9">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								
							</div>
						</div>
					</div>

					<div class="box-footer">
						<a [href]="RutaSinabip+'Manuales-Sinabip/SINABIP_MUEBLES_DESCARGA DE INFORMACION DE BIENES.pdf'" target="__blank">
							<img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
							Descargar Guía de Usuario: Descarga de archivo TXT e Importación de Formato TXT a Excel
						</a>
					</div>
				</div>

				
			
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Resultado de la busqueda del bien</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Codigo Patrimonial</p>
											</th>
											<th>
												<p align="center">Denominación del Bien</p>
											</th>
											<th>
												<p align="center">Estado</p>
											</th>
											<th>
												<p align="center">N° Doc.<br />Adquisición</p>
											</th>
											<th>
												<p align="center">Valor <br />Adquisición</p>
											</th>
											<th>
												<p align="center">Detalle <br />Técnico</p>
											</th>
											<th>
												<p align="center">Proceso <br />Actual</p>
											</th>
											<th>
												<p align="center">Ubicación<br />Actual</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of Listsituacionactual_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
											<td align="center">{{obj.DENOMINACION_BIEN}}</td>
											<td align="center">{{obj.NOM_EST_BIEN}}</td>
											<td align="center">{{obj.NRO_DOCUMENTO_ADQUIS}}</td>
											<td align="center">{{obj.VALOR_ADQUIS}}</td>
											<td align="center">
												<img src="./assets/webimages/iconos/btn_buscar_doc.png" (click)='open(content, obj.COD_UE_BIEN_PATRI)' width="33"
												 height="35" border="0">
											</td>
											<td align="center">{{obj.DES_TIPO_MOV}}</td>
											<td align="center">
												<img src="./assets/webimages/iconos/logo_old (2).png" (click)='open2(content2, obj.COD_UE_BIEN_PATRI)' width="33"
												 height="35" border="0">
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true"
									 [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
	<div *ngIf="flag_ImportarFormatoExcel != 1" class="box box-solid box-danger">
		<div class="box-header">
			<h3 class="box-title">Caracteristicas de Bienes Muebles</h3>
			<div class="box-tools pull-right">
				<button type="button" (click)="d('Cross click')" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Datos del Bien Patrimonial</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Código Patrimonial</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.codigopatri" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Denominación del Bien</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="denomBien"
								 name="denomBien" minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien.denomBien" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nombre del Grupo</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="grupo" name="grupo"
								 minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien.cod_grupo" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nombre de la Clase</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="clase" name="clase"
								 minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien.cod_clase" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Catálogo del Bien</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="catalogobien"
								 name="catalogobien" minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien.catalogobien" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Detalles Técnicos del Bien</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Marca</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.marca" aria-label="Username" aria-describedby="basic-addon1"
								 id="marca" name="marca" maxlength="10" appForbiddenName="bob" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Modelo</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.modelo" aria-label="Username" aria-describedby="basic-addon1"
								 disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Tipo</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.tipo" aria-label="Username" aria-describedby="basic-addon1"
								 disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Color</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.color" aria-label="Username" aria-describedby="basic-addon1"
								 disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nº Serie</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.nroSerie" aria-label="Username" aria-describedby="basic-addon1"
								 disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nº Chasis</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.nroChasis" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Año de Fabricación</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.anioFabric" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Otras Caracteristicas</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.otrasCaract" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Datos Contables y Otros</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Uso de Cuenta</span>
								</div>
							</div>
							<div class="col-md-8">
								<select class="form-control select2" style="width: 100%;" name="usoCta" [(ngModel)]="paramBien.usoCta" disabled>
									<option selected="selected" value="-1">:: SELECCIONE OPCIÓN ::</option>
									<option value="P">DE USO PRIVADO</option>
									<option value="E">DE USO ESTATAL</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Tipo de Cuenta</span>
								</div>
							</div>
							<div class="col-md-8">
								<select class="form-control select2" style="width: 100%;" name="TipoCta" [(ngModel)]="paramBien.TipoCta"
								 disabled>
									<option selected="selected" value="-1">:: SELECCIONE OPCIÓN ::</option>
									<option value="A">ACTIVO FIJO</option>
									<option value="O">CUENTA DE ORDEN</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Cuenta Contable</span>
								</div>
							</div>
							<div class="col-md-8">

								<select class="form-control select2" style="width: 100%;" [(ngModel)]="paramBien.CtaContable" disabled>
									<option selected="selected" value="">:: TODOS ::</option>
									<option *ngFor="let objs of LisCuentaCont_Arg" [value]="objs.COD_CTA_CONTABLE">
										{{ objs.DESCRIPCION_CUENTA_CONTABLE }}
									</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Valor Adquisición</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.valorAdquis" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">% Depreciación</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.porcDeprec" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Asegurado</span>
								</div>
							</div>
							<div class="col-md-8">
								<select class="form-control select2" style="width: 100%;" name="asegurado" [(ngModel)]="paramBien.asegurado"
								 disabled>
									<option selected="selected" value="-1">:: SELECCIONE OPCIÓN ::</option>
									<option value="SI">SI</option>
									<option value="NO">NO</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Estado del Bien</span>
								</div>
							</div>
							<div class="col-md-8">
								<select class="form-control select2" style="width: 100%;" [(ngModel)]="paramBien.estadoBien" disabled>
									<option selected="selected" value="">:: TODOS ::</option>
									<option *ngFor="let objs of Listestadobien_Arg" [value]="objs.COD_ESTADO_BIEN">
										{{ objs.NOM_EST_BIEN }}
									</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Observación</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien.observacion" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>
						
						<!-- <div class="row">
							<div class="col">
								<button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar</button>
							</div>
						</div> -->

					</div>
				</div>
			</div>
		</div>
			<div class="panel panel-default">
				<div class="panel-body">
						<div class="row">
							<div class="col posicion2">
								<button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar</button>
							</div>
						</div>
				</div>
			</div>
	</div>


	<!-- Eliminacion de Detalles de Bajas(Resolucion) -->
	<div *ngIf="flag_ImportarFormatoExcel">
			<div class="modal-body">
				<div class="row">	
					<div class="box box-info">
						<div class="box-header with-border">
							<div class="alert alert-primary" role="alert"> 
								<b>Descarga de Información de Bienes Patrimoniales</b>
							</div>	
						</div>		
						
						<div class="box-body">
							<table id="example2" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>Nro Grupo</th>
										<th>Descarga</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									 <tr *ngFor="let obj of dataDescargas ; let  i = index">   
										<td>{{ i + 1 }} </td>
										<td>
											<a href="{{Sinabip.API_URL}}Listar_Bienes_TXT/{{id}}/{{i+1}}" target="_blank">
												<img src="./assets/webimages/iconos/TXT.png" width="20" height="20" border="0" />&nbsp;&nbsp;&nbsp;
												Descargar en Texto Plano (TXT) - Grupo  {{ i +1 }}
											</a>
										</td>
									</tr>
								</tbody>
																	 
							</table>
							<div class="footer">
								<button class="btn btn-primary pull-right btn btn-danger" (click)="modalService.dismissAll();">Cerrar</button>
							</div> 
						</div>
					</div>   
					<div class="box-body">
						<b style="color: red">NOTA: La información de sus Bienes se ha dividido en grupos por la gran cantidad de registros</b>
					</div>             
				</div>
			</div>
		</div>
		<!-- Eliminacion de Detalles de Bajas(Resolucion) -->



</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
	<div class="box box-solid box-danger">
		<div class="box-header">
			<h3 class="box-title">Ubicación actual del bien patrimonial</h3>
			<div class="box-tools pull-right">
				<button type="button" (click)="d('Cross click')" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Datos del Bien Patrimonial</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Código Patrimonial</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.codigopatri" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Denominación del Bien</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="denomBien"
								 name="denomBien" minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien2.denomBien" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nombre del Grupo</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="grupo" name="grupo"
								 minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien2.cod_grupo" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nombre de la Clase</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="clase" name="clase"
								 minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien2.cod_clase" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Catálogo del Bien</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="catalogobien"
								 name="catalogobien" minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien2.catalogobien" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Detalles del Bien</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nro. Documento</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.nrdocumento" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Apellidos y Nombres</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.personal" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Local</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.local" aria-label="Username" aria-describedby="basic-addon1"
								 disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Area</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.area" aria-label="Username" aria-describedby="basic-addon1"
								 disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Estado Actual</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.estadoactual" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Nº Asignación</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.nroasig" aria-label="Username" aria-describedby="basic-addon1"
								 disabled>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Fecha Asignación</span>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" [(ngModel)]="paramBien2.fechaasig" aria-label="Username"
								 aria-describedby="basic-addon1" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
					<div class="row">
						<div class="col posicion2">
							<button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar</button>
						</div>
					</div>
			</div>
		</div>
	</div>
</ng-template>