<section class="content">
	<p class="text-center">
		<img src="./assets/webimages/fondos/mapa_fondo_4.png" width="771" height="704">
	</p>
	<div class="row">

		<div #divClick id="tutor-price" (click)="open(content)"> &nbsp; </div>

		<ng-template #content let-c="close" let-d="dismiss">
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title">CONFIGURACIÓN DE FECHA DEPRECIACIÓN</h3>
					<div class="box-tools pull-right">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">Seleccione Fecha Depreciación</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-4">
										<div class="input-group-prepend">
											<span class="tipo_trans" id="basic-addon1">Tipo de Fecha:</span>
										</div>
									</div>
									<div class="col-md-6">
										<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.cod_fecha">
											<option selected="selected" value="">:: SELECCIONAR ::</option>
											<option *ngFor="let objs of ListFechasDep_Arg" [value]="objs.ESTADO_PARAMETRO">
												{{ objs.DESCRIPCION_ESTADO }}
											</option>
										</select>
									</div>
									<div class="col-md-2">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-3">&nbsp;</div>
									<div class="col-md-3">
										<button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar</button>
									</div>
									<!-- <div class="col-md-1">&nbsp;</div> -->
									<div class="col-md-3">
										<button type="button" class="btn btn-primary " (click)="open2(content2)">Aceptar</button>
									</div>
									<div class="col-md-2">&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>


		<ng-template #content2 let-c="close" let-d="dismiss">
			<div class="modal-header colorfond">
				<h4>Ingrese fecha de la primera pecosa</h4>
				<button type="button" class="btn btn-light botn-blq-3" (click)="ActualizaFechaPecosa()">Aceptar</button>
				<button type="button" class="btn btn-light botn-blq-3" (click)="open(content)">Cancelar</button>
			</div>
			<div class="modal-body">
				<div>
					<p>
						<button type="button" class="btn btn-warning" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
						 aria-controls="collapseExample">
							Nota:
						</button>
					</p>
				</div>
				<div class="alert  fondverde" role="alert" id="collapseExample" [ngbCollapse]="isCollapsed">
					<p>Al presionar el botón <b>“Aceptar”</b> se guardaran la fecha pecosa ingresada.
						<br /> Se deben ingresar todas las fechas para poder continuar.</p>
				</div>
				<form>
					<div class="form-group">
						<table class="table3 table table-bordered table-striped  ">
							<thead>
								<tr class="table100-head">
									<th>
										<p class="text-center">Item</p>
									</th>
									<th>
										<p class="text-center">Codigo<br />Patrimonial</p>
									</th>
									<th>
										<p class="text-center">Denominación</p>
									</th>
									<th>
										<p class="text-center">Fecha<br /> Pecosa</p>
									</th>
								</tr>
							</thead>
							<tbody class="table-bordered3">
								<tr *ngFor="let obj of Listfechapecosa_Arg ">
									<td>
										<p class="text-center">{{obj.ITEM}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.CODIGO_PATRIMONIAL}}</p>
									</td>
									<td>
										<p class="text-center">{{obj.DENOMINACION_BIEN}}</p>
									</td>
									<td>
										<p class="text-center">
											<input type="date" class="form-control pull-right" name="fechpecosa[]" [(ngModel)]="obj.fechpecosa" value="">
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</ng-template>


	</div>
</section>