.tabla_detalles{
    font-size: 11px;
}

.tabla_cabecera{
    font-size: 12px;
    font-weight: bold;
    color: #007bff
}

.contenido{
    font-size: 12px;
}

.contenido_controles{
    font-size: 10px !important;
    
}

.margin2 {
    margin-bottom: -25px;
  }

.black-overlay{
    position: fixed !important;
}

.margenes_1{
    margin-left: auto !important;
    margin-right: auto !important;
}