<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div class="box box-info">
            <div class="box-header with-border">
                <!-- <div class="alert alert-warning" role="alert" *ngIf="modificando_registro==''">
                  <span style="font-size: 16px"><strong>Nuevo</strong> Registro de Acto de Adquisición de Forma Individual</span>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="paramAgregar.estado !== 'FINALIZADO' && modificando_registro=='M'">
                  <span style="font-size: 16px"><strong>Modificación</strong> de Registro de Acto de Adquisición</span>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="paramAgregar.estado == 'FINALIZADO' && modificando_registro=='M'">
                  <span style="font-size: 16px"><strong>Consulta</strong> de Registro de Acto de Adquisición</span>
                </div> -->
              <h3 class="box-title">Datos de la Adquisición</h3>
              
            </div>
            
                <div class="box-body">
                    <div class="form-group">  
                      <label>Acto de Adquisición</label>
                      <select formControlName="formaAdquisicion" class="form-control select2" [ngClass]="{ 'is-invalid': submitted && f.formaAdquisicion.errors }" style="width: 100%;" id="combox1" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                        <option selected="selected" value="undefined" disabled>:: SELECCIONE OPCION ::</option>
                        <option *ngFor="let objs of dataListadoTipoAdministracion.documento" [value] = "objs.COD_ACTO_ADMINIS" >{{ objs.NOM_ACTO_ADMINIS }} </option>
                      </select>
                      <div *ngIf="submitted && f.formaAdquisicion.errors" class="text-danger">
                          <div *ngIf="f.formaAdquisicion.errors.required">Tipo de Acto de Administración es requerida</div> 
                      </div>
                    </div>
  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nro Resolución</label>   
                                <input type="text" formControlName="documentoActo" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.documentoActo.errors }" placeholder="Ingresa el Nº de Documento" value= "{{dataEditarActos.cabecera?.NRO_RESOLUCION_ADMINIS}}" [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                <div *ngIf="submitted && f.documentoActo.errors" class="text-danger">
                                    <div *ngIf="f.documentoActo.errors.required">Nro de Resolución es requerida</div>
                                </div>
                            </div>  
                        </div> 

                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Fecha Resolución</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" formControlName="fechaAdministracion" class="form-control pull-right" [ngClass]="{ 'is-invalid': submitted && f.fechaAdministracion.errors }" id="datepicker" value= "{{dataEditarActos.cabecera?.FECHA_RESOLUCION_ADMINIS}}"  [disabled] = "paramAgregar.estado == 'FINALIZADO'">
                                <div *ngIf="submitted && f.fechaAdministracion.errors" class="text-danger">
                                    <div *ngIf="f.fechaAdministracion.errors.required">Fecha de Resolución es requerida</div>
                                </div>
                            </div>
                            </div>  
                        </div> 
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tipo de Beneficiario</label>
                                <select formControlName="tipoBeneficiario" class="form-control select2" [ngClass]="{ 'is-invalid': submitted && f.tipoBeneficiario.errors }" style="width: 100%;" [disabled] = "paramAgregar.estado == 'FINALIZADO'" id="combox2"> 

                                <option selected="selected" value="undefined" disabled>:: SELECCIONE OPCION ::</option>
                                <option *ngFor="let objs of dataListadoTipoAdministracion.tipoBenef" [value] = "objs.COD_TIPO_BENEF" >{{ objs.NOM_TIP_BENEF }} </option>
                                </select>
                                <div *ngIf="submitted && f.tipoBeneficiario.errors" class="text-danger">
                                    <div *ngIf="f.tipoBeneficiario.errors.required">Tipo de Beneficiario es requerida</div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>RUC del Beneficiario</label>   
                            <input type="text" formControlName="rucBeneficiario" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.rucBeneficiario.errors }" placeholder="Ingresa el Nº de Documento" [disabled] = "">
                            <div *ngIf="submitted && f.rucBeneficiario.errors" class="text-danger">
                                <div *ngIf="f.rucBeneficiario.errors.required">Nro de RUC es requerida</div>
                            </div>
                            </div>  
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="TXT_COD_UE_BIEN_ALTA">  
                            </div>
                        
                        </div>
                    </div>
                </div>

                <div class="box box-info">
  
                    <div class="box-header with-border">
                        <h3 class="box-title">Bienes Muebles</h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                            
                        <div class="form-group">
                            <label>Seleccione Tipo de bien del Catálogo</label>
                            <a class="btn btn-primary pull-right" (click)="abrirListaCatalogoBienes(content)" >+</a>
                        </div>
                        <hr>

                        <table class="table table-bordered">
                        <tr>
                        
                        <th style="width: 10px">Item</th>
                        <th>Cod. Patrimonial</th>
                        <th>Denominación del Bien </th>
                        <th style="width: 40px">Detalle Técnico</th>
                        <th style="width: 40px">Eliminar</th>
                        </tr>

                        <tr class="tabla_detalles" *ngFor= "let obj of dataEditarActos.detalles" style="cursor: hand">
                            <td><span class="badge bg-red">{{ obj.ROW_NUMBER_ID }}</span></td>
                            <td>{{ obj.CODIGO_PATRIMONIAL }} </td>
                            <td>{{ obj.DENOMINACION_BIEN }}</td>
                            <td><button type="button" class="btn btn-primary btn-sm" (click)="DetalleTecnico(obj.COD_UE_BIEN_PATRI)"><i class="glyphicon glyphicon-align-justify" ></i></button></td>
                            <td><button type="button" class="btn btn-danger btn-sm" (click)="EliminarItemReingreso(obj.COD_UE_BIEN_PATRI)"><i class="glyphicon glyphicon-remove"></i></button></td>
                        </tr>
                            
                        </table>
                            
                    </div>
  
                </div>

                
                    

              
            
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary pull-right" >Guardar</button>
            </div>
        </div>
</form>


<!-- LIstado de Catalogo -->

<ng-template #content let-modal>

        <!-- 1) Listado de Catalogo -->
        <!-- <div *ngIf="!flag_SeleccionCatalogo">
            <div class="modal-header p-2 formatear_box-header">
            <h5 class="modal-title" id="modal-basic-title"></h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
                <div class="row">
                    
                    <div class="box box-info">
                        
                        <div class="box-header with-border">
                            <div class="alert alert-info paneles_info" role="alert"> 
                                Catálogo de Bienes Muebles de la SBN
                            </div>
                        </div>
                        
                        <div class="row margenes_1">
                            <div class="col-md-5">
                                <div class="form-group">
                                <div class="input-group input-group-sm mb-3"> 
                                    <label class="contenido">N° Resolución de Acto Administración</label>
                                    <input type="text" class="form-control" name="nro_resoluc" [(ngModel)]="parametros.nro_resoluc">
                                </div> 
                                </div>  
                            </div> 

                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right" (click)="ListadoBienesXActoAdministracion()">Buscar</button>
                                </div>
                            </div>
                        </div>
                        
                            <div class="row margenes_1">
                                <div class="col-md-5">
                                        <div class="input-group input-group-sm mb-3"> 
                                                <label class="contenido">Grupo Genérico</label>
                                                <select class="form-control" style="width: 100%;" name="nro_grupo" [(ngModel)]="parametros.nro_grupo" (change)="ListadoBienesXActoAdministracion()">  
                                                    <option selected="selected" value="-1">:: SELECCIONE OPCION ::</option>
                                                    <option *ngFor="let obj of dataFormaIndividual.grupos | keyvalue" value="{{obj.value.NRO_GRUPO}}">{{ obj.value.DESC_GRUPO }}</option>
                                                </select>
                                        </div>   
                                </div> 
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                            <div class="input-group input-group-sm mb-3"> 
                                                <label class="contenido">Clase Genérico</label>
                                                <select class="form-control select2" style="width: 100%;" name="nro_clase" [(ngModel)]="parametros.nro_clase"> 
                                                    <option selected="selected" value = "-1">:: SELECCIONE OPCION ::</option>
                                                    <option *ngFor="let obj of dataFormaIndividual.clases | keyvalue" value="{{obj.value.NRO_CLASE}}">{{ obj.value.DESC_CLASE }}</option>
                                                </select>
                                            </div>
                                    </div>  
                                </div> 
                                
                            
                            </div>
    
                            
                            
                        
    
                        <div class="box box-info">
                            
                            <div class="box-body">  
                                <div class="form-group"> 
                                    <hr>
                                    <table class="table table-bordered table_movimiento_cursor">
                                    <thead>
                                        <tr class="tabla_cabecera">
                                            <th style="width: 10px">ID</th>
                                            <th style="width: 10px">Código</th>
                                            <th>Denominación del Catálogo</th>
                                            <th>Grupo</th>
                                            <th style="width: 40px">Clase</th>
                                            <th style="width: 40px">Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tabla_detalles" *ngFor= "let obj of dataFormaIndividual.catalogo" style="cursor: hand"> 
                                            <td>{{ obj.ROW_NUMBER_ID }}</td>
                                            <td>{{ obj.CODIGO_PATRIMONIAL }}</td>
                                            <td>{{ obj.DENOMINACION_BIEN }}</td>
                                            <td>{{ obj.DESC_GRUPO }}</td>
                                            <td>{{ obj.DESC_CLASE }}</td>
                                            <td><a (click)="AgregarBien_para_Entrega();">Seleccionar</a></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                
                                    
                                </div>
                                <nav class="mt-3" *ngIf="total >= itemsPerPage">
                                    <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="parametros.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPageCatalogo($event)"></ngb-pagination>
                                </nav>
                            </div>
                            
                        
                        <div class="footer">
                            <div class="row margenes_1">
                            <div class="col-md-12">
                                <div class="form-group">
                                <button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>                
                </div>            
    
            </div>
        </div> -->
    


        <div *ngIf="!flag_SeleccionCatalogo" >
           
            <div class="modal-body">
              
              <!-- cuerpo del modal -->
              
                <div class="col">
                       
                      <div class="box box-info">
                        
                          <div class="box-header with-border">
                              <div class="alert alert-primary" role="alert"> 
                                  Bienes muebles disponibles para la Entrega por Acto de Administración
                              </div>
                          </div>                        
                            <div class="col">
                              <div class="col-md-5">
                                <div class="form-group">
                                  <div class="input-group input-group-sm mb-3"> 
                                    <label class="contenido">Grupo Genérico</label>
  
                                    <select class="form-control" style="width: 100%;" name="nro_grupo" [(ngModel)]="parametros.nro_grupo" (change)="ListadoBienesXActoAdministracion()">
                                      <option selected="selected" value="-1">:: SELECCIONE OPCION ::</option>
                                      <option *ngFor="let obj of dataFormaIndividual.grupos | keyvalue" value="{{obj.value.NRO_GRUPO}}">{{ obj.value.DESC_GRUPO }}</option>
                                    </select>
                                  </div>   
                                </div>
                              </div> 
  
                              <div class="col-md-5">
                                <div class="form-group">
                                  <div class="input-group input-group-sm mb-3"> 
                                    <label class="contenido">Clase Genérico</label>
                                    <select class="form-control select2" style="width: 100%;" name="nro_clase" [(ngModel)]="parametros.nro_clase"> 
                                      <option selected="selected" value = "-1">:: SELECCIONE OPCION ::</option>
                                      <option *ngFor="let obj of dataFormaIndividual.clases | keyvalue" value="{{obj.value.NRO_CLASE}}">{{ obj.value.DESC_CLASE }}</option>
                                    </select>
                                  </div>
                                </div>  
                              </div> 
                              <div class="col-md-2">
                                  <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right" (click)="ListadoBienesXActoAdministracion()">Buscar</button>
                                  </div>
                              </div>
                              
                            </div>
      
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group" style="margin-left: 5%;">
                                      <div class="input-group input-group-sm mb-3"> 
                                        <label class="contenido">Nro Resolución de Acto de Administración</label>
                                        <input type="text" class="form-control" name="nro_resoluc" [(ngModel)]="parametros.nro_resoluc">
                                      </div> 
                                    </div>  
                                </div> 
  
                            </div>
                            
                          
      
                          <div class="box box-info">
                            
                            <!-- /.box-header -->
                            <div class="box-body">  
                                <div class="form-group"> 
                                    <hr>
                                    <table class="table table-bordered table_movimiento_cursor">
                                      <tr class="tabla_cabecera">
                                        <th style="width: 10px">Código</th>
                                        <th>Denominación del Catálogo</th>
                                        <th>Grupo</th>
                                        <th style="width: 40px">Clase</th>
                                          <th style="width: 40px">Nro Resol. Admin.</th>
                                          <th style="width: 40px">Fecha Resol.</th>
                                        <th style="width: 40px">Seleccionar</th>
                                      </tr>
                                      
                                      <tr class="tabla_detalles" *ngFor= "let obj of dataFormaIndividual.catalogo" style="cursor: hand"> 
                                        <td>{{ obj.CODIGO_PATRIMONIAL }}</td>
                                        <td>{{ obj.DENOMINACION_BIEN }}</td>
                                        <td>{{ obj.DESC_GRUPO }}</td>
                                          <td>{{ obj.DESC_CLASE }}</td>
                                          <td>{{ obj.NRO_RESOLUCION_ADMINIS }}</td>
                                        <td>{{ obj.FECHA_RESOLUCION_ADMINIS | date:"dd-MM-yyyy"}}</td>
                                        <!-- <td><a (click)="traerDatosTipoBien(obj)">Seleccionar</a></td> -->
                                        <td align="center">
                                            <input type="checkbox" name="lenguaje[]" [(ngModel)]="obj.seleccionado"  (change)="almacenarcodpatrim(obj.seleccionado,obj.CODIGO_PATRIMONIAL)" value="False" class="checkAll" *ngIf="obj.FLAGPERS!=1"  aria-label="Checkbox for following text input">
                                        </td>
                                      </tr>
                                  </table>
                                  <nav class="mt-3" *ngIf="total >= itemsPerPage">
                                    <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPageRegisterIndividual($event)"></ngb-pagination>
                                  </nav>
                                  
                                </div>
                                <div class="footer">
                                    <button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click'); Arrg_patrim_tmp = [];">Cerrar</button>
                                    <button class="btn btn-primary pull-right" (click)="AgregarBien_Actos()">Agregar Bien</button>
                                </div>                                      
                                  
                            </div>
  
  
                            
                            </div>
                          
                      
  
                      </div>                
                    
                </div>
              
              
  
            </div>
          </div>


        <!-- Fin de Listado de Catalogo -->
    
        <!-- 2) Catalogo Seleccionado -->
        <div *ngIf="flag_SeleccionCatalogo">
                <div class="modal-body">
                    <div class="row">
        
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <div class="alert alert-info" role="alert"> 
                                    <span style="font-size: 18px">Catalogo de Bien Seleccionado</span>		
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
        
        
        
                                        <div class="panel-heading"> 
                                            <span style="font-weight: bold">Datos del Bien a Registrar</span>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Código</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.codigo_patrimonial" aria-label="Username" aria-describedby="basic-addon1" >
                                                </div>
                                            </div>
        
                                            <div class="row mb-3"> 
                                                <div class="col-md-4">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Denominación de Catálogo</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.denominacion_bien" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                            <div class="col-md-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Cantidad</span>
                                                </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" [(ngModel)]="paramAgregar.cantidad" (keypress)="keyPress($event)" max="50" min="1" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">Valor Unitario S/. (9999.00)</span>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" [(ngModel)]="paramAgregar.valor_adq" (keypress)="keyPresspuntos($event)" aria-label="Username" aria-describedby="basic-addon1">
                                                    </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
        
                                    <div class="footer">
                                            <div class="row margenes_1">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                <button class="btn btn-primary pull-left btn btn-danger" (click)="this.paramAgregar.cantidad = ''; this.paramAgregar.valor_adq = ''; this.flag_SeleccionCatalogo = false; modal.dismiss('Cross click')">Cerrar</button>
                                                <button class="btn btn-primary pull-right" (click)="AgregarBien_para_Recepcion();">Agregar Bien</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                            </div>
                                
        
                            <!-- fin de formulario de caracteristicas de Bienes -->
                        </div>
                    </div>                
                </div>
        </div>
        <!-- Fin de Catalogo Seleccionado -->
</ng-template>
    
    
      
    

      
