
 <iframe  [src]="RutaSinabip | safe" frameborder="0" width="100%"
 height="100%" style="height:100vh"></iframe>



<!-- 
<div *ngIf="estado == '1'">
    <iframe src="http://www....gob.pe/SGISBN/System/sinabip_modulos.php?idm=1&opt=5&menu=0" frameborder="0" width="100%"
    height="100%" style="height:100vh"></iframe>
</div>
<div *ngIf="estado == '2'">
    <iframe src="http://www....gob.pe/SGISBN/System/sinabip_modulos.php?idm=1&opt=7&menu=0" frameborder="0" width="100%"
    height="100%" style="height:100vh"></iframe>
</div> -->