<section class="content-header">
  <h1>
    Registro de personal
    <small></small>
  </h1>
  
</section>
<!-- Main content -->
<section class="content">
  <button class="btn btn-danger" (click)="ventanaNuevoPersonal()">Nuevo personal</button><br><br>
  <div class="row">
      <div class="col-md-12" [ngClass]="{'col-md-7' : 
      (mostrarVentanaNuevoPersonal && !mostrarVentanaEditarPersonal) ||
      (!mostrarVentanaNuevoPersonal && mostrarVentanaEditarPersonal)}">
        <div class="box box-solid box-danger">
            <div class="box-header">
              <h3 class="box-title">Búsqueda de personal</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Número de documento</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.documento">
                        </div>  
                    </div>  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombres</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.nombres">
                        </div>
                    </div>                            
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Apellido Paterno</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.apellidopat">
                        </div>  
                    </div>  
                              
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Apellido Materno</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.apellidomat">
                        </div>
                    </div>                            
                  </div>
                </div>
                <div class="row">
                <div class="col-md-2">  
                  <div class="form-group"> 
                      <button type="button" class="btn btn-primary btn-sm" (click)="cargarListadoPersonal()"><i class="fa fa-search"></i> Buscar</button>
                  </div>
                  <div class="form-group">
                      <button type="button" class="btn btn-primary btn-sm" (click)="BorrarFiltro()"><i class="fa fa-close"></i> Borrar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
            
            <div class="box-footer">
              <a [href]="RutaSinabip+'sgisbn/manuales/MANUAL_PERSONAL.pdf'" target="__blank">
                <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
                  Descargar Guía de Usuario: Personal</a>
            </div>
          </div>
          <!-- /.box -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid box-danger">
                <div class="box-header">
                  <h3 class="box-title">Listado de personal</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>ÍTEM</th>
                        <th>DOCUMENTO</th>
                        <th>NOMBRES</th>
                        <th>APELLIDO PATERNO</th>
                        <th>APELLIDO MATERNO</th>
                        <th>MODALIDAD</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of dataPersonal.reco"> 
                        <td>{{ obj.ROW_NUMBER_ID }}</td>
                        <td>{{ obj.NRO_DOCUMENTO }}</td>
                        <td>{{ obj.UE_NOMBRES_PERS }}</td>
                        <td>{{ obj.UE_APEPAT_PERS }}</td>
                        <td>{{ obj.UE_APEMAT_PERS }}</td>
                        <td>{{ obj.DESC_MODALIDAD }}</td>
                        <td>{{ obj.DESCRIPCION_ESTADO }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button" (click)="editarPersonal(obj.COD_UE_PERS)"><i class="fa fa-pencil"></i> Editar</button>&nbsp;&nbsp;
                            <button class="btn btn-success btn-sm" type="button" (click)="bajaPersonal(obj.COD_UE_PERS)"><i class="fa fa-times"></i> Baja</button>&nbsp;&nbsp;
                            <button class="btn btn-danger btn-sm" type="button" (click)="eliminarPersonal(obj.COD_UE_PERS)"><i class="fa fa-trash-o"></i> Eliminar</button>
                        </td>
                      </tr>
                    </tbody>
                    
                  </table>
                  <nav class="mt-3" *ngIf="total >= itemsPerPage">
                      <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </nav>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-5" *ngIf="mostrarVentanaNuevoPersonal">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Registro de personal</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tipo de documento</label>
                  <select class="form-control select2" style="width: 100%;" (change)="Caract();" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" required> 
                    <option selected="selected" value="-1">:: TODAS LOS TIPOS DE DOCUMENTO ::</option>
                    <option value="1">DNI</option>
                    <option value="2">CARNET EXTRANJERIA</option>
                  </select>
                  <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
                    <div *ngIf="f.tipo.errors.required">Seleccione tipo de documento</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nº Documento</label>   
                  <input type="text" formControlName="documento" class="form-control" maxlength="{{maxCaract}}" minlength="{{maxCaract}}" [ngClass]="{ 'is-invalid': submitted && f.documento.errors }" placeholder="Ingresa el Nº de Documento">
                  <div *ngIf="submitted && f.documento.errors" class="invalid-feedback">
                    <div *ngIf="f.documento.errors.required">Nº de documento es requerido</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Apellido Paterno</label>   
                  <input type="text" formControlName="apellidopat" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.apellidopat.errors }" placeholder="Ingresa el apellido paterno">
                  <div *ngIf="submitted && f.apellidopat.errors" class="invalid-feedback">
                    <div *ngIf="f.apellidopat.errors.required">Apellido paterno es requerido</div>
                  </div>
                </div>
              </div> 

              <div class="col-md-6">
                <div class="form-group">
                  <label>Apellido Materno</label>   
                  <input type="text" formControlName="apellidomat" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.apellidomat.errors }" placeholder="Ingresa el apellido materno">
                  <div *ngIf="submitted && f.apellidomat.errors" class="invalid-feedback">
                    <div *ngIf="f.apellidomat.errors.required">Apellido materno es requerido</div>
                  </div>
                </div>  
              </div> 
            </div>

            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nombres</label>   
                    <input type="text" formControlName="nombres" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" placeholder="Ingresa los nombres">
                    <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                      <div *ngIf="f.nombres.errors.required">Nombres es requerido</div>
                    </div>
                  </div>
                </div> 
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Modalidad</label>
                    <select class="form-control select2" style="width: 100%;" formControlName="modalidad" [ngClass]="{ 'is-invalid': submitted && f.modalidad.errors }" required> 
                      <option selected="selected" value="-1">:: TODAS LAS MODALIDADES ::</option>
                      <option *ngFor="let obj of dataPersonal.moda" [value] = "obj.COD_MODALIDAD"  >{{ obj.DESC_MODALIDAD }}</option>
                    </select>
                    <div *ngIf="submitted && f.modalidad.errors" class="invalid-feedback">
                      <div *ngIf="f.modalidad.errors.required">Seleccione modalidad</div>
                    </div>
                  </div>   
                </div> 
              </div>
            <div class="footer">
              <button class="btn btn-primary pull-left">Registrar</button>  
              <button class="btn btn-primary pull-right btn btn-danger" (click)="this.mostrarVentanaNuevoPersonal = false;">Cerrar</button>  
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5" *ngIf="mostrarVentanaEditarPersonal">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitEdicion()">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Edición de personal</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Tipo de documento</label>
                    <select class="form-control select2" [value]="paramPersE.tipo" style="width: 100%;" (change)="Caract();" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }" required> 
                      <option selected="selected" value="-1">:: TODAS LOS TIPOS DE DOCUMENTO ::</option>
                      <option value="1">DNI</option>
                      <option value="2">CARNET EXTRANJERIA</option>
                    </select>
                    <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
                      <div *ngIf="f.tipo.errors.required">Seleccione tipo de documento</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nº Documento</label>   
                    <input type="text" formControlName="documento" class="form-control" value="{{paramPersE.documento}}" maxlength="{{maxCaract}}" minlength="{{maxCaract}}" [ngClass]="{ 'is-invalid': submitted && f.documento.errors }" placeholder="Ingresa el Nº de Documento">
                    <div *ngIf="submitted && f.documento.errors" class="invalid-feedback">
                      <div *ngIf="f.documento.errors.required">Nº de documento es requerido</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Apellido Paterno</label>   
                    <input type="text" formControlName="apellidopat" class="form-control" value="{{paramPersE.apellidopat}}" [ngClass]="{ 'is-invalid': submitted && f.apellidopat.errors }" placeholder="Ingresa el apellido paterno">
                    <div *ngIf="submitted && f.apellidopat.errors" class="invalid-feedback">
                      <div *ngIf="f.apellidopat.errors.required">Apellido paterno es requerido</div>
                    </div>
                  </div>
                </div> 
  
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Apellido Materno</label>   
                    <input type="text" formControlName="apellidomat" class="form-control" value="{{paramPersE.apellidomat}}" [ngClass]="{ 'is-invalid': submitted && f.apellidomat.errors }" placeholder="Ingresa el apellido materno">
                    <div *ngIf="submitted && f.apellidomat.errors" class="invalid-feedback">
                      <div *ngIf="f.apellidomat.errors.required">Apellido materno es requerido</div>
                    </div>
                  </div>  
                </div> 
              </div>
  
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nombres</label>   
                      <input type="text" formControlName="nombres" class="form-control" value="{{paramPersE.nombres}}" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" placeholder="Ingresa los nombres">
                      <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                        <div *ngIf="f.nombres.errors.required">Nombres es requerido</div>
                      </div>
                    </div>
                  </div> 
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Modalidad</label>
                      <select class="form-control select2" [value]="paramPersE.modalidad" style="width: 100%;" formControlName="modalidad" [ngClass]="{ 'is-invalid': submitted && f.modalidad.errors }" required> 
                        <option value="-1">:: TODAS LAS MODALIDADES ::</option>
                        <option *ngFor="let obj of dataPersonal.moda" [value] = "obj.COD_MODALIDAD">{{ obj.DESC_MODALIDAD }}</option>
                      </select>
                      <div *ngIf="submitted && f.modalidad.errors" class="invalid-feedback">
                        <div *ngIf="f.modalidad.errors.required">Seleccione modalidad</div>
                      </div>
                    </div>   
                  </div> 
                </div>
              <div class="footer">
                <button class="btn btn-primary pull-left">Editar</button>  
                <button class="btn btn-primary pull-right btn btn-danger" (click)="this.mostrarVentanaEditarPersonal = false;">Cerrar</button>  
              </div>
            </div>
          </div>
        </form>
      </div>

  <!-- Fin de Formulario de migracion masiva -->

  </div>


  <!-- /.row -->

</section>
<!-- /.content -->