<section class="content-header">
	<h1>
		TRANSLADO DE BIENES MUEBLES
		<small></small>
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Nro de Documento:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="nrodocument" type="number" class="form-control my-colorpicker1" name="nrodocument1" [(ngModel)]="filtro.nrodocument">

								</div>
								<div class="col-6 col-md-2">
									<p align="center">Nombre:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="nombre" type="text" class="form-control my-colorpicker1" name="nombre1" [(ngModel)]="filtro.nombre">
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag()" (click)="ListadoPersonalTraslado()"><i
										class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Ape. Paterno:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="appaterpers" type="text" class="form-control my-colorpicker1" name="appaterpers1" [(ngModel)]="filtro.appaterpers">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Ape. Materno:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="apmaterpers" type="text" class="form-control my-colorpicker1" name="apmaterpers1" [(ngModel)]="filtro.apmaterpers">
								</div>
								<div class="col-6 col-md-4">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
					<a [href]="RutaSinabip+'Manuales-Sinabip/SINABIP_MUEBLES_TRASLADO.pdf'" target="__blank">
						<img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
						Descargar Guía de Usuario: Traslado</a>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Lista de personal</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Nro. Documento</p>
											</th>
											<th>
												<p align="center">Ape. Paterno</p>
											</th>
											<th>
												<p align="center">Ape. Materno</p>
											</th>
											<th>
												<p align="center">Nombre</p>
											</th>
											<th>
												<p align="center">Trasladar Bien</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ListPers_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.NRO_DOCUMENTO}}</td>
											<td align="center">{{obj.UE_APEPAT_PERS}}</td>
											<td align="center">{{obj.UE_APEMAT_PERS}}</td>
											<td align="center">{{obj.UE_NOMBRES_PERS}}</td>
											<td align="center">
												<button type="button" class="btn btn-primary botn-blq-4" (click)='ver(obj.COD_UE_PERS)'> ACEPTAR </button>
												<!-- (click)='open(content,obj.COD_UE_PERS)' -->
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									[rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>