#padre {
	position: relative;
}
#hijo {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 50%;
	margin: -15% 0 0 -25%;
}

.box.box-solid.box-danger2 > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}

.align-middle {
    margin-left: 2%;
    margin-right: 2%;
  }

  .colorred1 {
    background: #dd4b39;
    color: white;
    font-weight: bold;
    border-radius: 1;
  }

  .colorwhite {
    background: white;
    border-radius: 1;
  }

  .textwhite {
    color: white;
    border-radius: 1;
  }
  .centrado {
    text-align: center;
    font-weight: bold;
  }

  .fondverde {
    background-color: #d4edda;
    border-radius: 1;
  }
  
  .marginbotton {
    margin-top: 0px;
    margin-bottom: -16px;
  }

  .margin2 {
    margin-bottom: -25px;
  }
  
  .fondoinfocolor {
    background-color: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
    border-radius: 1; 
    font-size: 19px;
  }