<section class="content-header">
	<h1>
		INVENTARIO ANUAL DE BIENES MUEBLES
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-sm-7">
			<div class="col">
				<div class="card bg-light mb-3">
					<div class="card-body colorwhite">
						<input type="text" disabled="disabled" class="form-control centrado" placeholder="{{NomEnt[0]?.NOM_ENTIDAD}} - INVENTARIO {{ListPrev.PERIODO}}">
						&nbsp;
						<input type="text" disabled="disabled" class="form-control centrado" placeholder="RESPONSABLE: {{ListUsua.NOMBRE_COMPLETO}}">
					</div>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<div class="card bg-light mb-3">
					<div class="card-body colorwhite">
						<div class="box-body">
							<table id="example2" class="table table-bordered  table-striped">
								<thead>
									<tr>
										<th class="colorred1" colspan="2">
											<p align="center">RESUMEN DE INVENTARIO</p>
										</th>
										<!-- <th  style="width: 50%;" class="colorred1" ><p>&nbsp;</p></th> -->
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="width: 50%;">Periodo</td>
										<td align="center">{{ListPrev.PERIODO}}</td>
									</tr>
									<tr>
										<td>Fecha Inicio del Inventario</td>
										<td align="center">{{ListPrev.FECHA_INICIO}}</td>
									</tr>
									<tr>
										<td>Fecha Final del Inventario</td>
										<td align="center">{{ListPrev.FECHA_TERMINO}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						&nbsp;
						<div class="box-body">
							<table id="example2" class="table table-bordered table-striped ">
								<thead>
									<tr>
										<th>
											<p>&nbsp;</p>
										</th>
										<th>
											<p align="center">Total<br>General</p>
										</th>
										<th>
											<p align="center">Con <br />
												Inventario</p>
										</th>
										<th>
											<p align="center">Sin <br />
												Inventario</p>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Total Locales y/o Predios</td>
										<td align="center">{{ListPrev.TOTAL_LOCAL_GRAL}}</td>
										<td align="center">{{ListPrev.TOTAL_LOCAL_SI_INV}}</td>
										<td align="center">{{ListPrev.TOTAL_LOCAL_NO_INV}}</td>
									</tr>
									<tr>
										<th>
											<p>&nbsp;</p>
										</th>
										<th>
											<p align="center">Total<br>General</p>
										</th>
										<th>
											<p align="center">Total <br />
												Bienes Activos</p>
										</th>
										<th>
											<p align="center">Total <br />
												Bienes Baja</p>
										</th>
									</tr>
									<tr>
										<td>Total de Bienes<br> Inventariados {{ListPrev.PERIODO}}</td>
										<td align="center">{{ListPrev.TOTAL_BIENES_GRAL}}</td>
										<td align="center">{{ListPrev.TOTAL_BIENES_ACTIVOS}}</td>
										<td align="center">{{ListPrev.TOTAL_BIENES_BAJAS}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						&nbsp;
						&nbsp;
						&nbsp;
						<div class="box-body">
							<table id="example2" border="0" class="table ">
								<tr>
									<th>
										<p align="center">
											<a target="_blank">
												<button type="button" [disabled]="EstFinal_Arg?.ESTADO == 2" (click)="ver()" style="width: 158px; height: 35px;" class="btn btn-primary btn-sm">
													Cancelar
												</button>
											</a>
										</p>
									</th>
									<th>
										<p align="center">
											<a target="_blank">
												<button type="button" (click)="nuevo(1,3)" style="width: 158px; height: 35px;" class="btn btn-primary btn-sm">
													Ver Detalle
												</button>
											</a>
										</p>
									</th>
									<th> 
										<p align="center">
											<a target="_blank">
												<button type="button" [disabled]="EstFinal_Arg?.ESTADO == 2" (click)="RegistrarcabInventario(ListPrev?.COD_ENTIDAD,ListPrev?.COD_INVENTARIO_ENT,ListPrev?.PERIODO,ListUsua?.COD_UE_PERS)"
												 style="width: 158px; height: 35px;" class="btn btn-primary btn-sm">
													Continuar
												</button>
											</a>
										</p>
									</th>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-5" *ngIf="mostrar_carga!=null && mostrar_carga?.estado==3">
			<div class="box">
				<div class="box-header">
					<div class="alert fondoinfocolor" role="alert">
						<div class="box-tools pull-right">
							<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
						</div>
						<h3 class="box-title">INVENTARIO ANUAL - {{ListPrev.PERIODO}}</h3>
					</div>
					<div>&nbsp;</div>
					<h3 class="box-title">Detalle de Locales Registrados</h3>
				</div>
				<div class="box-body">
					<table class="table3 table table-bordered table-striped  ">
						<thead>
							<tr class="table100-head">
								<th>
									<p class="text-center">Nombre del predio<br /> o local</p>
								</th>
								<th>
									<p class="text-center">Total Bienes<br /> Acumulados</p>
								</th>
								<th>
									<p class="text-center">Total Bienes<br /> Acumulados Activos</p>
								</th>
								<th>
									<p class="text-center">Total Bienes<br /> Acumulados Bajas</p>
								</th>
							</tr>
						</thead>
						<tbody class="table-bordered3">
							<tr *ngFor="let obj of ListPredDet ">
								<td>
									<p class="text-center">{{obj.DENOMINACION_PREDIO}}</p>
								</td>
								<td>
									<p class="text-center">{{obj.TOTAL_BIENES_ACUMULADOS}}</p>
								</td>
								<td>
									<p class="text-center">{{obj.TOTAL_BIENES_ACUMULADOS_ACTIVOS}}</p>
								</td>
								<td>
									<p class="text-center">{{obj.TOTAL_BIENES_ACUMULADOS_BAJAS}}</p>
								</td>
							</tr>
						</tbody>
					</table>
					<nav class="mt-3" *ngIf="total >= itemsPerPage">
						<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="5" 
						[rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
					</nav>
				</div>
				&nbsp;
				<div class="box-body">
					<table id="example2" border="0" class="table ">
						<tr>
							<th>
								<p align="center">
									<a target="_blank">
										<button type="button" (click)="desabilitar_ventana()" style="width: 158px; height: 35px;" class="btn btn-primary btn-sm">
											Cerrar
										</button>
									</a>
								</p>
							</th>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-5" *ngIf="mostrar_carga!=null && mostrar_carga?.estado==2">
			<div class="box">
				<div class="box-header margin2">
					<div class="alert fondoinfocolor" role="alert">
						<div class="box-tools pull-right">
							<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
						</div>
						<h3 class="box-title">ADJUNTAR DOCUMENTOS DEL INVENTARIO</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger2">
							<div class="box-body">
								<div class="box box-solid box-danger">
									<div class="box-header centrado">
										<h3 class="box-title">Adjuntar Informe Final del Inventario (PDF) </h3>
									</div>
									<div class="box-body centrado margin2">
										<!-- <div>&nbsp;</div> -->
										<table>
											<tr>
												<td>
													<label>Adjuntar Archivo:</label>
												</td>
												<td>
													<angular-file-uploader #fileUpload1 [config]="afuConfig" (click)="Actualiza_InfFinal()" [resetUpload]="resetVar"
													 (ApiResponse)="open(content)">
													</angular-file-uploader>
												</td>
											</tr>
										</table>
									</div>
									<div class="box-body" *ngIf="TotalInf >= 1">
										<table class="table3 table table-bordered table-striped">
											<thead>
												<tr class="table100-head">
													<th>
														<p class="text-center">Nombre Archivo</p>
													</th>
													<th>
														<p class="text-center">Fecha de Carga</p>
													</th>
													<th>
														<p class="text-center">Eliminar Archivo</p>
													</th>
												</tr>	
											</thead>
											<tbody class="table-bordered3">
												<tr>
													<td>
														<p class="text-center">{{NomInf}}</p>
													</td>
													<td>
														<p class="text-center">{{FechInfo}}</p>
													</td>
													<td>
														<button type="button" style="width: 80px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="EliminarArchivoInvPdf(3)">Eliminar</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div>&nbsp;</div>
								</div>
								<!-- <div>&nbsp;</div> -->
								<div class="box box-solid box-danger">
									<div class="box-header centrado">
										<h3 class="box-title">Adjuntar Acta de Conciliación (PDF) </h3>
									</div>
									<div class="box-body centrado margin2">
										<table>
											<tr>
												<td>
													<label>Adjuntar Archivo:</label>
												</td>
												<td>
													<angular-file-uploader #fileUpload2 [config]="afuConfig2" (click)="Actualiza_ActaConc()" [resetUpload]="resetVar"
													 (ApiResponse)="open(content)">
													</angular-file-uploader>
												</td>
											</tr>
										</table>
									</div>
									<div class="box-body" *ngIf="TotalConc >= 1">
										<table class="table3 table table-bordered table-striped">
											<thead>
												<tr class="table100-head">
													<th>
														<p class="text-center">Nombre Archivo</p>
													</th>
													<th>
														<p class="text-center">Fecha de Carga</p>
													</th>
													<th>
														<p class="text-center">Eliminar Archivo</p>
													</th>
												</tr>
											</thead>
											<tbody class="table-bordered3">
												<tr>
													<td>
														<p class="text-center">{{NomConc}}</p>
													</td>
													<td>
														<p class="text-center">{{FechConci}}</p>
													</td>
													<td>
														<button type="button" style="width: 80px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="EliminarArchivoInvPdf(4)">Eliminar</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div>&nbsp;</div>
								</div>
								<!-- <div>&nbsp;</div> -->
								<div class="alert  fondverde" role="alert">
									<h4 class="alert-heading">Nota:</h4>
									<p>Al presionar el botón <b>“Finalizar Inventario”</b> concluirá con el registro del inventario de su entidad
										y el sistema le mostrará el Sustento de Inventario realizado.</p>
									<hr>
									<p class="mb-0">Esta información registrada no podrá ser modificada y/o eliminada.</p>
								</div>
								<div>
									<table id="example2" border="0" class="table ">
										<tr>
											<th>
												<p align="center">
													<a target="_blank">
														<button type="button" style="width: 250px; height: 45px; font-size: 15px;" [disabled]="habilitar_finalizar == 1"
														 class="btn btn-primary btn-sm textwhite" (click)="FinalizarInvertario(content2)">
															Finalizar Inventario
														</button>
													</a>
												</p>
											</th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</section>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header colorred1">
		<h4>¿Esta seguro de subir el archivo?</h4>
		<button type="button" style="width: 150px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="AceptarAdjunto()"
		 (click)="d('Cross click')">Aceptar</button>
		<button type="button" style="width: 150px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="EliminarArchivo()"
		 (click)="d('Cross click')">Cancelar</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<iframe [src]="urlPDF | safe" width="100%" height="850px"></iframe>
			</div>
		</form>
	</div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4>Sustento del Inventario de Bienes Muebles</h4>
		<button type="button" style="width: 150px; height: 35px; font-size: 11px;" class="btn btn-primary btn-sm" (click)="d('Cross click')"
		 (click)="verinicio()">Aceptar</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<iframe [src]="urlPDF | safe" width="100%" height="850px"></iframe>
			</div>
		</form>
	</div>
</ng-template>