<button *ngIf="tipoDoc == 'hola'" type="button" class="btn btn-block btn-primary btn-lg" style="width: 500px" (click)="mostrarVentana('masiva')">Registro de Forma Masiva</button>
<button *ngIf="tipoDoc == 'hola'" type="button" class="btn btn-block btn-primary btn-lg" style="width: 500px" (click)="mostrarVentana('individual')">Registro de Forma Individual</button> 
