<section class="content-header">
	<h1>
		DEVOLUCIÓN DE BIENES MUEBLES
		<small></small>
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col">
				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<form action="#" align="center">
									<div class="col-6 col-md-4">
										<h4> PERSONAL A REALIZAR DEVOLUCIÓN: </h4>
									</div>
									<div class="col-6 col-md-7">
										<h4 class="posicionMens"> {{NomPersonal}} </h4>
									</div>
									<div class="col-6 col-md-3">&nbsp;</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Cód. Patrimonial:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1" [(ngModel)]="filtro.cod_patrimonial">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Denominación:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag()" (click)="ListadoDevolucionPerson(2)"><i
										 class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<form action="#" align="center">
									<div class="col-6 col-md-5">
										<h4 class="posicionMens">Seleccione Bienes para la Devolución </h4>
									</div>
									<div class="col-6 col-md-2">&nbsp;</div>
									<div class="col-6 col-md-5">
										<button type="button" class="prueba btn btn-primary botn-blq-4" (click)='open(content,1)'> Devolver Todo
										</button>&nbsp;&nbsp;
										<button type="reset" value="" class="btn btn-primary botn-blq-5" (click)='open(content,2)'> Devolver
											Seleccionados </button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Lista de bienes Devolver</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Codigo Patrimonial</p>
											</th>
											<th>
												<p align="center">Denominación</p>
											</th>
											<th>
												<p align="center">Nro Asignación</p>
											</th>
											<th>
												<p align="center">Devolver<br />Bien</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ListBienDevol_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
											<td align="center">{{obj.DENOMINACION_BIEN}}</td>
											<td align="center">{{obj.NUMERO_ASIG}}</td>
											<td align="center">
												<input type="checkbox" name="lenguaje[]" [(ngModel)]="obj.seleccionado" (change)="almacenarcodpatrim(obj.seleccionado,obj.CODIGO_PATRIMONIAL)"
												 value="False" class="checkAll" *ngIf="obj.FLAGPERS!=1" aria-label="Checkbox for following text input">
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true"
									 [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="box box-solid box-danger">
		<div class="box-header">
			<h3 class="box-title">MOTIVO DE DEVOLUCIÓN</h3>
			<div class="box-tools pull-right">
			</div>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col v2 subtit">
					<div class="col-6 col-md-12">
						<label for="exampleFormControlTextarea1">Descripción:</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="AgregarCabDevolucion.motivo"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="col-6 col-md-1">&nbsp;</div>
			<div class="col-6 col-md-8">
				<button type="button" class="btn btn-primary botn-blq-2" (click)="OpenReumen(content2)">Aceptar</button>
				<button type="button" class="btn btn-primary botn-blq-2" (click)="Limpiar_ListadoDevolverPerson()" (click)="d('Cross click')">Cancelar</button>
			</div>
			<div class="col-6 col-md-3">&nbsp;</div>
		</div>
	</div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12 padd">
			<div class="col">
				<div class="card bg-light mb-12">
					<div class="card-body colorwhite">
						<div class="col-6 col-md-12">
							<h2 class="box-title">
								<input class="form-control centrado" type="text" placeholder="DEVOLUCIÓN DE BIENES MUEBLES" readonly>
							</h2>
						</div>
						<div class="col-6 col-md-12">&nbsp;</div>
						<div class="col-6 col-md-6">
							<input class="form-control centrado" type="text" placeholder="Nro. Devolución: {{AgregarCabDev_Arg[0]?.NRODEVOL}}"
							 readonly>
						</div>
						<div class="col-6 col-md-6">
							<input class="form-control centrado" type="text" placeholder="Fecha Devolución: {{AgregarCabDev_Arg[0]?.FECHA_DEVOL}}"
							 readonly>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-12">&nbsp;</div>
			<div class="w-100"></div>
			<div class="col">
				<div class="card bg-light mb-3">
					<div class="card-body colorwhite">
						<div class="box-body">
							<table id="example2" class="table table-bordered  table-striped">
								<thead>
									<tr>
										<th class="colorred1" colspan="2">
											<p class="margtabl" align="left">Personal a Realizar Devolución</p>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="width: 50%;">Nro de Documento:</td>
										<td align="left">{{NroDocumento}}</td>
									</tr>
									<tr>
										<td>Nombre:</td>
										<td align="left">{{NomPersonal}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box-body">
							<table id="example2" class="table table-bordered  table-striped">
								<thead>
									<tr>
										<th class="colorred1" colspan="2">
											<p class="margtabl" align="left">Lista De Bienes a Devolver</p>
										</th>
									</tr>
								</thead>
							</table>
							<table id="example2" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>
											<p align="center">Item</p>
										</th>
										<th>
											<p align="center">Codigo Patrimonial</p>
										</th>
										<th>
											<p align="center">Denominación</p>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let obj of ResumenPatrim_Arg ">
										<td align="center">{{obj.ITEM}}</td>
										<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
										<td align="center">{{obj.DENOMINACION_BIEN}}</td>
									</tr>
								</tbody>
							</table>
							<nav class="mt-3" *ngIf="total2 >= itemsPerPage2">
								<ngb-pagination [collectionSize]="total2" [pageSize]="itemsPerPage2" [(page)]="ResumenPatrim.page2" [maxSize]="5"
								 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage2($event)"></ngb-pagination>
							</nav>
						</div>
						&nbsp;
						&nbsp;
						&nbsp;
						<div class="box-body">
							<table id="example2" border="0" class="table ">
								<tr>
									<th>
										<p align="center">
											<a target="_blank">
												<button type="button" style="width: 158px; height: 35px;" (click)="EliminarCabDevolucion()" class="btn btn-primary btn-sm">
													Cancelar
												</button>
											</a>
										</p>
									</th>
									<th>
										<p align="center">
											<a target="_blank">
												<button type="button" style="width: 158px; height: 35px;" (click)="AgregarDetDevolucion(content3)" class="btn btn-primary btn-sm">
													Finalizar Devolución
												</button>
											</a>
										</p>
									</th>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #content3 let-c="close" let-d="dismiss">
	<div class="modal-header fondotitulopdf">
		<h4>Resumen de Devolución</h4>
		<button type="button" style="width: 150px; height: 35px; font-size: 15px;" class="btn btn-primary btn-sm" (click)="d('Cross click')">Cerrar</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<iframe [src]="urlPDF | safe" width="100%" height="850px"></iframe>
			</div>
		</form>
	</div>
</ng-template>