.botn-blq-1 {
    width: 35%;
    margin: 0 auto;
    }
   
   .botn-blq-2 {
    width: 35%;
    margin: 0 auto;
    }
        
    .botn-blq-3 {
    width: 150px; 
    height: 35px; 
    font-size: 11px;
    color: black;
    font-weight: bold;
    }
    
    .botn-blq-4 {
    width: 35%;
    margin: 0 auto;
    }

    .botn-blq-5 {
    width: 50%;
    margin: 0 auto;
    }

    .colorfond {
    background: #dd4b39;
    color: white;
    font-weight: bold;
    border-radius: 1;
    }
    
    .fondverde {
    background-color: #d4edda;
    border-radius: 1;
    }

      
    .centrado {
    text-align: center;
    font-weight: bold;
    }
  
    .colorwhite {
    background: white;
    border-radius: 1;
    }

    .posicionMens{
    position: absolute;
    }
        
    .colorred1 {
        background: #dd4b39;
        color: white;
        font-weight: bold;
        border-radius: 2;
    }

    .centrado {
    text-align: center;
    font-weight: bold;
    }

    .padd {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
     
    .fondverde {
        background-color: #d4edda;
        border-radius: 1;
    }

    .bordetop {
        border-top: 0px solid #d2d6de;
    }
    
    .box.box-solid.box-danger2 > .box-header {
        color: #ffffff;
        background: #dd4b39;
        background-color: #dd4b39;
    }
  
    .fondotitulopdf {
        color: #ffffff;
        background: #dd4b39;
        background-color: #dd4b39;
    }