/* @import url("../assets/bower_components/bootstrap/dist/css/bootstrap.min.css"); */
/* @import url("../assets/dist/css/AdminLTE.min.css"); */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
.content-wrapper, .main-footer,.main-header .navbar{
    margin-left: 263px !important;
}
.skin-blue .sidebar-menu .treeview-menu>li>a{
    font-size: 12px !important;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container{
    left: 283px !important;
}
.black-overlay{
    position: fixed !important;
}

* {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}
.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
.collapsed {
    margin-left: 100px;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}

ngb-modal-backdrop{
    opacity: 0.5 !important;
}

.fade{
    opacity: 1 !important;

}
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.modal.fade .modal-dialog{
    transform : none !important;
}

/* Modal */
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
  }

  .modal-body {
    position: relative;
    flex: 1 1 auto;
  }

  /*boton*/

  .btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
  }
  .btn.uppercase {
    text-transform: uppercase;
  }
  .btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
  }
  .btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  .btn:focus {
    outline: none;
  }
  .btn.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn.btn-file > input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
  }
  .btn-default:hover,
  .btn-default:active,
  .btn-default.hover {
    background-color: #e7e7e7;
  }
  .btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary.hover {
    background-color: #367fa9;
  }
  .btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
  }
  .btn-success:hover,
  .btn-success:active,
  .btn-success.hover {
    background-color: #008d4c;
  }
  .btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
  }
  .btn-info:hover,
  .btn-info:active,
  .btn-info.hover {
    background-color: #00acd6;
  }
  .btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
  }
  .btn-danger:hover,
  .btn-danger:active,
  .btn-danger.hover {
    background-color: #d73925;
  }
  .btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
  }
  .btn-warning:hover,
  .btn-warning:active,
  .btn-warning.hover {
    background-color: #e08e0b;
  }
  .btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
  }
  .btn-outline:hover,
  .btn-outline:focus,
  .btn-outline:active {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
  }
  .btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn[class*='bg-']:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
  }
  .btn-app {
    border-radius: 3px;
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px;
  }
  .btn-app > .fa,
  .btn-app > .glyphicon,
  .btn-app > .ion {
    font-size: 20px;
    display: block;
  }
  .btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
  }
  .btn-app:active,
  .btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  .btn-app > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
  }
