    .botn-blq-1 {
    width: 35%;
    margin: 0 auto;
    }
   
   .botn-blq-2 {
    width: 35%;
    margin: 0 auto;
    }
        
    .botn-blq-3 {
    width: 150px; 
    height: 35px; 
    font-size: 15px;
    /* color: black; */
    font-weight: bold;
    color: #fff;
    background-color: #367fa9;
    border-color: rgba(0,0,0,0.2);
    }
    
    .botn-blq-4 {
    width: 35%;
    margin: 0 auto;
    }

    .botn-blq-5 {
    width: 50%;
    margin: 0 auto;
    }

    .colorfond {
    background: #dd4b39;
    color: white;
    font-weight: bold;
    border-radius: 1;
    }
    
    .fondverde {
    background-color: #d4edda;
    border-radius: 1;
    }

      
    .centrado {
    text-align: center;
    font-weight: bold;
    }
  
    .colorwhite {
    background: white;
    border-radius: 1;
    }

    .margenimg1{
        margin-left: 19%;
    }

    .fondoinfocolor {
        background-color: #d9edf7;
        color: #31708f;
        border-color: #bce8f1;
        border-radius: 1; 
        font-size: 19px;
    }