<section class="content-header">
	<h1>
		ASIGNACIÓN DE BIENES MUEBLES
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-12" [ngClass]="{'col-md-8' : (mostrar_carga!=null && mostrar_carga?.estado==1) }">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Cód. Patrimonial:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1"
									 [(ngModel)]="filtro.cod_patrimonial">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Denominación:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag()" (click)="ListadoAsignarPerson(2)"><i
										 class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Nro de Documento:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="nrodocument1" type="number" class="form-control my-colorpicker1" name="nrodocument1" [(ngModel)]="filtro.nrodocument">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Personal Asignado:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.cod_pers">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of ListPers_Arg" [value]="objs.COD_UE_PERS">
											{{ objs.PERSONAL }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-4">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Fecha Adquisición:</p>
								</div>
								<div class="col-6 col-md-2">
									<input type="date" class="form-control pull-right" id="datepicker" value="" [(ngModel)]="filtro.fecha_adquis">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Tipo Bien:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.nrobien">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of ListtipoBienEnt_Arg" [value]="objs.NRO_BIEN">
											{{ objs.DENOM_BIEN }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-4">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Estado Asignado:</p>
								</div>
								<div class="col-6 col-md-2">
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.flagesta">
										<option selected="selected" value="">:: TODOS ::</option>
										<option *ngFor="let objs of ListComboBienAsignar_Arg" [value]="objs.ESTADO_PARAMETRO">
											{{ objs.DESCRIPCION_ESTADO }}
										</option>
									</select>
								</div>
								<div class="col-6 col-md-9">&nbsp;</div>
								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
					<a [href]="RutaSinabip+'Manuales-Sinabip/SINABIP_MUEBLES_ASIGNACION.pdf'" target="__blank">
						<img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
						Descargar Guía de Usuario: Asignación</a>
					</div>
				</div>
	
				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<form action="#" align="center">
									<div class="col-6 col-md-5"><button type="button" class="prueba btn btn-primary botn-blq-2" (click)='nuevo(1)'>
											Asignar Masiva </button></div>
									<div class="col-6 col-md-2">&nbsp;</div>
									<div class="col-6 col-md-5">
										<button type="button" class="prueba btn btn-primary botn-blq-4" (click)='open(content,1)'> Asignar Todo
										</button>&nbsp;&nbsp;
										<button type="reset" value="" class="btn btn-primary botn-blq-5" (click)='open(content,2)'> Asignar
											Seleccionados </button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Lista de bienes asignar</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Codigo Patrimonial</p>
											</th>
											<th>
												<p align="center">Denominación</p>
											</th>
											<th>
												<p align="center">Fecha<br />Adquisición</p>
											</th>
											<th>
												<p align="center">Asignado</p>
											</th>
											<th>
												<p align="center">Nro. Documento</p>
											</th>
											<th>
												<p align="center">Asignar<br />Bien</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ListBienAsignar_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
											<td align="center">{{obj.DENOMINACION_BIEN}}</td>
											<td align="center">{{obj.FECHA_DOCUMENTO_ADQUIS}}</td>
											<td align="center">{{obj.PERSONAL}}</td>
											<td align="center">{{obj.NRO_DOCUMENTO}}</td>
											<td align="center">
												<input type="checkbox" name="lenguaje[]" [(ngModel)]="obj.seleccionado" (change)="almacenarcodpatrim(obj.seleccionado,obj.CODIGO_PATRIMONIAL)"
												 value="False" class="checkAll" *ngIf="obj.FLAGPERS!=1" aria-label="Checkbox for following text input">
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="col-md-4" *ngIf="mostrar_carga!=null && mostrar_carga?.estado==1">
	
				<div class="box box-info">
	
					<div class="box-header with-border">
						<div class="alert fondoinfocolor" role="alert">
							Registro de Asignación de Forma Masiva
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<h3 class="box-title">Datos de la Asignación</h3>
					</div>
					<div class="box-header with-border">
						<a [href]="RutaSinabip+'Manuales-Sinabip/Formato_Carga_Masiva_Asignacion_v1.xlsm'"
						 target="__blank">
							Paso Nº 1: Descargar el formato EXCEL 
							<img [src]="RutaSinabip+'sgisbn/webimages/iconos/excel.png'" class="margenimg1" width="27" height="27" border="0" align="absmiddle"
							 alt="Manual_de_usuario">
						</a><br>
						<a [href]="RutaSinabip+'Manuales-Sinabip/ESTRUCTURA_FORMATO_ASIGNACION.pdf'" target="__blank">
							Paso Nº 2: Descargar la estructura del formato PDF  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle"
							 alt="Manual_de_usuario">
						</a><br>
						<label>Paso Nº 3: Validar y Generar el archivo TXT</label><br>
						<label>Paso Nº 4: Adjuntar archivo TXT</label>
					</div>
					<div class="box-body centrado margin2" *ngIf="habilitar_adjuntar != '1'">
						<table>
							<tr>
								<td>
									<label>Adjuntar Archivo:</label>
								</td>
								<td>
									<angular-file-uploader [config]="afuConfig" (ApiResponse)="AdjuntarAsigtxt($event)">
									</angular-file-uploader>
								</td>
							</tr>
						</table>
					</div>
					<div class="box box-primary">
						<div class="box box-primary" *ngIf="estado_adjuntar == 'OK'">
							<div class="box-header with-border">
								<h3 class="box-title">Pasos para la Carga Masiva</h3>
	
							</div>
							<div class="box-body">
								<ul class="products-list product-list-in-box">
									<li class="item">
										<div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA'">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="cargarTXT()">Cargar</a>
										</div>
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA'">
											<span class="product-description" style="color: red">CARGADO</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Carga
												<span class="label label-warning pull-right" style="font-size: 15px">Registros cargados: {{
													estado_carga_total }}</span></a>
											<span class="product-description">
												Fecha de Carga: {{estado_carga_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
									<li class="item">
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_adjuntar == 'OK'">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="ValidarTXT(content2)">Validar</a>
										</div>
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion == 'VALIDACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">VALIDADO</span>
										</div>
										<div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">PENDIENTE</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Validación
												<span class="label label-warning pull-right" style="font-size: 15px">Registros Validados: {{
													estado_validacion_total }}</span></a>
											<span class="product-description">
												Fecha de validación: {{estado_validacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
									<li class="item">
										<div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA' ">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="FinalizarTXT()">Finalizar</a>
										</div>
										<div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion == 'FINALIZACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">FINALIZADO</span>
										</div>
										<div class="product-img" *ngIf="estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">PENDIENTE</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Finalización
												<span class="label label-warning pull-right" style="font-size: 15px">Registros Finalizados: {{
													estado_finalizacion_total }}</span></a>
											<span class="product-description">
												Fecha de Finalización: {{estado_finalizacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
								</ul>
							</div>
	
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header colorfond">
		<h4>Ingrese fecha de la primera pecosa</h4>
		<button type="button" class="btn btn-light botn-blq-3" (click)="ActualizaFechaPecosa()">Aceptar</button>
		<button type="button" class="btn btn-light botn-blq-3" (click)="d('Cross click')">Cancelar</button>
	</div>
	<div class="modal-body">
		<div>
			<p>
				<button type="button" class="btn btn-warning" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
				 aria-controls="collapseExample">
					Nota:
				</button>
			</p>
		</div>
		<div class="alert  fondverde" role="alert" id="collapseExample" [ngbCollapse]="isCollapsed">
			<p>Al presionar el botón <b>“Aceptar”</b> se guardaran la fecha pecosa ingresada.
				<br /> Se deben ingresar todas las fechas para poder continuar con la asignación.</p>
		</div>
		<form>
			<div class="form-group">
				<table class="table3 table table-bordered table-striped  ">
					<thead>
						<tr class="table100-head">
							<th>
								<p class="text-center">Item</p>
							</th>
							<th>
								<p class="text-center">Codigo<br />Patrimonial</p>
							</th>
							<th>
								<p class="text-center">Denominación</p>
							</th>
							<th>
								<p class="text-center">Fecha<br /> Pecosa</p>
							</th>
						</tr>
					</thead>
					<tbody class="table-bordered3">
						<tr *ngFor="let obj of Listfechapecosa_Arg ">
							<td>
								<p class="text-center">{{obj.ITEM}}</p>
							</td>
							<td>
								<p class="text-center">{{obj.CODIGO_PATRIMONIAL}}</p>
							</td>
							<td>
								<p class="text-center">{{obj.DENOMINACION_BIEN}}</p>
							</td>
							<td>
								<p class="text-center">
									<input type="date" class="form-control pull-right" name="fechpecosa[]" [(ngModel)]="obj.fechpecosa" value="">
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</ng-template>

<ng-template #content2 let-modal>
	<div *ngIf="b_ventanaObservacionesValidacion">
		<div>&nbsp;</div>
		<div class="col">
			<div class="card bg-light mb-12">
				<div class="card-body colorfond">
					<div class="col-6 col-md-12">
						<h2 class="box-title">
							<input class="form-control centrado" type="text" placeholder="RESUMEN DE OBSERVACIONES DE ASIGNACIÓN " readonly>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div *ngIf="estado_Duplicados == '1' ">
				<table class="table table-bordered">
					<tr>
						<th style="width: 10px">Item</th>
						<th>Tipo de Acto</th>
						<th>Cod. Patrimonial</th>
						<th style="width: 40px">Fecha Acto</th>
						<th style="width: 40px">Cantidad Repetidos</th>
					</tr>

					<tr *ngFor="let obj of dataObservacionValidacion.duplicado_bienes | keyvalue">
						<td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
						<td>{{ obj.value.TIPO_ACTO }} </td>
						<td>{{ obj.value.NRO_DOC_ACTOS }}</td>
						<td>{{ obj.value.FECHA_ACTOS }}</td>
						<td>{{ obj.value.CANTIDAD_REPETIDOS }}</td>
					</tr>
				</table>
			</div>
			<div *ngIf="estado_Validacion == '1' ">
				<table class="table table-bordered">
					<tr>
						<th style="width: 10px">Item</th>
						<th style="width: 20px">Nro. Fila</th>
						<th style="width: 30px">Nro. Columna</th>
						<th style="width: 50px">Descripción de Errores</th>
					</tr>

					<tr *ngFor="let obj of dataObservacionValidacion.errores_columnas | keyvalue">
						<td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
						<td>{{ obj.value.NRO_FILA }} </td>
						<td>{{ obj.value.COLUMNA }}</td>
						<td>{{ obj.value.DESCRIPCION_ERRORES }}</td>
					</tr>
				</table>
			</div>
			<div *ngIf="estado_Localarea == '1' ">
				<table class="table table-bordered">
					<tr>
						<th style="width: 10px">Nro</th>
						<th style="width: 20px">Local y/o Predio</th>
						<th style="width: 30px">Área</th>
						<th style="width: 50px">Descripción de Errores</th>
					</tr>

					<tr *ngFor="let obj of dataObservacionValidacion.errores_local_area | keyvalue">
						<td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
						<td>{{ obj.value.LOCAL_ENTIDAD }} </td>
						<td>{{ obj.value.NOMBRE_AREA }}</td>
						<td>{{ obj.value.DESCRIPCION_ERRORES }}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="footer">
			<div class="col-md-12">
				<button class="btn btn-primary pull-right btn btn-danger" (click)="modal.dismiss('Cross click'); b_ventanaObservacionesValidacion = false;">Cerrar</button>
			</div>
		</div>
		<div>&nbsp;</div>
	</div>
</ng-template>