
 <iframe  [src]="RutaSinabip | safe" frameborder="0" width="100%"
 height="100%" style="height:100vh"></iframe>

<!-- <iframe src="http://www....gob.pe/SGISBN/System/sinabip_modulos.php?idm=1&opt=36&menu=0" frameborder="0" width="100%"
height="100%" style="height:100vh"></iframe> -->
