.tabla_detalles{
    font-size: 11px;
}

.tabla_cabecera{
    font-size: 12px;
    font-weight: bold;
    color: #007bff
}

.contenido{
    font-size: 12px;
}

.contenido_controles{
    font-size: 10px !important;
    
}

.margin2 {
    margin-bottom: -25px;
  }

.black-overlay{
    position: fixed !important;
}

.table_movimiento_cursor tbody tr:hover {
    background-color: #A9D0F5;
    cursor: pointer;
  }
  
  .margin2 {
    margin-bottom: -25px;
  }
  
  .margin3 {
    margin-left: 13%;
  }
 
  .centrado {
    text-align: center;
    font-weight: bold;
  }

  .colorred1 {
    background: #dd4b39;
    color: white;
    font-weight: bold;
    border-radius: 1;
  }
