<section class="content-header">
  <h1>
    Recodificación de bienes muebles
    <small></small>
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <!-- SELECT2 EXAMPLE -->
  <div class="row">
      <div class="col-md-12" [ngClass]="{'col-md-7' : 
      (mostrarVentanaRecodificarSeleccionados && !mostrarVentanaResumenRecodificacion) ||
      (!mostrarVentanaRecodificarSeleccionados && mostrarVentanaResumenRecodificacion)}">
        <div class="box box-solid box-danger">
            <div class="box-header">
              <h3 class="box-title">Búsqueda de bienes</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipo del bien</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.tipo_bien">
                        </div>  
                    </div>  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre del bien</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.nombre_bien">
                        </div>
                    </div>                            
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Grupo genérico</label>
                            <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.grupo" (change)='cargarListadoRecodificacion()'>
                              <option selected="selected" value="-1">:: TODOS LOS GRUPOS ::</option>
                              <option *ngFor="let objs of dataRecodificacion.grupos" [value] = "objs.NRO_GRUPO">{{ objs.DESC_GRUPO }}</option>
                            </select>
                        </div>  
                    </div>  
                              
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Clase</label>
                            <select class="form-control select2" style="width: 100%;" [(ngModel)] = "filtro.clase"> 
                              <option selected="selected" value="-1">:: TODOS LAS CLASES ::</option>
                              <option *ngFor="let obj of dataRecodificacion.clases" [value] = "obj.COD_CLASE"  >{{ obj.DESC_CLASE }}</option>
                            </select>
                        </div>
                    </div>                            
                  </div>
                </div>
                <div class="row">
                <div class="col-md-2">  
                  <div class="form-group"> 
                      <button type="button" class="btn btn-primary btn-sm" (click)="cargarListadoRecodificacion()"><i class="fa fa-search"></i> Buscar</button>
                  </div>
                  <div class="form-group">
                      <button type="button" class="btn btn-primary btn-sm" (click)="BorrarFiltro()"><i class="fa fa-close"></i> Borrar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
            
            <div class="box-footer">
              <a [href]="RutaSinabip+'Manuales-Sinabip/MANUAL_RECODIFICACION.pdf'" target="__blank">
                <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
                  Descargar Guía de Usuario: Recodificación</a>
            </div>
          </div>
          <!-- /.box -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid box-danger">
                <div class="box-header">
                  <h3 class="box-title">Listado de Denominaciones</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>TIPO BIEN</th>
                        <th>NOMBRE BIEN</th>
                        <th>GRUPO</th>
                        <th>CLASE</th>
                        <th><button class="btn btn-danger" (click)="ventanaRecodificacionSeleccionados()">RECODIFICAR</button></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of dataRecodificacion.reco"> 
                        <td>{{ obj.ROW_NUMBER_ID }} </td>
                        <td>{{ obj.NRO_BIEN }}</td>
                        <td>{{ obj.DENOM_BIEN }}</td>
                        <td>{{ obj.DESC_GRUPO }}</td>
                        <td>{{ obj.DESC_CLASE }}</td>
                        <td>
                            <input type="checkbox" name="lenguaje[]" [(ngModel)]="obj.seleccionado"  (change)="almacenarDenominaciones(obj.seleccionado,obj.NRO_BIEN)" value="False" class="checkAll" *ngIf="obj.FLAGPERS!=1"  aria-label="Checkbox for following text input">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav class="mt-3" *ngIf="total >= itemsPerPage">
                      <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                    </nav>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-5" *ngIf="mostrarVentanaRecodificarSeleccionados">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Registro de resolución para recodificación de bienes</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label>Nº Oficio</label>   
              <input type="text" formControlName="oficio" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.oficio.errors }" placeholder="Ingresa el Nº de Documento">
              <div *ngIf="submitted && f.oficio.errors" class="invalid-feedback">
                <div *ngIf="f.oficio.errors.required">Nº de Oficio es requerido</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nº Informe</label>   
                  <input type="text" formControlName="informe" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.informe.errors }" placeholder="Ingresa el Nº de Documento">
                  <div *ngIf="submitted && f.informe.errors" class="invalid-feedback">
                    <div *ngIf="f.informe.errors.required">Nº de informe es requerido</div>
                  </div>
                </div>
              </div> 

              <div class="col-md-6">
                <div class="form-group">
                  <label>Fecha</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="date" formControlName="fecha" class="form-control pull-right" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }" id="datepicker">
                    <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                      <div *ngIf="f.fecha.errors.required">Fecha es requerida</div>
                    </div>
                  </div>
                </div>  
              </div> 
            </div>
            <div class="footer">
              <button class="btn btn-primary pull-left">Procesar recodificación</button>  
              <button class="btn btn-primary pull-right btn btn-danger" (click)="this.mostrarVentanaRecodificarSeleccionados = false;">Cerrar</button>  
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5" *ngIf="mostrarVentanaResumenRecodificacion">
      <div class="row">
          <div class="col-xs-12">
            <div class="box box-solid box-danger">
              <div class="box-header">
                <h3 class="box-title">Listado de bienes recodificados - {{this.paramRecod.oficio}}</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="input-group mb-3">
                  <div class="col-md-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Nª oficio</span>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{this.paramRecod.oficio}}</span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="col-md-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Nª informe</span>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{this.paramRecod.informe}}</span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="col-md-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Fecha</span>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{this.paramRecod.fecha}}</span>
                    </div>
                  </div>
                </div>
                <table id="example2" class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>TIPO BIEN</th>
                      <th>DENOMINACIÓN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of this.dataDetalleRecodificacion"> 
                      <td>{{ obj.ROW_NUMBER_ID }} </td>
                      <td>{{ obj.COD_UE_DENOMINACION }}</td>
                      <td>{{ obj.DENOM_BIEN }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-left btn btn-danger" (click)="ImprimirReporteRecodificacion()">Imprimir</button>
                    <button class="btn btn-primary pull-right" (click)="FinalizarRecodificacion()">Finalizar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  <!-- Fin de Formulario de migracion masiva -->

  </div>


  <!-- /.row -->

</section>
<!-- /.content -->