<section class="content-header">
	<!-- <h1>
		Dashboard
		<small>Control panel</small>
	</h1> -->
	<!-- <ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->
</section>
	<!-- Main content -->
<section class="content">
	<p class="text-center">
		<img src="./assets/webimages/fondos/mapa_fondo_4.png" width="771" height="704">
	</p>
	<div class="row">

		<div #divClick id="tutor-price" (click)="open(content)"> &nbsp; </div>


	  <ng-template #content let-c="close" let-d="dismiss" >
		<div class="box box-solid box-danger">
			<div class="box-header">
			  <h3 class="box-title">AVISO</h3>        
			</div>
			<div class="row">
			  <div class="col-md-12" *ngIf="ValidarEstado == '1' || ValidarEstado == '3'">
				<div class="panel panel-default">
					<div class="panel-body fond">
						<div class="row">
							<div class="col-md-7">
							  <div class="alert" role="alert">
								  <h4 class="box-title"><b><p>Falta realizar la configuración de fecha para la depreciación de bienes.</p></b></h4>  
							  </div>
							</div>
							<div class="col-md-3 margen_top">
								<button type="button" class="btn btn-primary" (click)="ruta_fecha()">Aceptar</button>                                        
							</div>
							<div class="col-md-2">
							</div>
						</div>
					</div>
				  </div>
				</div>
				<!-- <div class="col-md-12" *ngIf="ValidarEstado == '2' || ValidarEstado == '3'"> 
				  <div class="panel panel-default">
					<div class="panel-body fond">
						<div class="row">
							<div class="col-md-7">
							  <div class="alert" role="alert">
								  <h4 class="box-title"><b><p>Falta realizar el ingreso de los valores de depreciación de bienes.</p></b></h4>  
							  </div>
							</div>
							<div class="col-md-3 margen_top">
								<button type="button" class="btn btn-primary" (click)="ruta_valores()">Aceptar</button>                                        
							</div>
							<div class="col-md-2">
							</div>
						</div>
					</div>
				  </div>
				</div> -->
			</div>
			<div class="panel panel-default">
			<div class="panel-body">
				<div class="row botoncentrado">
				<div class="input-group mb-2" >
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-3">
						<button type="button" class="btn btn-primary " (click)="d('Cross click')">Cancelar</button>
					</div>
				</div>
				</div>
				</div>
			</div>

		  </div>     
		</ng-template>
	</div>
</section>
<!-- /.content -->