    .botn-blq-1 {
    width: 35%;
    margin: 0 auto;
    }
           
    .botn-blq-4 {
    width: 45%;
    margin: 0 auto;
    }
     
    .bordetop {
        border-top: 0px solid #d2d6de;
    }
    
    .box.box-solid.box-danger2 > .box-header {
        color: #ffffff;
        background: #dd4b39;
        background-color: #dd4b39;
    }
  
    .margen_form{
        margin-left: 65px;
    }

    .paddingleftboton{
        padding-left: 20%;
    }

    .botn-blq-5 {
        width: 60%;
        }
         
    .botn-blq-6 {
        width: 77%;
        }