<section class="content-header">
	<h1>
		ACTUALIZACIÓN DE DATOS DE DEPRECIACIÓN
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-12" [ngClass]="{'col-md-8' : (flag_carga_masiva ==1) }">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Cód. Patrimonial:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1"
									[(ngModel)]="filtro.cod_patrimonial">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Denominación:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag()" (click)="ListadoModificacionValorNeto()"><i
										class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
										Borrar</button>
								</div>

								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>

				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<form action="#" align="center">
									<div class="col-6 col-md-5">
											<button type="button" value="" class="btn btn-primary botn-blq-4 botn-blq-5" (click)='carga_masiva()'> 
													Actualización Masiva de Depreciación
											</button>
									</div>
									<div class="col-6 col-md-2">	
									</div>
									<div class="col-6 col-md-5">
									</div>
									<div class="col-6 col-md-5">
										<a [href]="RutaSinabip+'Manuales-Sinabip/SINABIP_MUEBLES_ACTUALIZACION_DATOS_DEPRECIACION.pdf'" target="__blank">
										<img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
										Descargar Guía de Usuario: Actualización de Depreciación 2018</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Lista de bienes Patrimoniales</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Codigo Patrimonial</p>
											</th>
											<th>
												<p align="center">Denominación</p>
											</th>
											<th>
												<p align="center">% Depreciación</p>
											</th>
											<th>
												<p align="center">Valor<br />Neto</p>
											</th>
											<th>
												<p align="center">Modificar<br />Datos</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ListaModValorNeto_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
											<td align="center">{{obj.DENOMINACION_BIEN}}</td>
											<td align="center">{{obj.PORC_DEPREC | number: '.2'}}</td>
											<td align="center">{{obj.VALOR_NETO_SI | number: '.2' }}</td>
											<td align="center">
												<button type="button" class="btn btn-primary botn-blq-4 botn-blq-6" (click)="open(content,obj.PORC_DEPREC,obj.VALOR_DEPREC_ACUM_SI,obj.VALOR_NETO_SI,obj.COD_UE_BIEN_PATRI, obj.VALOR_DEPREC_EJERCICIO, obj.NRO_CTA_CONTABLE)">
													ACTUALIZAR </button>
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									[rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ADJUNTAR TXT DE ACTUALIZACION MASIVA DE DEPRECIACION --> 

			<div class="col-md-4" *ngIf="flag_carga_masiva ==1 ">
	
				<div class="box box-info">
	
					<div class="box-header with-border">
						<div class="alert fondoinfocolor" role="alert">
							<b style="color: red">Actualización Masiva de Depreciación a Diciembre del 2018</b>
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<h3 class="box-title">Datos de la Depreciación</h3>
					</div>

					<div class="col-6 col-md-4">
							
					</div>

					<br>
					<div class="box-header with-border">
						<a (click)="ImportarFormatoExcel(content)">
							Paso Nº 1: Descargar la información de Bienes
							<img [src]="RutaSinabip+'sgisbn/webimages/iconos/excel.png'" class="margenimg1" width="27" height="27" border="0" align="absmiddle"
							 alt="Manual_de_usuario">
						</a><br>
						<a [href]="RutaSinabip+'Manuales-Sinabip/Formato_Carga_Masiva_Actualizacion_Depreciacion_v1.xlsm'" target="__blank">
							Paso Nº 2: Descargar el Formato Excel  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<img [src]="RutaSinabip+'sgisbn/webimages/iconos/excel.png'" width="27" height="27" border="0" align="absmiddle"
							 alt="Manual_de_usuario">
						</a><br>
						
						<label>Paso Nº 3: Validar y Generar el archivo TXT</label><br>
						<label>Paso Nº 4: Adjuntar archivo TXT</label>
					</div>
					<div class="box-body centrado margin2" *ngIf="habilitar_adjuntar != '1'">
						<table>
							<tr>
								<td>
									<label>Adjuntar Archivo:</label>
								</td>
								<td>
									<angular-file-uploader [config]="afuConfig" (ApiResponse)="AdjuntarDepreciaciontxt($event)">
									</angular-file-uploader>
								</td>
							</tr>
						</table>
					</div>
					<div class="box box-primary">
						<div class="box box-primary" *ngIf="estado_adjuntar == 'OK'">
							<div class="box-header with-border">
								<h3 class="box-title">Pasos para la Carga Masiva</h3> 
	
							</div>
							<div class="box-body">
								<ul class="products-list product-list-in-box">
									<li class="item">
										<div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA'">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="CargarDepreciacionTXT()">Cargar</a>
										</div>
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA'">
											<span class="product-description" style="color: red">CARGADO</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Carga
												<span class="label label-warning pull-right" style="font-size: 15px">Registros cargados: {{
													estado_carga_total }}</span></a>
											<span class="product-description">
												Fecha de Carga: {{estado_carga_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
									<li class="item">
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_adjuntar == 'OK'">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="ValidarDepreciacionTXT(content)">Validar</a>
										</div>
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion == 'VALIDACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">VALIDADO</span>
										</div>
										<div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">PENDIENTE</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Validación
												<span class="label label-warning pull-right" style="font-size: 15px">Registros Validados: {{
													estado_validacion_total }}</span></a>
											<span class="product-description">
												Fecha de validación: {{estado_validacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
									<li class="item">
										<div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA' ">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="FinalizarDepreciacionTXT()">Finalizar</a>
										</div>
										<div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion == 'FINALIZACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">FINALIZADO</span>
										</div>
										<div class="product-img" *ngIf="estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">PENDIENTE</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Finalización
												<span class="label label-warning pull-right" style="font-size: 15px">Registros Finalizados: {{
													estado_finalizacion_total }}</span></a>
											<span class="product-description">
												Fecha de Finalización: {{estado_finalizacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
								</ul>
							</div>
	
						</div>
					</div>
				</div>
	
			</div>

			<!-- FIN DE ADJUNTAR TXT -->
			
		</div>
	</div>

</section> 

<ng-template #content let-c="close" let-d="dismiss">
	<div *ngIf="cantidadNo_existe_codigos_pat == 0 && cantidaderrores_columnas == 0 && flag_ImportarFormatoExcel != 1" class="box box-solid box-danger" > 
		<div class="box-header">
			<h3 class="box-title">MODIFICAR VALORES DE DEPRECIACIÓN A DICIEMBRE DEL 2018</h3>
			<div class="box-tools pull-right">
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Valores a ingresar</div>
					<div class="panel-body">
						<div class="input-group mb-3">
							
							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="deprecAcumulado" id="basic-addon1">Valor Depreciación<br /> Ejercicio: </span>
								</div>
							</div>
							<div class="col-md-6">
								<input id="nrodocument" type="number" (keypress)="keyPress($event)" [disabled]="valida_fecha == '1'" class="form-control my-colorpicker1"
								 name="valordepreciacionEjerciciosi" [(ngModel)]="filtro2.valordepreciacionEjerciciosi">
							</div>
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-12">&nbsp;</div>

							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="deprecAcumulado" id="basic-addon1">Valor Depreciación<br /> Acumulado: </span>
								</div>
							</div>
							<div class="col-md-6">
								<input id="nrodocument" type="number" (keypress)="keyPress($event)" [disabled]="valida_fecha == '1'" class="form-control my-colorpicker1"
								 name="valordeprecacumuladosi" [(ngModel)]="filtro2.valordeprecacumuladosi">
							</div>
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-12">&nbsp;</div>

							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="Area" id="basic-addon1">Valor Neto: </span>
								</div>
							</div>
							<div class="col-md-6">
								<input id="nrodocument" type="number" (keypress)="keyPress($event)" [disabled]="valida_fecha == '1'" class="form-control my-colorpicker1"
								 name="valorneto" [(ngModel)]="filtro2.valornetosi">
							</div>
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-12">&nbsp;</div>


							<div class="col-md-4">
							<div class="input-group-prepend">
								<span class="Local" id="basic-addon1">Porcentaje<br />Depreciación: </span>
							</div>
							</div>
							<div class="col-md-6">
								<input id="nrodocument" type="number" (keypress)="keyPress($event)" class="form-control my-colorpicker1" name="porcentajedeprecsi"
									[(ngModel)]="filtro2.porcentajedeprecsi">
							</div>
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-12">&nbsp;</div>


							<div class="col-md-4">
								<div class="input-group-prepend">
									<span class="Local" id="basic-addon1">Cuenta Contable: </span>
								</div>
							</div>
							<div class="col-md-6">
								<input id="nrodocument" type="number" (keypress)="keyPress($event)" class="form-control my-colorpicker1" name="cuentaContable"
									[(ngModel)]="filtro2.cuentaContable">
							</div>
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-12">&nbsp;</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body paddingleftboton">
						<div class="input-group mb-3">
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar</button>
							</div>
							<div class="col-md-1">&nbsp;</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-primary" (click)="ActualizarDepreciacion(filtro2.valordepreciacionEjerciciosi, filtro2.valordeprecacumuladosi, filtro2.valornetosi, filtro2.porcentajedeprecsi,filtro2.cuentaContable)">Aceptar</button>
							</div>
							<div class="col-md-2">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Formulario de Observaciones de Validacion -->
	<div *ngIf="cantidadNo_existe_codigos_pat > 0 || cantidaderrores_columnas > 0">
			<div class="modal-header p-2">
			  <h5 class="modal-title" id="modal-basic-title"></h5>
			  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">  

				<div class="alert alert-info" role="alert" *ngIf='cantidadNo_existe_codigos_pat > 0'>
					<span style="font-size: 16px">Bienes Patrimoniales <strong>no se encuentran registrados</strong></span>
				</div>
				<table class="table table-bordered" *ngIf='cantidadNo_existe_codigos_pat > 0'>
					<tr>
					  
					  <th style="width: 10px">Item</th>
					  <th style="width: 200px">Cod. Patrimonial</th>
					  <th style="width: 60px">Valor Neto</th>
					</tr>

					<tr *ngFor="let obj of dataObservacionValidacion.no_existe_codigos | keyvalue">
					  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
					  <td>{{ obj.value.CODIGO_PATRIMONIAL }} </td>
					  <td>{{ obj.value.VALOR_NETO }}</td>
					</tr>
					
				</table>

				<div class="alert alert-info" role="alert" *ngIf='cantidaderrores_columnas > 0'>
					<span style="font-size: 16px"><strong>Errores de </strong>Validación en columnas Excel</span>
				</div>
				<table class="table table-bordered" *ngIf='cantidaderrores_columnas > 0'>
					<tr>
					  
					  <th style="width: 10px">Item</th>
					  <th>Nro. Fila</th>
					  <th>Nro. Columna</th>
					  <th style="width: 40px">Descripción de Errores</th>
					</tr>

					<tr *ngFor="let obj of dataObservacionValidacion.errores_columnas | keyvalue">
					  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
					  <td>{{ obj.value.NRO_FILA }} </td>
					  <td>{{ obj.value.COLUMNA }}</td>
					  <td>{{ obj.value.DESCRIPCION_ERRORES }}</td>
					</tr>
					
				</table>

				<div class="footer">
					<div class="col-md-12">
						<button class="btn btn-primary pull-right btn btn-danger" (click)="modal.dismiss('Cross click'); b_ventanaObservacionesValidacion = false;">Cerrar</button>
					</div>
				</div>
				<br><br>
			  
			</div>


	</div>	
	<!-- Fin de Formulario de Observaciones de Validacion -->



	<!-- Eliminacion de Detalles de Bajas(Resolucion) -->
	<div *ngIf="flag_ImportarFormatoExcel">
		<div class="modal-body">
			<div class="row">	
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="alert alert-primary" role="alert"> 
							<b>Descarga de Bienes para la Actualizacion de Depreciación</b>
						</div>	
					</div>		
					
					<div class="box-body">
						<table id="example2" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Nro Grupo</th>
									<th>Descarga</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								 <tr *ngFor="let obj of dataDescargas ; let  i = index">   
									<td>{{ i + 1 }} </td>
									<td>
										<a href="{{Sinabip.API_URL}}ImportarFormatoExcelxGrupo/{{id}}/{{i+1}}" target="_blank">
											<img src="./assets/webimages/iconos/excel.png" width="20" height="20" border="0" />&nbsp;&nbsp;&nbsp;
											Descargar en Formato Excel - Grupo  {{ i +1 }}
										</a>
									</td>
								</tr>
							</tbody>
							                                     
						</table>
						<div class="footer">
							<button class="btn btn-primary pull-right btn btn-danger" (click)="modalService.dismissAll();">Cerrar</button>
						</div>
					</div>
				</div> 
				<div class="box-body">
					<b style="color: red">NOTA: La información de sus Bienes se ha dividido en grupos por la gran cantidad de registros</b>
				</div>                            
			</div>
		</div>
	</div>
			  <!-- Eliminacion de Detalles de Bajas(Resolucion) -->


</ng-template>