<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="./assets/dist/img/Logo_2019-v1.jpg" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{{NombreEntidad}}</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu" data-widget="tree" >
			<li class="header">MENÚ NAVEGACIÓN</li>
			<li class="treeview" *ngFor="let obj of datos | keyvalue" >
				<a href="#">
					<i class="fa fa-plus"></i> 
					<span>{{ obj.value.descripcion }}</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu" >
					<li *ngFor="let objhijos of obj.value.hijos | keyvalue">
						<a [routerLink]="['/' + objhijos.value.nombre_carpeta]" [routerLinkActive]="['router-link-active']" >
							<i class="fa fa-circle-o"></i> {{ objhijos.value.descripcion }}
						</a>
					</li>
				</ul>
			</li>

		</ul>
	</section>
	<!-- /.sidebar -->
</aside>