<section class="content-header">
	<h1>
		Reporte de Actos
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-md-12" [ngClass]="{'col-md-7' : (mostrarVentanaTipoRegistro && !mostrarVentanaRegistroIndividual) || (!mostrarVentanaTipoRegistro && mostrarVentanaRegistroIndividual)}">
				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">Filtro de Búsqueda</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-10">
								<div class="form-group">
									<label>Tipo de Actos</label>
									<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.tipo_acto" (change)="ListadoFormaActo()">
										<option selected="selected" value="-1">:: SELECCIONE UNA OPCIÓN ::</option>
										<option *ngFor="let objs of dataActosAdquisicion.formaAdq | keyvalue" [value]="objs.value.ESTADO_PARAMETRO">{{
											objs.value.DESCRIPCION_ESTADO }}</option>
									</select>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Nº Documento Sustentatorio</label>
											<input type="text" class="form-control" [(ngModel)]="filtro.nro_documento">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Forma de Acto</label>
											<select class="form-control select2" style="width: 100%;" [(ngModel)]="filtro.forma_adquisicion">
												<option selected="selected" value="-1">:: TODOS ::</option>
												<option *ngFor="let objs of dataListado_Forma_Acto.formaActos | keyvalue" [value]="objs.value.CODIGO">{{
													objs.value.DESCRIPCION }}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Fecha desde</label>
											<div class="input-group date">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="date" class="form-control pull-right" id="datepicker" [(ngModel)]="filtro.fechaDesde">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Fecha hasta</label>
											<div class="input-group date">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="date" class="form-control pull-right" id="datepicker" [(ngModel)]="filtro.fechaHasta">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">  
										<button type="button" class="btn btn-primary btn-sm" (click)="buscar_actos()"><i class="fa fa-search"></i>
											Buscar &nbsp; &nbsp;
										</button>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary btn-sm" (click)="BorrarFiltro()"><i class="fa fa-close"></i>
											Borrar &nbsp; &nbsp;
										</button>
									</div>
									<div class="form-group">
										<a href="{{Sinabip.API_URL}}Pdf_Imprimir_Consolidado_Acto/{{filtro.cod_entidad}}/{{filtro.tipo_acto}}/{{filtro.forma_adquisicion}}/{{nro_documento_url}}/{{filtro.fechaDesde}}/{{filtro.fechaHasta}}" target="_blank">
											<button type="button" class="btn btn-success btn-sm">
												<i class="fa fa-pencil"></i>Imprimir
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Listado de Actos</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>Item</th>
											<th>Forma de Acto</th>
											<th>Documento de Acto</th>
											<th>Fecha de Acto</th>
											<th>Estado</th>
											<th>Total Bienes</th>
											<th>Ver Detalles</th>
											<th>Imprimir</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of dataActosAdquisicion.documento" [ngClass]="{'table-active':seleccionRows==obj.ID_ACTO}">
											<td>{{ obj.ROW_NUMBER_ID }}</td>
											<td>{{ obj.NOM_FORM_ADQUIS }}</td>
											<td>{{ obj.NRO_DOCUMENTO_ADQUIS }}</td>
											<td> {{ obj.FECHA_DOCUMENTO_ADQUIS }}</td>
											<td>{{ obj.ESTADO }}</td>
											<td>{{ obj.TOTAL_BIENES }}</td>
											<td>
												<button type="button" class="btn btn-primary btn-sm" (click)="verDetalleActo(obj.ID_ACTO, filtro.tipo_acto)">
													<i class="fa fa-pencil"></i> Editar
												</button>
											</td>
											<td>
												<a href="{{SinabipMuebles.API_URL}}Pdf_Imprimir_Detalle_Acto/{{obj.COD_ENTIDAD}}/{{obj.ID_ACTO}}/{{filtro.tipo_acto}}" target="_blank">
													<button type="button" class="btn btn-success btn-sm">
														<i class="fa fa-pencil"></i> Imprimir
													</button>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									 [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5" *ngIf="mostrarVentanaTipoRegistro && !mostrarVentanaRegistroIndividual">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="alert alert-primary" role="alert">
							Registro de Adquisición de Bienes Muebles
						</div>
						<div class="col-md-12">
							<div class="form-group col-md-auto">
	
								<button type="button" class="btn btn-block btn-primary btn-lg" style="width: 500px" (click)="ventanaRegistroFormaMasiva()">Registro
									de Forma Masiva</button>
								<button type="button" class="btn btn-block btn-primary btn-lg" style="width: 500px" (click)="ventanaRegistroFormaIndividual()">Registro
									de Forma Individual</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5" *ngIf="!mostrarVentanaTipoRegistro && mostrarVentanaRegistroIndividual">
				<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	
					<div class="box box-info">
	
						<div class="box-header with-border">
							<div class="alert alert-primary" role="alert">
								<h3 class="box-title"> Detalle de Actos</h3>
							</div>
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
	
						<div class="box box-info">
							<div class="box-body">
								<hr>
								<table class="table table-bordered">
									<tr>
										<th style="width: 10px">Item</th>
										<th>Cod. Patrimonial</th>
										<th>Denominación del Bien </th>
										<th style="width: 40px">Valor Adq.</th>
										<th style="width: 40px">Detalle Técnico</th>
									</tr>
									<tr *ngFor="let obj of dataverDetalleActos.detalles">
										<td><span class="badge bg-red">{{ obj.ROW_NUMBER_ID }}</span></td>
										<td>{{ obj.CODIGO_PATRIMONIAL }} </td>
										<td>{{ obj.DENOMINACION_BIEN }}</td>
										<td>{{ obj.VALOR_ADQUIS }}</td>
										<td><button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-align-justify" (click)="seleccionBien1=false; seleccionBien2=false; mostrarVentanaCaracteristicas = true; open1(content, obj.COD_UE_BIEN_PATRI)"></i></button></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<ng-template #content let-modal>
	<div *ngIf="seleccionBien1 && !seleccionBien2 && !b_ventanaObservacionesValidacion">
		<div class="modal-header p-2">
			<h5 class="modal-title" id="modal-basic-title"></h5>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="alert alert-primary" role="alert">
							Catálogo de Bienes Muebles de la SBN
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group input-group-sm mb-3">
									<label class="contenido">Grupo Genérico</label>
									<select class="form-control" style="width: 100%;" name="nro_grupo" [(ngModel)]="parametros.nro_grupo">
										<option selected="selected" value="-1">:: TODOS ::</option>
										<option *ngFor="let obj of dataFormaIndividual.grupos | keyvalue" value="{{obj.value.NRO_GRUPO}}">{{
											obj.value.DESC_GRUPO }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group input-group-sm mb-3">
									<label class="contenido">Clase Genérico</label>
									<select class="form-control select2" style="width: 100%;" name="nro_clase" [(ngModel)]="parametros.nro_clase">
										<option selected="selected" value="-1">:: TODOS ::</option>
										<option *ngFor="let obj of dataFormaIndividual.clases | keyvalue" value="{{obj.value.NRO_CLASE}}">{{
											obj.value.DESC_CLASE }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<button type="submit" class="btn btn-primary pull-right" (click)="ListadoCatalogoFormaIndividual()">Buscar</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group input-group-sm mb-3">
									<label class="contenido">Familia del Bien</label>
									<input type="text" class="form-control" name="denom_bien" [(ngModel)]="parametros.denom_bien">
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group input-group-sm mb-3">
									<label class="contenido">Código del Bien</label>
									<input type="text" class="form-control" name="nro_bien" [(ngModel)]="parametros.nro_bien">
								</div>
							</div>
						</div>
					</div>
					<div class="box box-info">
						<div class="box-body">
							<div class="form-group">
								<hr>
								<table class="table table-bordered">
									<tr class="tabla_cabecera">
										<th style="width: 10px">Código</th>
										<th>Denominación del Catálogo</th>
										<th>Grupo</th>
										<th style="width: 40px">Clase</th>
										<th style="width: 40px">Seleccionar</th>
									</tr>
									<tr class="tabla_detalles" *ngFor="let obj of dataFormaIndividual.catalogo">
										<td>{{ obj.NRO_BIEN }}</td>
										<td>{{ obj.DENOM_BIEN }}</td>
										<td>{{ obj.DESC_GRUPO }}</td>
										<td>{{ obj.DESC_CLASE }}</td>
										<td><a (click)="traerDatosTipoBien(obj)">Seleccionar</a></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<div class="input-group input-group-sm mb-3">
										<label class="contenido">Código</label>
										<input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.codigo_patrimonial">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-group input-group-sm mb-3">
										<label class="contenido">Denominación de Catálogo</label>
										<input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.denominacion_bien">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group input-group-sm mb-3">
										<label class="contenido">Cantidad</label>
										<input type="text" class="form-control" [(ngModel)]="paramAgregar.cantidad">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group input-group-sm mb-3">
										<label class="contenido">Valor Unitario S/. </label>
										<input type="text" class="form-control" [(ngModel)]="paramAgregar.valor_adq">
									</div>
								</div>
							</div>
						</div>
						<div class="footer">
							<button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
							<button class="btn btn-primary pull-right" (click)="AgregarBien_Actos()">Agregar Bien</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!seleccionBien1 && seleccionBien2 && !b_ventanaObservacionesValidacion">
		<div class="box box-info">
			<div class="box-header with-border">
				<div class="alert alert-primary" role="alert">
					Listado de Códigos Patrimoniales Eliminados
				</div>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="contenido">Cod. Patrimonial</label>
							<input type="text" class="form-control my-colorpicker1" name="cod_patrimonial" [(ngModel)]="parametros.cod_patrimonial">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="contenido">Denominación del Bien</label>
							<div class="input-group date">
								<input type="text" class="form-control my-colorpicker1" name="denom_patrimonial" [(ngModel)]="parametros.denom_patrimonial">
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary pull-right" (click)="ListadoBienesEliminados()">Buscar</button>
				</div>
			</div>
			<div class="box box-info">
				<div class="box-body">
					<div class="form-group">
						<hr>
						<table class="table table-bordered">
							<tr class="tabla_cabecera">
								<th style="width: 10px">Código</th>
								<th>Denominación del Bien Patrimonial</th>
								<th style="width: 40px">Seleccionar</th>
							</tr>
							<tr class="tabla_detalles" *ngFor="let obj of databienesEliminados.bienesEliminados">
								<td>{{ obj.CODIGO_PATRIMONIAL }}</td>
								<td>{{ obj.DENOMINACION_BIEN }}</td>
								<td><a (click)="traerDatosCodPatrimonialesEliminados(obj)">Seleccionar</a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<div class="input-group input-group-sm mb-3">
								<label class="contenido">Código</label>
								<input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.codigo_patrimonial">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="input-group input-group-sm mb-3">
								<label class="contenido">Denominación de Catálogo</label>
								<input disabled type="text" class="form-control" [(ngModel)]="paramAgregar.denominacion_bien">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<div class="input-group input-group-sm mb-3">
								<label class="contenido">Valor Unitario S/.</label>
								<input type="text" class="form-control" [(ngModel)]="paramAgregar.valor_adq">
							</div>
						</div>
					</div>
				</div>
				<div class="footer">
					<button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
					<button class="btn btn-primary pull-right" (click)="AgregarBien_Actos()">Agregar Bien</button>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!seleccionBien1 && !seleccionBien2 && mostrarVentanaCaracteristicas && !b_ventanaObservacionesValidacion">
		<div class="modal-body">
			<div class="row">
				<div class="box box-info">
					<div class="box-header with-border">
						<div class="alert alert-primary" role="alert">
							caracteristicas de Bienes Patrimoniales
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">Datos de Acto de Adquisición</div>
								<div class="panel-body">
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Forma de Adquisición</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" [(ngModel)]="paramBien.formaAdquis" aria-label="Username"
											 aria-describedby="basic-addon1" disabled>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Nº Documento Adquisición</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" [(ngModel)]="paramBien.nroDocAdquis" aria-label="Username"
											 aria-describedby="basic-addon1" disabled>
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">Fecha Adquisición</span>
										</div>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" [(ngModel)]="paramBien.fechaAdquis" aria-label="Username"
										 aria-describedby="basic-addon1" disabled>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">Datos del Bien Patrimonial</div>

								<div class="panel-body">
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Código Patrimonial</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" [(ngModel)]="paramBien.codigopatri" aria-label="Username"
											 aria-describedby="basic-addon1" disabled>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Denominación del Bien</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese denominación del Bien" aria-label="Username"
											 aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'" id="denomBien" name="denomBien"
											 required minlength="4" appForbiddenName="bob" [(ngModel)]="paramBien.denomBien" #denomBien="ngModel"
											 required>
											<div *ngIf="denomBien.invalid && (denomBien.dirty || denomBien.touched)" class="alert alert-danger">
												<div *ngIf="denomBien.errors.required">
													Denominación del Bien es requerido.
												</div>
												<div *ngIf="denomBien.errors.minlength">
													Campo no debe ser menor a 4 digitos.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">Detalles Técnicos del Bien</div>
								<div class="panel-body">
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Marca</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Marca" [(ngModel)]="paramBien.marca" aria-label="Username"
											 aria-describedby="basic-addon1" [disabled]="paramAgregar.marca == 'FINALIZADO'" id="marca" name="marca"
											 required maxlength="10" appForbiddenName="bob" #marca="ngModel">
											<div *ngIf="marca.invalid && (marca.dirty || marca.touched)" class="alert alert-danger">
												<div *ngIf="marca.errors.required">
													Marca es requerido.
												</div>
												<div *ngIf="marca.errors.maxlength">
													Campo no debe ser mayor a 10 digitos.
												</div>
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Modelo</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Modelo" [(ngModel)]="paramBien.modelo"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Tipo</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Tipo" [(ngModel)]="paramBien.tipo" aria-label="Username"
											 aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Color</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Color" [(ngModel)]="paramBien.color" aria-label="Username"
											 aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Nº Serie</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Serie" [(ngModel)]="paramBien.nroSerie"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Nº Chasis</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Nº de Chasis" [(ngModel)]="paramBien.nroChasis"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Año de Fabricación</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Año de Fabricación" [(ngModel)]="paramBien.anioFabric"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Otras Caracteristicas</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Otras Caracteristicas" [(ngModel)]="paramBien.otrasCaract"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">Datos Contables y Otros</div>
								<div class="panel-body">
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Uso de Cuenta</span>
											</div>
										</div>
										<div class="col-md-8">
											<select class="form-control select2" style="width: 100%;" name="usoCta" [(ngModel)]="paramBien.usoCta"
											 [disabled]="paramAgregar.estado == 'FINALIZADO'">
												<option selected="selected" value="-1">:: SELECCIONE OPCIÓN ::</option>
												<option value="1">DE USO PRIVADO</option>
												<option value="2">DE USO ESTATAL</option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Tipo de Cuenta</span>
											</div>
										</div>
										<div class="col-md-8">
											<select class="form-control select2" style="width: 100%;" name="TipoCta" [(ngModel)]="paramBien.TipoCta"
											 [disabled]="paramAgregar.estado == 'FINALIZADO'">
												<option selected="selected" value="-1">:: SELECCIONE OPCIÓN ::</option>
												<option value="1">ACTIVO FIJO</option>
												<option value="2">CUENTA DE ORDEN</option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Cuenta Contable</span>
											</div>
										</div>
										<div class="col-md-8">
											<select class="form-control select2" style="width: 100%;" name="CtaContable" [(ngModel)]="paramBien.CtaContable"
											 [disabled]="paramAgregar.estado == 'FINALIZADO'">
												<option selected="selected" value="103">:: SELECCIONE OPCIÓN ::</option>
												<option *ngFor="let objs of dataCaracteristicasBien.CuentasContables | keyvalue" [value]="objs.value.COD_CTA_CONTABLE">{{
													objs.value.DESCRIPCION_CUENTA_CONTABLE }}</option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Valor Adquisición</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Valor de Adquisición" [(ngModel)]="paramBien.valorAdquis"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">% Depreciación</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Porcentaje de Depreciación" [(ngModel)]="paramBien.porcDeprec"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Asegurado</span>
											</div>
										</div>
										<div class="col-md-8">
											<select class="form-control select2" style="width: 100%;" name="asegurado" [(ngModel)]="paramBien.asegurado"
											 [disabled]="paramAgregar.estado == 'FINALIZADO'">
												<option selected="selected" value="-1">:: SELECCIONE OPCIÓN ::</option>
												<option value="1">SI</option>
												<option value="2">NO</option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Estado del Bien</span>
											</div>
										</div>
										<div class="col-md-8">
											<select class="form-control select2" style="width: 100%;" name="estadoBien" [(ngModel)]="paramBien.estadoBien"
											 [disabled]="paramAgregar.estado == 'FINALIZADO'">
												<option selected="selected" value="-1">:: SELECCIONE OPCIÓN ::</option>
												<option *ngFor="let objs of dataCaracteristicasBien.EstadosBien | keyvalue" [value]="objs.value.COD_ESTADO_BIEN">{{
													objs.value.DESCRIPCION_ESTADO_BIEN }}</option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-4">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Observación</span>
											</div>
										</div>
										<div class="col-md-8">
											<input type="text" class="form-control" placeholder="Ingrese Observación" [(ngModel)]="paramBien.observacion"
											 aria-label="Username" aria-describedby="basic-addon1" [disabled]="paramAgregar.estado == 'FINALIZADO'">
										</div>
									</div>
									<div class="footer">
										<div class="col-md-12">
											<button class="btn btn-primary pull-left btn btn-danger" (click)="modal.dismiss('Cross click')">Cerrar</button>
											<button class="btn btn-primary pull-right" (click)="Guardar_Caracteristicas_Bien()" [disabled]="paramAgregar.estado == 'FINALIZADO'">Guardar
												Caracteristicas</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="b_ventanaObservacionesValidacion">
		<div class="modal-header p-2">
			<h5 class="modal-title" id="modal-basic-title"></h5>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<table class="table table-bordered" *ngIf='cantidadduplicado_bienes > 0'>
				<tr>
					<th style="width: 10px">Item</th>
					<th>Cod. Patrimonial</th>
					<th>Denominación del Bien </th>
					<th style="width: 40px">Nro. Documento Adquisición</th>
					<th style="width: 40px">Fecha Doc. Adquisición</th>
				</tr>
				<tr *ngFor="let obj of dataObservacionValidacion.duplicado_bienes | keyvalue">
					<td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
					<td>{{ obj.value.CODIGO_PATRIMONIAL }} </td>
					<td>{{ obj.value.DENOMINACION_BIEN }}</td>
					<td>{{ obj.value.NRO_DOCUMENTO_ADQUIS }}</td>
					<td>{{ obj.value.FECHA_DOCUMENTO_ADQUIS }}</td>
				</tr>
			</table>
			<table class="table table-bordered" *ngIf='cantidadduplicado_actos > 0'>
				<tr>
					<th style="width: 10px">Item</th>
					<th>Tipo de Acto</th>
					<th>Nro. Acto</th>
					<th style="width: 40px">Fecha Acto</th>
					<th style="width: 40px">Cantidad Repetidos</th>
				</tr>
				<tr *ngFor="let obj of dataObservacionValidacion.duplicado_actos | keyvalue">
					<td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
					<td>{{ obj.value.TIPO_ACTO }} </td>
					<td>{{ obj.value.NRO_DOC_ACTOS }}</td>
					<td>{{ obj.value.FECHA_ACTOS }}</td>
					<td>{{ obj.value.CANTIDAD_REPETIDOS }}</td>
				</tr>
			</table>
			<table class="table table-bordered" *ngIf='cantidaderrores_columnas > 0'>
				<tr>
					<th style="width: 10px">Item</th>
					<th>Nro. Fila</th>
					<th>Nro. Columna</th>
					<th style="width: 40px">Descripción de Errores</th>
				</tr>
				<tr *ngFor="let obj of dataObservacionValidacion.errores_columnas | keyvalue">
					<td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
					<td>{{ obj.value.NRO_FILA }} </td>
					<td>{{ obj.value.COLUMNA }}</td>
					<td>{{ obj.value.DESCRIPCION_ERRORES }}</td>
				</tr>
			</table>
		</div>
		<div class="footer">
			<div class="col-md-12">
				<button class="btn btn-primary pull-right btn btn-danger" (click)="modal.dismiss('Cross click'); b_ventanaObservacionesValidacion = false;">Cerrar</button>
			</div>
		</div>
	</div>
</ng-template>