
<div class="box box-info">
                  
  <div class="box-header with-border">
      <div class="alert alert-primary" role="alert"> 
          Registro de Entrega de Forma Masiva
      </div>
    <h3 class="box-title">Datos de la Recepción de Bienes</h3> 
    
  </div>


  <div class="box-header with-border">
    <a [href]="RutaSinabip+'Manuales-Sinabip/Formato_Carga_Masiva_Reingreso_v1.xlsm'" target="__blank">
      Paso Nº 1: Descargar el formato EXCEL "Carga Masiva Entrega de Bienes  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img [src]="RutaSinabip+'sgisbn/webimages/iconos/excel.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">
    </a><br>
    <a [href]="RutaSinabip+'Manuales-Sinabip/ESTRUCTURA_FORMATO_REINGRESO-ENTREGA.pdf'" target="__blank">
      Paso Nº 2: Descargar la estructura del formato PDF "Carga Masiva Entrega de Bienes  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">
    </a><br>
    <label>Paso Nº 3: Validar y Generar el archivo TXT</label><br>
    <label>Paso Nº 4: Adjuntar archivo TXT</label>

  </div>


  <div class="box-body centrado margin2">
    <table>
      <tr>
        <td> 
          <label>Adjuntar Archivo:</label>  
        </td>
        <td> 
          <angular-file-uploader
            [config]="afuConfig"
            (ApiResponse)="AdjuntarReingresotxt($event)">
          </angular-file-uploader>
        </td>
      </tr>
    </table>
  </div>

  
  <!-- PASOS DE CARGA MASIVA -->
  <div class="box box-primary" *ngIf="estado_adjuntar == 'OK'">
      <div class="box-header with-border">
        <h3 class="box-title">Pasos para la Carga Masiva</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <ul class="products-list product-list-in-box">
          <li class="item">
            <div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA'">
              <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="CargarEntregaTXT()" >Cargar</a>
            </div>
            <div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA'">
                <span class="product-description" style="color: red">CARGADO</span>
            </div>
            <div class="product-info">
              <a href="javascript:void(0)" class="product-title">Datos de la Carga
                <span class="label label-warning pull-right" style="font-size: 15px">Registros cargados: {{ estado_carga_total }}</span></a> 
              <span class="product-description">
                    Fecha de Carga: {{estado_carga_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
              </span>
            </div>
          </li>
          <!-- /.item -->
          <li class="item">
              <div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_adjuntar == 'OK'">
                <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="ValidarEntregaTXT(content)">Validar</a>
              </div>
              <div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion == 'VALIDACION_SATISFACTORIA'">
                  <span class="product-description" style="color: red">VALIDADO</span>
              </div>
              <div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA'">
                  <span class="product-description" style="color: red">PENDIENTE</span>
              </div>
              <div class="product-info">
                <a href="javascript:void(0)" class="product-title">Datos de la Validación
                  <span class="label label-warning pull-right" style="font-size: 15px">Registros Validados: {{ estado_validacion_total }}</span></a>
                <span class="product-description">
                      Fecha de validación: {{estado_validacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
                    </span>
              </div>
              
            </li>
          <!-- /.item -->
          <li class="item">
              <div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA' ">
                <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="FinalizarEntregaTXT()" >Finalizar</a>
              </div>
              <div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion == 'FINALIZACION_SATISFACTORIA'">
                  <span class="product-description" style="color: red">FINALIZADO</span>
              </div>
              <div class="product-img" *ngIf="estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA'">
                  <span class="product-description" style="color: red">PENDIENTE</span>
              </div>
              <div class="product-info">
                <a href="javascript:void(0)" class="product-title">Datos de la Finalización
                  <span class="label label-warning pull-right" style="font-size: 15px">Registros Finalizados: {{ estado_finalizacion_total }}</span></a>
                <span class="product-description">
                      Fecha de Finalización: {{estado_finalizacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
                    </span>
              </div>
            </li>
        </ul>
      </div>
      
    </div>
  <!-- FIN DE PASOS DE CARGA MASIVA -->

  <!-- <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right" (click)="Guardar_Actos()">Guardar</button>
  </div> -->
</div>


<ng-template #content let-modal>

  <div *ngIf="b_ventanaObservacionesValidacion" >
	  
		<div class="modal-header p-2">
		  <h5 class="modal-title" id="modal-basic-title"></h5>
		  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">


        <div class="alert alert-info" role="alert" *ngIf='cantidadNo_existe_codigos_pat > 0'>
            <span style="font-size: 16px">Bienes Patrimoniales <strong>no se encuentran registrados en los Actos de Adquisición</strong></span>
        </div>
        <table class="table table-bordered" *ngIf='cantidadNo_existe_codigos_pat > 0'>
            <tr>
              
              <th style="width: 10px">Item</th>
              <th>Cod. Patrimonial</th>
              <th>Denominación del Bien </th>
              <th style="width: 40px">Nro. Resolución</th>
              <th style="width: 40px">Fecha Resolución</th>
            </tr>

            <tr *ngFor="let obj of dataObservacionValidacion.no_existe_codigos | keyvalue">
              <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
              <td>{{ obj.value.CODIGO_PATRIMONIAL }} </td>
              <td>{{ obj.value.DENOMINACION_BIEN }}</td>
              <td>{{ obj.value.NRO_DOC_ADQUISICION }}</td>
              <td>{{ obj.value.FECHA_ADQUISICION }}</td>
            </tr>
            
        </table>



        <div class="alert alert-info" role="alert" *ngIf='cantidadNo_disponible_bienes > 0'>
            <span style="font-size: 16px">Bienes Patrimoniales <strong>no se encuentran disponibles para la Administración</strong></span>
        </div>
        <table class="table table-bordered" *ngIf='cantidadNo_disponible_bienes > 0'>
            <tr>
              
              <th style="width: 10px">Item</th>
              <th>Cod. Patrimonial</th>
              <th>Denominación del Bien </th>
              <th style="width: 40px">Nro. Documento</th>
              <th style="width: 40px">Fecha Documento</th>
              <th style="width: 40px">Situación</th>
            </tr>

            <tr *ngFor="let obj of dataObservacionValidacion.no_disponibles | keyvalue">
              <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
              <td>{{ obj.value.CODIGO_PATRIMONIAL }} </td>
              <td>{{ obj.value.DENOMINACION_BIEN }}</td>
              <td>{{ obj.value.NRO_DOC_ADQUISICION }}</td>
              <td>{{ obj.value.FECHA_ADQUISICION | date:"dd-MM-yyyy"}}</td>
              <td>{{ obj.value.MOVIMIENTO }}</td>
            </tr>
        </table>
		  
			<div class="alert alert-info" role="alert" *ngIf='cantidadduplicado_bienes > 0'>
				<span style="font-size: 16px">Bienes Patrimoniales <strong>ya se encuentran registrados</strong></span>
			</div>
			<table class="table table-bordered" *ngIf='cantidadduplicado_bienes > 0'>
				<tr>
				  
				  <th style="width: 10px">Item</th>
				  <th>Cod. Patrimonial</th>
				  <th>Denominación del Bien </th>
				  <th style="width: 40px">Nro. Documento Adquisición</th> 
				  <th style="width: 40px">Fecha Doc. Adquisición</th>
				</tr>

				<tr *ngFor="let obj of dataObservacionValidacion.duplicado_bienes | keyvalue">
				  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
				  <td>{{ obj.value.CODIGO_PATRIMONIAL }} </td>
				  <td>{{ obj.value.DENOMINACION_BIEN }}</td>
				  <td>{{ obj.value.NRO_DOCUMENTO_ADQUIS }}</td>
				  <td>{{ obj.value.FECHA_DOCUMENTO_ADQUIS | date:"dd-MM-yyyy"}}</td>
				</tr>
				
			</table>

			<div class="alert alert-info" role="alert" *ngIf='cantidadduplicado_actos > 0'>
				<span style="font-size: 16px">Actos de Adquisición <strong>duplicados en la carga</strong></span>
			</div>
			<table class="table table-bordered" *ngIf='cantidadduplicado_actos > 0'>                    
				<tr>
				  <th style="width: 10px">Item</th>
				  <th style="width: 70px">Nro. Acto</th>
				  <th style="width: 20px">Cantidad Repetidos</th>
				</tr>

				<tr *ngFor="let obj of dataObservacionValidacion.duplicado_actos | keyvalue">
				  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
				  <td>{{ obj.value.NRO_DOC_ACTOS }}</td>
				  <td>{{ obj.value.CANTIDAD_REPETIDOS }}</td>
				</tr>
				
			</table>

			<div class="alert alert-info" role="alert" *ngIf='cantidaderrores_columnas > 0'>
				<span style="font-size: 16px"><strong>Errores de </strong>Validación en columnas Excel</span>
			</div>
			<table class="table table-bordered" *ngIf='cantidaderrores_columnas > 0'> 
				<tr>
				  <th style="width: 10px">Item</th>
				  <th>Nro. Fila</th>
				  <th>Nro. Columna</th>
				  <th style="width: 40px">Descripción de Errores</th>
				</tr>

				<tr *ngFor="let obj of dataObservacionValidacion.errores_columnas | keyvalue">
				  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
				  <td>{{ obj.value.NRO_FILA }} </td>
				  <td>{{ obj.value.COLUMNA }}</td>
				  <td>{{ obj.value.DESCRIPCION_ERRORES }}</td>
				</tr>
			</table>
			<div class="footer">
			  <button class="btn btn-primary pull-right btn btn-danger" (click)="modal.dismiss('Cross click'); b_ventanaObservacionesValidacion = false;">Cerrar</button>
			</div>
			<br><br>
		</div>

		

	</div>

</ng-template>