<section class="content-header">
	<h1>
		TRASLADO DE BIENES MUEBLES
		<small></small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="col">
				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<form action="#" align="center">
									<div class="col-6 col-md-4">
										<h4> SERVIDOR A REALIZAR TRASLADO: </h4>
									</div>
									<div class="col-6 col-md-7">
										<h4 class="posicionMens"> {{NomPersonal}} </h4>
									</div>
									<div class="col-6 col-md-3">&nbsp;</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="box box-solid box-danger">
					<div class="box-header">
						<h3 class="box-title">BUSCADOR</h3>
						<div class="box-tools pull-right">
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<div class="col-6 col-md-12">&nbsp;</div>
								<div class="col-6 col-md-2">
									<p align="center">Cód. Patrimonial:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="cod_patrimonial1" type="text" class="form-control my-colorpicker1" name="cod_patrimonial1"
									[(ngModel)]="filtro.cod_patrimonial">
								</div>
								<div class="col-6 col-md-2">
									<p align="center">Denominación:</p>
								</div>
								<div class="col-6 col-md-2">
									<input id="denominacion1" type="text" class="form-control my-colorpicker1" name="denominacion1" [(ngModel)]="filtro.denominacion">
								</div>
								<div class="col-6 col-md-4">
									<button type="button" class="btn btn-primary botn-blq-1" (click)="resetearpag()" (click)="ListadoTrasladoPerson(2)"><i
										class="fa fa-search"></i> Buscar</button>&nbsp;&nbsp;
									<button type="reset" value="" class="btn btn-primary botn-blq-1" (click)="resetearlimpiarpag()"><i class="fa fa-close"></i>
										Borrar</button>
								</div>
								<div class="col-6 col-md-12">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>

				<div class="box box-solid box-danger">
					<div class="box-body">
						<div class="row">
							<div class="col v2 subtit">
								<form action="#" align="center">
									<div class="col-6 col-md-5">
										<h4 class="posicionMens">Seleccione Bienes para el traslado </h4>
									</div>
									<div class="col-6 col-md-2">&nbsp;</div>
									<div class="col-6 col-md-5">
										<button type="button" class="prueba btn btn-primary botn-blq-4" (click)='open(content,1)'> Trasladar Todo
										</button>&nbsp;&nbsp;
										<button type="reset" value="" class="btn btn-primary botn-blq-5" (click)='open(content,2)'> Trasladar
											Seleccionados </button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="box box-solid box-danger">
							<div class="box-header">
								<h3 class="box-title">Lista de bienes Trasladar</h3>
							</div>
							<div class="box-body">
								<table id="example2" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>
												<p align="center">Item</p>
											</th>
											<th>
												<p align="center">Codigo Patrimonial</p>
											</th>
											<th>
												<p align="center">Denominación</p>
											</th>
											<th>
												<p align="center">Nro Asignación</p>
											</th>
											<th>
												<p align="center">Trasladar<br />Bien</p>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of ListBienTrasl_Arg ">
											<td align="center">{{obj.ITEM}}</td>
											<td align="center">{{obj.CODIGO_PATRIMONIAL}}</td>
											<td align="center">{{obj.DENOMINACION_BIEN}}</td>
											<td align="center">{{obj.NUMERO_ASIG}}</td>
											<td align="center">
												<input type="checkbox" name="lenguaje[]" [(ngModel)]="obj.seleccionado" (change)="almacenarcodpatrim(obj.seleccionado,obj.CODIGO_PATRIMONIAL)"
												value="False" class="checkAll" *ngIf="obj.FLAGPERS!=1" aria-label="Checkbox for following text input">
											</td>
										</tr>
									</tbody>
								</table>
								<nav class="mt-3" *ngIf="total >= itemsPerPage">
									<ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5"
									[rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<ng-template #content let-c="close" let-d="dismiss">
	<div class="box box-solid box-danger">
		<div class="box-header">
			<h3 class="box-title">TIPO DE TRASLADO Y UBICACIÓN</h3>
			<div class="box-tools pull-right">
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">&nbsp;</div>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Seleccione Tipo de Translado</div>
					<div class="panel-body">
						<div class="input-group">
							<div class="row">
							<div class="col-md-7">
								<div class="input-group-prepend">
									<span class="tipo_trans" id="basic-addon1">Tipo de Translado:</span>
								</div>
							</div>
							<div class="col-md-5">
								<select class="select2"  (change)="Actualizatipotrasl()" [(ngModel)]="ListadoAreaPredio.Tipotraslado">
									<option selected="selected" value="">:: SELECCIONAR ::</option>
									<option *ngFor="let objs of TipoTraslado_Arg" [value]="objs.ESTADO_PARAMETRO">
										{{ objs.DESCRIPCION_ESTADO }}
									</option>
								</select>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- class="margen_form" -->
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<div class="row" *ngIf="ListadoAreaPredio.Tipotraslado == 1 || ListadoAreaPredio.Tipotraslado == 2">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">Seleccione la ubicación del bien</div>
						<div class="panel-body">
							<div class="input-group mb-3">
								<div class="row">
									<div class="col-md-2" *ngIf="ListadoAreaPredio.Tipotraslado == 2">&nbsp;</div>
									<div class="col-md-4" *ngIf="ListadoAreaPredio.Tipotraslado == 2">
										<div class="input-group-prepend">
											<span class="Person" id="basic-addon1">Servidor: </span>
										</div>
									</div>
									<div class="col-md-6" *ngIf="ListadoAreaPredio.Tipotraslado == 2">
										<select class="form-control select2" style="width: 100%;" (change)="Actualizaperson()" [(ngModel)]="ListadoAreaPredio.id_personal"
										[ngModelOptions]="{standalone: true}">
											<option selected="selected" value="">:: TODOS ::</option>
											<option *ngFor="let objs of ListPers_Arg" [value]="objs.COD_UE_PERS">
												{{ objs.PERSONAL }}
											</option>
										</select>
									</div>
									<div class="col-md-12" *ngIf="ListadoAreaPredio.Tipotraslado == 2">&nbsp;</div>
								</div>
								<div class="row">
									<div class="col-md-2">&nbsp;</div>
									<div class="col-md-4">
										<div class="input-group-prepend">
											<span class="Local" id="basic-addon1">Local: </span>
										</div>
									</div>
									<div class="col-md-6">
										<select formControlName="formapredio" class="form-control select2" [ngClass]="{ 'is-invalid': submitted && f.formapredio.errors }"
										style="width: 100%;" (change)="ActualizaArea()">
											<option selected="selected" value="">:: TODOS ::</option>
											<option *ngFor="let objs of ListPred_Arg" [value]="objs.ID_PREDIO_SBN">
												{{ objs.DENOMINACION_PREDIO }}
											</option>
										</select>
										<div *ngIf="submitted && f.formapredio.errors" class="invalid-feedback">
											<div *ngIf="f.formapredio.errors.required">Predio requerido</div>
										</div>
									</div>
									<div class="col-md-12">&nbsp;</div>
								</div>
								<div class="row">
									<div class="col-md-2">&nbsp;</div>
									<div class="col-md-4">
										<div class="input-group-prepend">
											<span class="Area" id="basic-addon1">Area: </span>
										</div>
									</div>
									<div class="col-md-6">
										<select formControlName="formaarea" class="form-control select2" [ngClass]="{ 'is-invalid': submitted && f.formaarea.errors }"
										style="width: 100%;">
											<option selected="selected" value="">:: TODOS ::</option>
											<option *ngFor="let objs of ListArea_Arg" [value]="objs.COD_UE_AREA">
												{{ objs.DESC_AREA }}
											</option>
										</select>
										<div *ngIf="submitted && f.formaarea.errors" class="invalid-feedback">
											<div *ngIf="f.formaarea.errors.required">Area requerido</div>
										</div>
									</div>
									<div class="col-md-12">&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body posicion2">
						<div class="input-group mb-3" *ngIf="ListadoAreaPredio.Tipotraslado == 1 || ListadoAreaPredio.Tipotraslado == 2">
							<div class="col-md-2">&nbsp;</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar</button>
							</div>
							<div class="col-md-1">&nbsp;</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button>
							</div>
							<div class="col-md-2">&nbsp;</div>
						</div>
						<div class="input-group mb-3" *ngIf="ListadoAreaPredio.Tipotraslado == '' ">
							<div class="col-md-4">&nbsp;</div>
							<div class="col-md-4">
								<button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar</button>
							</div>
							<div class="col-md-4">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>