<section class="content-header">
  <h1>
    Eliminación de bienes muebles
    <small></small>
  </h1>
  
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12" [ngClass]="{'col-md-7' : 
              (mostrarVentanaEliminarSeleccionados && !mostrarVentanaResumenEliminacion) ||
              (!mostrarVentanaEliminarSeleccionados && mostrarVentanaResumenEliminacion) || 
              (flag_carga_masiva ==1) }">
        <div class="box box-solid box-danger">
            <div class="box-header">
              <h3 class="box-title">Búsqueda de bienes</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Código patrimonial</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.CODIGO_PATRIMONIAL">
                        </div>  
                    </div>  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Denominación</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.DENOMINACION">
                        </div>
                    </div>                            
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Número de documento</label>
                            <input type="text" class="form-control" [(ngModel)] = "filtro.NRO_DOCUMENTO_ADQUIS">
                        </div>  
                    </div>  
                              
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha Adquisición Inicio</label>
                            <input type="date" class="form-control" [(ngModel)] = "filtro.FECHA_DOCUMENTO_ADQUIS" id="datepicker">
                        </div>
                    </div>                            
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha Adquisición Final</label>
                            <input type="date" class="form-control" [(ngModel)] = "filtro.FECHA_DOCUMENTO_ADQUISHASTA" id="datepicker">
                        </div>
                    </div>      
                  </div>
                </div>
                <div class="row">
                <div class="col-md-2">  
                  <div class="form-group"> 
                      <button type="button" class="btn btn-primary btn-sm" (click)="BusquedaEliminados()"><i class="fa fa-search"></i> Buscar</button>
                  </div>
                  <div class="form-group">
                      <button type="button" class="btn btn-primary btn-sm" (click)="BorrarFiltro()"><i class="fa fa-close"></i> Borrar</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          
          <div class="box box-solid box-danger">
            <div class="box-body">
              <!-- <div class="row"> -->
                <div class="col v2 subtit">
                  <form action="#" align="center">
                    <div class="col-6 col-md-5">
                        <button type="button" value="" class="btn btn-primary botn-blq-4 botn-blq-5" (click)='carga_masiva()'> 
                            Elimninación Masiva
                        </button>
                    </div>
                    <div class="col-6 col-md-2">	
                    </div>
                    <div class="col-6 col-md-5">
                    </div> 
                    <div class="box-footer">
                      <a [href]="RutaSinabip+'Manuales-Sinabip/MANUAL_ELIMINACION.pdf'" target="__blank">
                        <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">&nbsp;&nbsp;&nbsp;
                          Descargar Guía de Usuario: Eliminación</a>
                    </div>
                  </form>
                </div>
              <!-- </div> -->
            </div>
          </div>

          <!-- /.box -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-solid box-danger">
                <div class="box-header">
                  <h3 class="box-title">Listado de bienes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>CODIGO PATRIMONIAL</th>
                        <th>DENOMINACIÓN</th>
                        <th>Nª ADQUISICIÓN</th>
                        <th><button class="btn btn-danger" (click)="ventanaEliminacionSeleccionados()">ELIMINAR</button></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of dataEliminacion.elim"> 
                        <td>{{ obj.ROW_NUMBER_ID }} </td>
                        <td>{{ obj.CODIGO_PATRIMONIAL }}</td>
                        <td>{{ obj.DENOM_BIEN }}</td>
                        <td>{{ obj.NRO_DOCUMENTO_ADQUIS }}</td>
                        <td>
                            <input type="checkbox" name="lenguaje[]" [(ngModel)]="obj.seleccionado" (change)="almacenarBienes(obj.seleccionado,obj.CODIGO_PATRIMONIAL)" value="False" class="checkAll" *ngIf="obj.FLAGPERS!=1"  aria-label="Checkbox for following text input">
                        </td>
                      </tr>
                    </tbody>
                    
                  </table>
                  <nav class="mt-3" *ngIf="total >= itemsPerPage">
                    <ngb-pagination [collectionSize]="total" [pageSize]="itemsPerPage" [(page)]="filtro.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                  </nav>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-5" *ngIf="mostrarVentanaEliminarSeleccionados">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Registro de resolución para eliminación de bienes</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nº Oficio</label>   
                  <input maxlength="100" type="text" formControlName="oficio" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.oficio.errors }" placeholder="Ingresa el Nº de oficio">
                  <div *ngIf="submitted && f.oficio.errors" class="invalid-feedback">
                    <div *ngIf="f.oficio.errors.required">Nº de Oficio es requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nº Resolución</label>   
                  <input maxlength="100" type="text" formControlName="resolucion" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.resolucion.errors }" placeholder="Ingresa el Nº de Resolucion">
                  <div *ngIf="submitted && f.resolucion.errors" class="invalid-feedback">
                    <div *ngIf="f.resolucion.errors.required">Nº de Resolución es requerido</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nº Informe</label>   
                  <input maxlength="100" type="text" formControlName="informe" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.informe.errors }" placeholder="Ingresa el Nº de Informe">
                  <div *ngIf="submitted && f.informe.errors" class="invalid-feedback">
                    <div *ngIf="f.informe.errors.required">Nº de Informe es requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fecha</label>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input maxlength="100" type="date" formControlName="fecha" class="form-control pull-right" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }" id="datepicker">
                    <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                      <div *ngIf="f.fecha.errors.required">Fecha es requerida</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Motivo de Eliminación</label>   
                  <textarea maxlength="250" type="text" formControlName="motivos" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.motivos.errors }" placeholder="Ingresa el motivo de eliminación">
                  </textarea>
                    <div *ngIf="submitted && f.motivos.errors" class="invalid-feedback">
                    <div *ngIf="f.motivos.errors.required">Motivo de eliminación es requerido</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <button class="btn btn-primary pull-left">Procesar eliminación</button>  
              <button class="btn btn-primary pull-right btn btn-danger" (click)="this.mostrarVentanaEliminarSeleccionados = false;">Cerrar</button>  
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5" *ngIf="mostrarVentanaResumenEliminacion">
      <div class="row">
          <div class="col-xs-12">
            <div class="box box-solid box-danger">
              <div class="box-header">
                <h3 class="box-title">Listado de bienes eliminados</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Oficio</span>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{this.paramRecod.oficio}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Motivo</span>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{this.n_motivos}}</span>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Informe</span>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{this.paramRecod.informe}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Resolución</span>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{this.paramRecod.resolucion}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1" [ngStyle]="{'font-weight': 'bold'}">Fecha</span>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{this.paramRecod.fecha}}</span>
                    </div>
                  </div>
                </div>
                <br>
                <table id="example2" class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>ÍTEM/th>
                      <th>CÓDIGO PATRIMONIAL</th>
                      <th>DENOMINACIÓN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of this.dataDetalleEliminacion">
                      <td>{{ obj.ROW_NUMBER_ID }} </td>
                      <td>{{ obj.CODIGO_PATRI }}</td>
                      <td>{{ obj.DENOM_BIEN }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="box-footer">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-left btn btn-danger" (click)="ImprimirReporteEliminacion()">Imprimir</button>
                    <button class="btn btn-primary pull-right" (click)="FinalizarEliminacion()">Finalizar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

			<!-- ADJUNTAR TXT DE ACTUALIZACION MASIVA DE DEPRECIACION --> 

			<div class="col-md-5" *ngIf="flag_carga_masiva ==1 ">
	
				<div class="box box-info">
	
					<div class="box-header with-border">
						<div class="alert fondoinfocolor" role="alert">
							<b style="color: red">ELIMINACIÓN MASIVA DE BIENES</b>
							<div class="box-tools pull-right">
								<button type="button" (click)="desabilitar_ventana()" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<h3 class="box-title">Datos de la Eliminación</h3>
					</div>
					<div class="col-6 col-md-5">
					</div>
          <div class="box-header with-border">
            <a [href]="RutaSinabip+'Manuales-Sinabip/Formato_Carga_Masiva_Eliminacion_v1.xlsm'" target="__blank">
              Paso Nº 1: Descargar el formato EXCEL "Carga Masiva Eliminación  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img [src]="RutaSinabip+'sgisbn/webimages/iconos/excel.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">
            </a><br>
            <a [href]="RutaSinabip+'Manuales-Sinabip/ESTRUCTURA_FORMATO_ELIMINACION.pdf'" target="__blank">
              Paso Nº 2: Descargar la estructura del formato PDF "Carga Masiva Eliminación  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <img [src]="RutaSinabip+'sgisbn/webimages/iconos/pdf.png'" width="27" height="27" border="0" align="absmiddle" alt="Manual_de_usuario">
            </a><br>
            <label>Paso Nº 3: Validar y Generar el archivo TXT</label><br>
            <label>Paso Nº 4: Adjuntar archivo TXT</label>

          </div>
					<div class="box-body centrado margin2" *ngIf="habilitar_adjuntar != '1'">
						<table>
							<tr>
								<td>
									<label>Adjuntar Archivo:</label>
								</td>
								<td>
									<angular-file-uploader [config]="afuConfig2" (ApiResponse)="Adjuntareliminaciontxt($event)">
									</angular-file-uploader>
								</td>
							</tr>
						</table>
					</div>
					<div class="box box-primary">
						<div class="box box-primary" *ngIf="estado_adjuntar == 'OK'">
							<div class="box-header with-border">
								<h3 class="box-title">Pasos para la Carga Masiva</h3> 
	
							</div>
							<div class="box-body">
								<ul class="products-list product-list-in-box">
									<li class="item">
										<div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA'">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="CargarEliminacionTXT()">Cargar</a>
										</div>
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA'">
											<span class="product-description" style="color: red">CARGADO</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Carga
												<span class="label label-warning pull-right" style="font-size: 15px">Registros cargados: {{
													estado_carga_total }}</span></a>
											<span class="product-description">
												Fecha de Carga: {{estado_carga_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
									<li class="item">
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_adjuntar == 'OK'">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="ValidarEliminacionTXT(content)">Validar</a>
										</div>
										<div class="product-img" *ngIf="estado_carga == 'CARGA_SATISFACTORIA' && estado_validacion == 'VALIDACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">VALIDADO</span>
										</div>
										<div class="product-img" *ngIf="estado_carga !== 'CARGA_SATISFACTORIA' && estado_validacion !== 'VALIDACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">PENDIENTE</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Validación
												<span class="label label-warning pull-right" style="font-size: 15px">Registros Validados: {{
													estado_validacion_total }}</span></a>
											<span class="product-description">
												Fecha de validación: {{estado_validacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
									<li class="item">
										<div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA' ">
											<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="FinalizarEliminacionTXT()">Finalizar</a>
										</div>
										<div class="product-img" *ngIf="estado_validacion == 'VALIDACION_SATISFACTORIA' && estado_finalizacion == 'FINALIZACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">FINALIZADO</span>
										</div>
										<div class="product-img" *ngIf="estado_validacion !== 'VALIDACION_SATISFACTORIA' && estado_finalizacion !== 'FINALIZACION_SATISFACTORIA'">
											<span class="product-description" style="color: red">PENDIENTE</span>
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Datos de la Finalización
												<span class="label label-warning pull-right" style="font-size: 15px">Registros Finalizados: {{
													estado_finalizacion_total }}</span></a>
											<span class="product-description">
												Fecha de Finalización: {{estado_finalizacion_fecha | date:"dd/mm/yyyy hh:mm:ss"}}
											</span>
										</div>
									</li>
								</ul>
							</div>
	
						</div>
					</div>
				</div>
      </div>
      


  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
	<!-- Formulario de Observaciones de Validacion -->
	<div *ngIf="cantidadNo_existe_codigos_pat > 0 || cantidaderrores_columnas > 0">
			<div class="modal-header p-2">
			  <h5 class="modal-title" id="modal-basic-title"></h5>
			  <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll();">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">  
				<div class="alert alert-info" role="alert" *ngIf='cantidadNo_existe_codigos_pat > 0'>
					<span style="font-size: 16px">Bienes Patrimoniales <strong>no se encuentran registrados</strong></span>
				</div>
				<table class="table table-bordered" *ngIf='cantidadNo_existe_codigos_pat > 0'>
					<tr>
					  <th style="width: 10px">Item</th>
					  <th style="width: 200px">Cod. Patrimonial</th>
					  <th style="width: 60px">Valor Neto</th>
					</tr>

					<tr *ngFor="let obj of dataObservacionValidacion.no_existe_codigos | keyvalue">
					  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
					  <td>{{ obj.value.CODIGO_PATRIMONIAL }} </td>
					  <td>{{ obj.value.VALOR_NETO }}</td>
					</tr>
				</table>

				<div class="alert alert-info" role="alert" *ngIf='cantidaderrores_columnas > 0'>
					<span style="font-size: 16px"><strong>Errores de </strong>Validación en columnas Excel</span>
				</div>
				<table class="table table-bordered" *ngIf='cantidaderrores_columnas > 0'>
					<tr>
					  <th style="width: 10px">Item</th>
					  <th>Nro. Fila</th>
					  <th>Nro. Columna</th>
					  <th style="width: 40px">Descripción de Errores</th>
					</tr>

					<tr *ngFor="let obj of dataObservacionValidacion.errores_columnas | keyvalue">
					  <td><span class="badge bg-red">{{ obj.value.ROW_NUMBER_ID }}</span></td>
					  <td>{{ obj.value.NRO_FILA }} </td>
					  <td>{{ obj.value.COLUMNA }}</td>
					  <td>{{ obj.value.DESCRIPCION_ERRORES }}</td>
					</tr>
				</table>

				<div class="footer">
					<div class="col-md-12">
						<button class="btn btn-primary pull-right btn btn-danger" (click)="modalService.dismissAll(); b_ventanaObservacionesValidacion = false;">Cerrar</button>
					</div>
				</div>
				<br><br>
			</div>
	</div>	
	<!-- Fin de Formulario de Observaciones de Validacion -->

</ng-template>